FUTUR-DOC/I - Archive/Archive-SynthèseRZNov2025/code-provisoire/oldMorceauflowsUi-VArG.json
[
    {
        "id": "01b7c8489b5e72b4",
        "type": "tab",
        "label": "sauvUiVARG",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b0ebe3486a3f8aad",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "IMP - Gestions des vars - Gestion enrichedVArs",
        "info": "| Élément                                   | Fonction                                                 |\n| ----------------------------------------- | -------------------------------------------------------- |\n| 🧠 `Init enrichedVars`                    | Création initiale des objets `led`, `us`, `servo`        |\n| 🔽 `ui_dropdown`                          | Sélection d'une variable existante ou `\"➕ nouvelle-var\"` |\n| 📝 `ui_form`                              | Formulaire dynamique pré-rempli ou vide                  |\n| 🧩 `function` de mise à jour              | Mise à jour ou création d'une variable                   |\n| 📊 `ui_table`                             | Vue globale de toutes les variables enrichies            |\n| 📤📥 `export/import JSON`                 | Sauvegarde/restauration                                  |\n| 🆘 `ui_text` (groupe `Aide enrichedVars`) | Explication directement dans le dashboard                |\nacceder à node_red_data :\n/data/data/com.termux/files/home/node_red_data\n\nacceder à enriched vars depuis node_red_data\n/context/global -> enrichedVars est dans global.json\n",
        "x": 600,
        "y": 180,
        "wires": [],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "66339ad2e4063317",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "name": "initialisationVarGV4",
        "label": "Initialiser",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "initVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 500,
        "wires": [
            [
                "475a860e20b65644"
            ]
        ]
    },
    {
        "id": "616947f3b7a3a18b",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "name": "synchroV4",
        "label": "Synchroniser",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "`refresh`",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "actuEtSauvVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1130,
        "y": 640,
        "wires": [
            [
                "6d2df31bf7b6cb98"
            ]
        ]
    },
    {
        "id": "34c974ca229e3ae6",
        "type": "link in",
        "z": "01b7c8489b5e72b4",
        "name": "gestion-VarG",
        "links": [
            "16644df1dfd047f1"
        ],
        "x": 535,
        "y": 360,
        "wires": [
            [
                "393dcd5869fec891",
                "616947f3b7a3a18b",
                "66339ad2e4063317",
                "418931ad82cc1866",
                "a7d0f6dc983b9221",
                "9533c1d94e895d68",
                "1197e0f1412c22cc"
            ]
        ]
    },
    {
        "id": "6d2df31bf7b6cb98",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "synchronisation",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// Supprimer enrichedVars du stockage par défaut\nglobal.set(\"enrichedVars\", undefined, storeDefault);\n\n// Récupération des variables globales du stockage par défaut\nconst allKeys = global.keys(storeDefault) || [];\nlet globalVars = {};\nallKeys.forEach(key => {\n    if (key !== \"enrichedVars\") {\n        const val = global.get(key, storeDefault);\n        globalVars[key] = (typeof val === \"object\") ? JSON.parse(JSON.stringify(val)) : val;\n    }\n});\n\n// Chargement de enrichedVars depuis le stockage fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile (string => typed)\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);\n    }\n}\n\n// 🔄 Conversion utile (typed => string ou JSON)\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// 🧠 Traitement des variables globales existantes\nObject.keys(globalVars).forEach(key => {\n    const val = globalVars[key];\n    const type = typeof val;\n    if (enrichedVars[key] && enrichedVars[key].instances && enrichedVars[key].proprietesByInstance) {\n        const { instances, proprietesByInstance } = enrichedVars[key];\n        const { proprietes } = proprietesByInstance;\n\n        // Initialiser les schémas pour les objets\n        proprietes.forEach(p => {\n            if (p.type === \"object\" && !p.schema) {\n                p.schema = {};\n            }\n        });\n\n        instances.forEach(instance => {\n            if (!proprietesByInstance.valeurs) proprietesByInstance.valeurs = {};\n            if (!proprietesByInstance.valeurs[instance]) proprietesByInstance.valeurs[instance] = {};\n            proprietes.forEach(prop => {\n                const propName = prop.nom;\n                const propType = prop.type;\n                const sourceValue = val?.[instance]?.[propName];\n                if (sourceValue !== undefined) {\n                    proprietesByInstance.valeurs[instance][propName] = convertFromString(sourceValue, propType);\n                } else {\n                    proprietesByInstance.valeurs[instance][propName] = defaultForType(propType);\n                }\n            });\n            // Gérer les abbrProprietes\n            if (val._abbrProprietes) {\n                proprietes.forEach(prop => {\n                    if (val._abbrProprietes[prop.nom]) prop.abbr = val._abbrProprietes[prop.nom];\n                });\n            }\n        });\n\n        // Gérer abbrVarG et indexInstances\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    } else {\n        // Variable simple (pas d’instance)\n        if (!enrichedVars[key]) {\n            enrichedVars[key] = {\n                nomVarG: key,\n                typeVarG: type,\n                instances: [\"*\"],\n                descriptionVarG: \"\",\n                dateUpdateVarG: new Date().toISOString(),\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertFromString(val, type)\n                        }\n                    }\n                }\n            };\n        } else {\n            // Met à jour valeur simple\n            enrichedVars[key].proprietesByInstance.valeurs = {\n                \"*\": {\n                    \"*\": convertFromString(val, type)\n                }\n            };\n        }\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    }\n});\n\n// 🧠 Variables manquantes à restaurer dans default\nObject.keys(enrichedVars).forEach(key => {\n    if (!globalVars.hasOwnProperty(key)) {\n        const e = enrichedVars[key];\n        const instances = e.instances || [];\n        const props = e.proprietesByInstance?.proprietes || [];\n        const valeurs = e.proprietesByInstance?.valeurs || {};\n        let result = {};\n        instances.forEach(instance => {\n            result[instance] = {};\n            props.forEach(prop => {\n                const name = prop.nom;\n                const type = prop.type;\n                const value = valeurs?.[instance]?.[name];\n                result[instance][name] = convertFromString(value, type);\n            });\n            // Restaurer abbrProprietes côté mémoire\n            if (props.some(p => p.abbr)) {\n                result[instance]._abbrProprietes = {};\n                props.forEach(p => {\n                    if (p.abbr) result[instance]._abbrProprietes[p.nom] = p.abbr;\n                });\n            }\n        });\n        // Restaurer abbrVarG et indexInstances côté mémoire\n        if (e.abbrVarG) result._abbrVarG = e.abbrVarG;\n        if (e.indexInstances) result._indexInstances = e.indexInstances;\n        // S’il n’y a qu’une instance \"*\", on peut aplatir\n        if (instances.length === 1 && instances[0] === \"*\") {\n            global.set(key, result[\"*\"], storeDefault);\n        } else {\n            global.set(key, result, storeDefault);\n        }\n    }\n});\n\n// 💾 Enregistrer enrichedVars corrigé\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Synchronisation enrichedVars complète terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 640,
        "wires": [
            [
                "ea83f1a44d64f89e",
                "d335e09f159bac4c"
            ]
        ],
        "info": "// Ce nœud synchronise les variables globales avec enrichedVars.\r\n// Il met à jour enrichedVars avec les variables globales actuelles\r\n// et s'assure que chaque variable suit la nouvelle structure définie.\r\n// Les variables sont stockées dans deux types de stockage : \"default\" et \"file\".\r\n// Les variables sont structurées avec des propriétés comme nomVarG, typeVarG, instances, detailEtat, etc.\r\n// La fonction gère également la restauration des variables globales manquantes depuis enrichedVars.\r\n// Elle prend en compte les instances et les sous-variables pour une synchronisation cohérente."
    },
    {
        "id": "475a860e20b65644",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "initialisation depuis enrichedVars",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// Stores utilisés\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// 1️⃣ - Nettoyer toutes les variables du store \"default\"\n(global.keys(storeDefault) || []).forEach(k => {\n    global.set(k, undefined, storeDefault);\n});\n\n// 2️⃣ - Récupérer enrichedVars depuis le fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 3️⃣ - Conversion : string → typé\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);  // Valeur par défaut en cas d'erreur\n    }\n}\n\n// 4️⃣ - Restaurer toutes les variables dans le store \"default\"\nObject.entries(enrichedVars).forEach(([key, e]) => {\n    const instances = e.instances || [];\n    const props = e.proprietesByInstance?.proprietes || [];\n    const valeurs = e.proprietesByInstance?.valeurs || {};\n    let variable = {};\n\n    // Initialiser les schémas pour les objets\n    props.forEach(p => {\n        if (p.type === \"object\" && !p.schema) {\n            p.schema = {};\n        }\n    });\n\n    // Remplissage des instances\n    instances.forEach(instance => {\n        variable[instance] = {};\n        props.forEach(prop => {\n            const name = prop.nom;\n            const type = prop.type;\n            const rawValue = valeurs?.[instance]?.[name];\n            variable[instance][name] = convertFromString(rawValue, type);\n            if (prop.abbr) {\n                if (!variable._abbrProprietes) variable._abbrProprietes = {};\n                variable._abbrProprietes[name] = prop.abbr;\n            }\n        });\n    });\n\n    // Ajout des métadonnées globales\n    if (e.abbrVarG) variable._abbrVarG = e.abbrVarG;\n    if (e.indexInstances) variable._indexInstances = e.indexInstances;\n\n    // Sauvegarde dans memoryOnly\n    if (instances.length === 1 && instances[0] === \"*\") {\n        global.set(key, variable[\"*\"], storeDefault);\n    } else {\n        global.set(key, variable, storeDefault);\n    }\n});\n\n// 5️⃣ - Fin\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Initialisation enrichie depuis enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "40df248ed483f21c",
                "1390c224f8c2be0e",
                "d335e09f159bac4c"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "94bdb3c53cd57d93",
        "type": "ui-control",
        "z": "01b7c8489b5e72b4",
        "name": "afficheUiVarG",
        "ui": "930a8a5e70986346",
        "events": "all",
        "x": 1320,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "34a17f73c0662c56",
        "type": "ui-text",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "Info-GestionV4",
        "label": "Info : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "x": 1640,
        "y": 380,
        "wires": []
    },
    {
        "id": "393dcd5869fec891",
        "type": "change",
        "z": "01b7c8489b5e72b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "info",
                "pt": "msg",
                "to": "Les vars globales sont stockées dans enrichedVars dans un fichier et dans defaut (mémoire vive) après synchronisation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "introAdmin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 380,
        "wires": [
            [
                "3499300cc8f6e844"
            ]
        ]
    },
    {
        "id": "98505a5d0f1c3047",
        "type": "change",
        "z": "01b7c8489b5e72b4",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 380,
        "wires": [
            [
                "34a17f73c0662c56",
                "b88803dd2e1e2e2c"
            ]
        ]
    },
    {
        "id": "3499300cc8f6e844",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out msg Info",
        "mode": "link",
        "links": [
            "19cdefbb6c1b0cf7"
        ],
        "x": 1095,
        "y": 380,
        "wires": []
    },
    {
        "id": "19cdefbb6c1b0cf7",
        "type": "link in",
        "z": "01b7c8489b5e72b4",
        "name": "link in msg Info",
        "links": [
            "3499300cc8f6e844",
            "40df248ed483f21c",
            "ea83f1a44d64f89e",
            "11e326fc45d4e105"
        ],
        "x": 1295,
        "y": 380,
        "wires": [
            [
                "98505a5d0f1c3047"
            ]
        ]
    },
    {
        "id": "418931ad82cc1866",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "name": "RetourV4",
        "label": "Retour  ",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tab\":\"P_Admin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "grey",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "94bdb3c53cd57d93"
            ]
        ]
    },
    {
        "id": "b88803dd2e1e2e2c",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "debug varG1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 340,
        "wires": []
    },
    {
        "id": "8f1d61d6fa170674",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "Retour ",
        "info": "",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "4596b64aaa262286",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "Info",
        "info": "",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "40df248ed483f21c",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "19cdefbb6c1b0cf7"
        ],
        "x": 1705,
        "y": 500,
        "wires": []
    },
    {
        "id": "b443d8208081792f",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "charge var G defaut depuis enrichedVars",
        "info": "",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "4ef79db146a46d85",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "Gestion Memoire",
        "info": "",
        "x": 1140,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea83f1a44d64f89e",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "19cdefbb6c1b0cf7"
        ],
        "x": 1715,
        "y": 640,
        "wires": []
    },
    {
        "id": "1390c224f8c2be0e",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "debug initialisVarG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 460,
        "wires": []
    },
    {
        "id": "a7d0f6dc983b9221",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "name": "sauvVarGdepuisDefautV4",
        "label": "Sauvegarder",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "initVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "2d87b5d329d24a48"
            ]
        ]
    },
    {
        "id": "2d87b5d329d24a48",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "sauvVarGdsFile",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\nconst allKeys = global.keys(storeDefault) || [];\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile : typé → string/JSON\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            case \"boolean\":\n                return value ? \"true\" : \"false\";\n            case \"date\":\n                return new Date(value).toISOString();\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// ⏺️ Export des variables en enrichedVars\nallKeys.forEach(key => {\n    if (key === \"enrichedVars\") return;\n    const val = global.get(key, storeDefault);\n    const type = typeof val;\n\n    // Cas des objets avec instances\n    if (type === \"object\" && val && !Array.isArray(val)) {\n        const instances = Object.keys(val);\n        if (instances.length === 0) return;\n\n        const firstInstance = val[instances[0]];\n        if (typeof firstInstance === \"object\") {\n            const props = Object.keys(firstInstance);\n            const propDefs = props.map(p => {\n                const v = firstInstance[p];\n                const t = Array.isArray(v) ? \"array\" : typeof v;\n                const prop = { nom: p, type: t };\n                if (t === \"object\") prop.schema = {};  // Initialisation du schéma\n                return prop;\n            });\n\n            let valeurs = {};\n            instances.forEach(inst => {\n                valeurs[inst] = {};\n                propDefs.forEach(({ nom, type }) => {\n                    const v = val[inst]?.[nom];\n                    valeurs[inst][nom] = (type === \"object\" || type === \"array\")\n                        ? JSON.stringify(v)\n                        : convertToString(v, type);\n                });\n            });\n\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances,\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: instances.map((_, idx) => String(idx)).join(\",\"),\n                proprietesByInstance: {\n                    proprietes: propDefs,\n                    valeurs,\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        } else {\n            // Cas simple\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances: [\"*\"],\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: \"0\",\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertToString(val, type)\n                        }\n                    },\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        }\n    } else {\n        // Cas simple (non objet ou tableau)\n        enrichedVars[key] = {\n            nomVarG: key,\n            abbrVarG: val._abbrVarG || \"\",\n            typeVarG: type,\n            instances: [\"*\"],\n            descriptionVarG: \"Auto-export\",\n            dateUpdateVarG: new Date().toISOString(),\n            indexInstances: \"0\",\n            proprietesByInstance: {\n                proprietes: [{ nom: \"*\", type }],\n                valeurs: {\n                    \"*\": {\n                        \"*\": convertToString(val, type)\n                    }\n                },\n                abbrProprietes: val._abbrProprietes || {}\n            }\n        };\n    }\n});\n\n// 💾 Sauvegarde dans storeFile\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"💾 Sauvegarde vers enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 600,
        "wires": [
            [
                "11e326fc45d4e105"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "11e326fc45d4e105",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "19cdefbb6c1b0cf7"
        ],
        "x": 1715,
        "y": 600,
        "wires": []
    },
    {
        "id": "d335e09f159bac4c",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "Prépare tableau enrichedVars",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // 🚨 Ignore entrées invalides\n    if (!e.proprietesByInstance) return; // 🚨 Ignore les objets incomplets\n\nconst props = e.proprietesByInstance?.proprietes || [];\nconst proprieteResume = props.length > 0\n    ? props.map(p => `${p.nom} (${p.type})`).join(\"\\n\")\n    : \"(Aucune propriété définie)\";\n\n\n    tableauPourUI.push({\n        nomVarG,\n        abbrVarG: e.abbrVarG || \"\",\n        typeVarG: e.typeVarG || \"\",\n        instances: (e.instances || []).join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 720,
        "wires": [
            [
                "807ab394bc8aaf5f",
                "7d2f29ce5df583f0"
            ]
        ]
    },
    {
        "id": "807ab394bc8aaf5f",
        "type": "ui-table",
        "z": "01b7c8489b5e72b4",
        "group": "2413c080e8f28938",
        "name": "Table enrichedVarsV4",
        "label": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nom",
                "key": "nomVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Type",
                "key": "typeVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Instances",
                "key": "instances",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Propriétés",
                "key": "proprietes",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Description",
                "key": "description",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Détails",
                "key": "action",
                "keyType": "key",
                "type": "button",
                "width": ""
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1300,
        "y": 820,
        "wires": [
            [
                "1bcab7895cad80d4"
            ]
        ]
    },
    {
        "id": "1bcab7895cad80d4",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "Sauve varSelected-actualise affichage form",
        "func": "let varSelected = msg.payload?.row?.nomVarG || msg.payload?.nomVarG || null;\nif (\"newVarG\"==msg.topic){varSelected=\"new\"; msg.topic=\"newVarG\"};\nflow.set(\"varSelected\", varSelected);\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet listeVars = Object.keys(enrichedVars);\n\nmsg.payload = varSelected;\nmsg.info = `Vous êtes sur la variable : ${varSelected}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 900,
        "wires": [
            [
                "afb7c99cc5e35609",
                "8e2741ea02c44a03",
                "5d657c80cdc65bd6",
                "e44e4a8afb06af3b",
                "de86ca4babaa07d4",
                "aae44fad4f6102a8"
            ]
        ]
    },
    {
        "id": "7d2f29ce5df583f0",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "debug prepa Liste Var",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 680,
        "wires": []
    },
    {
        "id": "5d657c80cdc65bd6",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "charge Infos générales enrichie ds form",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (varSelected && enrichedVars[varSelected]) {\n    const selected = enrichedVars[varSelected];\n\n    // Générer automatiquement l'index à partir des instances (texte)\n    let indexInstances = [];\n    if (selected.instances) {\n        indexInstances = selected.instances.map((_, idx) => String(idx));\n    }\n\n    // Générer abbrProprietes à partir des propriétés\n    let abbrProprietes = {};\n    if (selected.proprietesByInstance?.proprietes) {\n        selected.proprietesByInstance.proprietes.forEach(p => {\n            if (p.abbr) abbrProprietes[p.nom] = p.abbr;\n        });\n    }\n\n    // Assurer la présence de abbrProprietes dans proprietesByInstance\n    if (!selected.proprietesByInstance) selected.proprietesByInstance = {};\n    selected.proprietesByInstance.abbrProprietes = abbrProprietes;\n\n    msg.payload = {\n        nomVarG: selected.nomVarG || \"\",\n        abbrVarG: selected.abbrVarG || \"\",\n        typeVarG: selected.typeVarG || \"\",\n        instances: (selected.instances || []).join(\", \"),\n        descriptionVarG: selected.descriptionVarG || \"\",\n        dateUpdateVarG: selected.dateUpdateVarG || new Date().toISOString(),\n        indexInstances: indexInstances.join(\", \"),  // texte pour le formulaire\n        abbrProprietes: abbrProprietes\n    };\n\n} else {\n    msg.payload = {\n        nomVarG: \"New\",\n        abbrVarG: \"\",\n        typeVarG: \"\",\n        instances: \"\",\n        indexInstances: \"\",\n        descriptionVarG: \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        abbrProprietes: {}\n    };\n    msg.topic = \"newVarG\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1020,
        "wires": [
            [
                "c597fc72bafedca6",
                "c93c073d1e070e13"
            ]
        ],
        "info": "indexInstances généré automatiquement à partir du nombre d’instances, format texte ([\"0\",\"1\",…]).\r\n\r\nabbrProprietes initialisé depuis proprietesByInstance si disponible, sinon objet vide.\r\n\r\nmsg.info est toujours renvoyé pour trace/log."
    },
    {
        "id": "c597fc72bafedca6",
        "type": "ui-form",
        "z": "01b7c8489b5e72b4",
        "name": "Form_Var_Modif",
        "group": "group-vars",
        "label": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nom de la variable",
                "key": "nomVarG",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Abrev.NomVarG",
                "key": "abbrVarG",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Type de variable (object, string, number...)",
                "key": "typeVarG",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "Instances (séparées par des virgules)",
                "key": "instances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Index Instances",
                "key": "indexInstances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Description",
                "key": "descriptionVarG",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Date mise à jour",
                "key": "dateUpdateVarG",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nomVarG": "",
            "abbrVarG": "",
            "typeVarG": "",
            "instances": "",
            "indexInstances": "",
            "descriptionVarG": "",
            "dateUpdateVarG": ""
        },
        "payload": "",
        "submit": "Enregistrer",
        "cancel": "Annuler",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "typeVarG",
                "value": "string",
                "label": "String"
            },
            {
                "dropdown": "typeVarG",
                "value": "array",
                "label": "Array"
            },
            {
                "dropdown": "typeVarG",
                "value": "object",
                "label": "Object"
            },
            {
                "dropdown": "typeVarG",
                "value": "number",
                "label": "Number"
            }
        ],
        "x": 1280,
        "y": 1080,
        "wires": [
            [
                "9658b7dc2e822c24",
                "63e02543fa2b9142"
            ]
        ]
    },
    {
        "id": "9658b7dc2e822c24",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "Infos générales enrichedVars",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Formulaire incomplet ou variable non spécifiée.\";\n    return null; // sécurité\n}\n\nlet oldName = varSelected;   // ancien nom suivi\nlet newName = formData.nomVarG.trim();\n\n// --- Cas création ---\nif (!enrichedVars[oldName]) {\n    if (enrichedVars[newName]) {\n        // 🚨 Collision lors de la création\n        msg.error = `❌ Impossible de créer '${newName}', une variable existe déjà avec ce nom.`;\n        return msg;\n    }\n\n    // Générer indexInstances automatiquement si absent\n    let indexInstances = [];\n    if (formData.instances) {\n        indexInstances = formData.instances.split(',').map((e, idx) => String(idx));\n    }\n\n    // Création de la nouvelle variable\n    enrichedVars[newName] = {\n        nomVarG: newName,\n        abbrVarG: formData.abbrVarG || \"\",\n        typeVarG: formData.typeVarG || \"\",\n        instances: formData.instances ? formData.instances.split(',').map(e => e.trim()) : [],\n        indexInstances: indexInstances,\n        descriptionVarG: formData.descriptionVarG || \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietesByInstance: {\n            proprietes: [],\n            valeurs: {},\n            abbrProprietes: {}\n        }\n    };\n\n    flow.set(\"varSelected\", newName);\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n\n    msg.payload = newName;\n    msg.info = `✅ Nouvelle variable créée : ${newName}`;\n    return msg;\n}\n\n// --- Cas modification ---\nlet current = enrichedVars[oldName];\n\n// ⚠️ Si le nom a changé\nif (oldName !== newName) {\n    if (enrichedVars[newName]) {\n        // 🚨 Collision lors du renommage\n        msg.error = `⚠️ Attention : '${newName}' existe déjà. Veux-tu vraiment remplacer '${oldName}' par '${newName}' ?`;\n        msg.confirmRename = { from: oldName, to: newName };\n        return msg;\n    }\n\n    // Renommage → déplacement de la clé\n    enrichedVars[newName] = current;\n    delete enrichedVars[oldName];\n}\n\n// Mise à jour des infos\nlet target = enrichedVars[newName];\ntarget.nomVarG = newName;\ntarget.abbrVarG = formData.abbrVarG || \"\";\ntarget.descriptionVarG = formData.descriptionVarG || \"\";\ntarget.typeVarG = formData.typeVarG || \"\";\ntarget.instances = formData.instances ? formData.instances.split(',').map(e => e.trim()) : [];\n// Générer indexInstances automatiquement si absent ou incohérent\ntarget.indexInstances = target.instances.map((_, idx) => String(idx));\ntarget.dateUpdateVarG = new Date().toISOString();\n\n// Assurer que abbrProprietes existe\nif (!target.proprietesByInstance) {\n    target.proprietesByInstance = { proprietes: [], valeurs: {}, abbrProprietes: {} };\n} else if (!target.proprietesByInstance.abbrProprietes) {\n    target.proprietesByInstance.abbrProprietes = {};\n}\n\n// Sauvegardes\nflow.set(\"varSelected\", newName);\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\n// Retour\nmsg.payload = newName;\nmsg.info = (oldName !== newName)\n    ? `⚠️ Nom modifié : '${oldName}' → '${newName}'`\n    : `✅ Infos mises à jour pour : ${newName}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 1080,
        "wires": [
            [
                "de86ca4babaa07d4",
                "5555effc1318eede",
                "ba2b2f06337520d8"
            ]
        ],
        "info": "Gère création et modification.\r\n\r\nIntègre correctement les champs abbrVarG, indexInstances, abbrProprietes.\r\n\r\nGénère automatiquement les index à partir du nombre d’instances si nécessaire.\r\n\r\nConserve msg.info pour le log/tracking."
    },
    {
        "id": "bfad66c53b69bd01",
        "type": "ui-text",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "order": 7,
        "width": "5",
        "height": "1",
        "name": "NotificationV4",
        "label": "🛠 Info",
        "format": "{{msg.info}}",
        "layout": "row-right",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "x": 1980,
        "y": 940,
        "wires": []
    },
    {
        "id": "80d412c914fdb06d",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "d": true,
        "name": "Build → données template",
        "func": "// Build → données template\n//Désérialise les objets et tableaux stockés sous forme de chaînes JSON.\n//Initialise les schémas (schema) pour les propriétés de type object.\n// Prépare les données propres pour le template éditeur\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varName = flow.get(\"varSelected\") || msg.payload || null;\nlet variable = varName ? enrichedVars[varName] : null;\n\nif (!variable) {\n    msg.info = \"Variable non trouvée pour l'éditeur de propriétés.\";\n    msg.payload = null;\n    return msg;\n}\n\n// Helpers\nconst toArray = (v) => {\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\") {\n        const s = v.trim();\n        if (!s) return [];\n        return s.includes(\",\") ? s.split(\",\").map(x => x.trim()).filter(Boolean) : [s];\n    }\n    return [];\n};\n\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\n\nconst defaultForType = (t) => {\n    switch (t) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n};\n\n// Instances → toujours Array\nlet instances = toArray(variable.instances || [\"*\"]);\n\n// Propriétés → nettoyage et validation\nlet propArr = [];\nif (variable.proprietesByInstance?.proprietes) {\n    propArr = variable.proprietesByInstance.proprietes\n        .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\")\n        .map(p => ({\n            nom: String(p.nom),\n            type: String(p.type),\n            schema: p.schema || (p.type === \"object\" ? {} : undefined)  // ⭐ Initialisation du schéma pour les objets\n        }));\n}\n\n// Abréviations des propriétés\nlet abbrMap = {};\nif (variable.proprietesByInstance?.abbrProprietes && typeof variable.proprietesByInstance.abbrProprietes === \"object\") {\n    abbrMap = deepClone(variable.proprietesByInstance.abbrProprietes);\n}\n\n// Valeurs → désérialisation des objets/tableaux\nlet valeursRaw = deepClone(variable.proprietesByInstance?.valeurs || {});\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    propArr.forEach(p => {\n        const storedValue = valeursRaw[inst]?.[p.nom];\n        let value = storedValue;\n        try {\n            if (p.type === \"object\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // ⭐ Désérialisation des objets\n            } else if (p.type === \"array\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // ⭐ Désérialisation des tableaux\n            } else if (p.type === \"boolean\") {\n                value = storedValue === true || storedValue === \"true\";\n            } else if (p.type === \"int\" || p.type === \"number\") {\n                value = parseFloat(storedValue) || 0;\n            }\n        } catch (e) {\n            console.warn(`Désérialisation échouée pour ${p.nom}:`, e);\n            value = defaultForType(p.type);  // Valeur par défaut en cas d'erreur\n        }\n        valeurs[inst][p.nom] = value !== undefined ? value : defaultForType(p.type);\n    });\n});\n\n// Payload pour le template\nmsg.payload = {\n    nomVarG: variable.nomVarG || varName,\n    abbrVarG: variable.abbrVarG || \"\",\n    typeVarG: variable.typeVarG || \"\",\n    instances,\n    proprietesByInstance: {\n        proprietes: propArr,\n        abbrProprietes: abbrMap,\n        valeurs\n    },\n    descriptionVarG: variable.descriptionVarG || \"\",\n    dateUpdateVarG: variable.dateUpdateVarG || new Date().toISOString()\n};\n\nmsg.info = \"✅ Données préparées pour le template.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 1220,
        "wires": [
            [
                "3557b7a0994872f1",
                "b9072ccc99b1a0ad",
                "8f91c62ad08fcf51",
                "96ce98880bd3a1b2",
                "fd0cafbe44cacf08"
            ]
        ],
        "info": "Vérifie que la variable existe.\r\n\r\nAssure que abbrProprietes est toujours défini.\r\n\r\nGénère indexInstances automatiquement si absent ou incohérent.\r\n\r\nRenvoie un payload complet et prêt pour le template, avec tous les trois champs intégrés.\r\n\r\nConserve msg.info pour le log."
    },
    {
        "id": "181da4dea0a7aba3",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "d": true,
        "name": "💾 Save changes to enrichedVars",
        "func": "// 💾 Save changes to enrichedVars\n// Reçoit le payload du template, nettoie et sauvegarde dans enrichedVars (store \"file\").\n// Gère instances (Array ou String), régénère indexInstances, conserve abbrProprietes,\n// et purge les valeurs orphelines des propriétés supprimées/renommées.\n\nconst storeFile = \"file\";\n\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\nlet formData = msg.payload || {};\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Données invalides reçues depuis le template.\";\n    return null;\n}\n\nconst varName = String(formData.nomVarG).trim();\n\n// --- Helpers\nconst toArray = (v) => {\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\") {\n        const s = v.trim();\n        if (!s) return [];\n        return s.includes(\",\") ? s.split(\",\").map(x => x.trim()).filter(Boolean) : [s];\n    }\n    return [];\n};\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\n\n// --- Instances (accepte Array ou String) + indexInstances auto\nlet instances = toArray(formData.instances);\nconst indexInstances = instances.map((_, i) => String(i));\n\n// --- Propriétés & abbr\nconst rawPBI = formData.proprietesByInstance || {};\nlet props = Array.isArray(rawPBI.proprietes) ? rawPBI.proprietes : [];\n\n// Filtrer/normaliser les propriétés\nprops = props\n    .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\" && p.nom.trim() !== \"\")\n    .map(p => ({ nom: String(p.nom).trim(), type: String(p.type).trim() }));\n\n// abbrProprietes doit rester un objet clé=nomPropriété → abréviation\nlet abbrMap = (rawPBI.abbrProprietes && typeof rawPBI.abbrProprietes === \"object\" && !Array.isArray(rawPBI.abbrProprietes))\n    ? deepClone(rawPBI.abbrProprietes)\n    : {};\n\n// Purger les abbr des propriétés qui n'existent plus\nObject.keys(abbrMap).forEach(k => {\n    if (!props.find(p => p.nom === k)) delete abbrMap[k];\n});\n\n// --- Valeurs: garder uniquement pour les propriétés présentes + sérialisation\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    props.forEach(({ nom, type }) => {\n        const v = rawPBI?.valeurs?.[inst]?.[nom];\n        if (type === 'object' || type === 'array') {\n            valeurs[inst][nom] = v ? JSON.stringify(v) : (type === 'object' ? '{}' : '[]');  // ⭐ Sérialisation\n        } else {\n            valeurs[inst][nom] = v;  // Valeurs simples (non sérialisées)\n        }\n    });\n});\n\n// --- Construire l'objet final\nlet current = enrichedVars[varName] || {};\nenrichedVars[varName] = {\n    nomVarG: varName,\n    abbrVarG: current.abbrVarG || \"\",         // abbr varG géré par le formulaire général\n    typeVarG: formData.typeVarG || current.typeVarG || \"\",\n    instances,\n    indexInstances,\n    descriptionVarG: current.descriptionVarG || \"\",\n    dateUpdateVarG: new Date().toISOString(),\n    proprietesByInstance: {\n        proprietes: props,\n        abbrProprietes: abbrMap,\n        valeurs\n    }\n};\n\n// 💾 Sauvegarde\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\n\n// Sortie\nmsg.payload = enrichedVars[varName];\nmsg.info = `💾 Propriétés sauvegardées pour '${varName}' (${props.length} propriétés, ${instances.length} instance(s)).`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1400,
        "wires": [
            [
                "bac471abe6ca825b"
            ]
        ],
        "info": "abbrVarG intégré à la création et à la modification.\r\n\r\nindexInstances généré automatiquement à partir du nombre d’instances (texte).\r\n\r\nabbrProprietes toujours défini pour éviter les [object][object].\r\n\r\nGestion correcte du renommage et des collisions.\r\n\r\nmsg.info conservé pour le retour.\r\nTa fonction actuelle de sauvegarde est déjà bien structurée et couvre tous les cas nécessaires (y compris la gestion des abbrProprietes, des indexInstances, et la purification des propriétés supprimées). Pas besoin de la remplacer : elle est compatible avec le template que je t'ai fourni.\r\nVoici pourquoi elle est adaptée et comment elle fonctionne avec le template :\r\n\r\n1. Points Forts de Ta Fonction Actuelle\r\na. Gestion des Instances\r\n\r\ntoArray : Convertit les instances en tableau (même si c'est une chaîne).\r\nindexInstances : Généré automatiquement à partir des instances.\r\n\r\nb. Nettoyage des Propriétés\r\n\r\nFiltrage : Supprime les propriétés invalides (sans nom ou type).\r\nNormalisation : Convertit nom et type en chaînes (String).\r\n\r\nc. Gestion des Abréviations\r\n\r\nConservation : Copie les abbrProprietes existantes.\r\nNettoyage : Supprime les abréviations des propriétés supprimées.\r\n\r\nd. Valeurs par Instance\r\n\r\nConservation : Garde uniquement les valeurs des propriétés existantes.\r\n\r\nSérialisation des Objets/Tableaux\r\n"
    },
    {
        "id": "0d59fdafb013d54b",
        "type": "change",
        "z": "01b7c8489b5e72b4",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 940,
        "wires": [
            [
                "bfad66c53b69bd01"
            ]
        ]
    },
    {
        "id": "de86ca4babaa07d4",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "name": "editerProprieteV4",
        "label": "🛠️ Éditer les propriétés",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1290,
        "y": 1160,
        "wires": [
            [
                "80d412c914fdb06d",
                "392a5e0698a082e4"
            ]
        ]
    },
    {
        "id": "e51bb29d2e62a0d0",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "supprimer",
        "func": "if (msg.payload === \"confirm_clicked\") {\n  const varSelected = flow.get(\"varSelected\");\n  if (!varSelected) {\n    msg.info = \"⚠️ Rien à supprimer.\";\n    return msg;\n  }\n  let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n  delete enrichedVars[varSelected];\n  delete enrichedVars[\"\"];//supprime var fantome\n  global.set(\"enrichedVars\", enrichedVars, \"file\");\n  global.set(varSelected, undefined, \"default\");\n  flow.set(\"varSelected\", \"none\");\n  msg.payload = \"none\";\n  msg.info = `✅ Variable \"${varSelected}\" supprimée.`;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 720,
        "wires": [
            [
                "eb09bf7083c02e06"
            ]
        ]
    },
    {
        "id": "afb7c99cc5e35609",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "name": "SupprimerVarV4",
        "label": "❌ Supprimer Var",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Cliquez pour supprimer la variable sélectionnée",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "demande-confirmation",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "red",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "23f451cb5c95d1ac"
            ]
        ]
    },
    {
        "id": "23f451cb5c95d1ac",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "open-dialog",
        "func": "const varSelected = flow.get(\"varSelected\") || null;\n\nif (!varSelected || varSelected === \"none\" || varSelected === \"new\") {\n    msg.info = \"⚠️ Aucune variable sélectionnée à supprimer.\";\n    return msg;\n}\n\n// Préparer un message pour ui-dialog\nmsg.payload = {\n    title: \"⚠️ Confirmation suppression\",\n    message: `Voulez-vous vraiment supprimer la variable \"${varSelected}\" ?`,\n    buttons: [\n        { label: \"❌ Annuler\", value: \"cancel\" },\n        { label: \"✅ Supprimer\", value: \"confirm\", class: \"red\" }\n    ]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 720,
        "wires": [
            [
                "e51bb29d2e62a0d0"
            ]
        ]
    },
    {
        "id": "36968705c38f3778",
        "type": "switch",
        "z": "01b7c8489b5e72b4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reloadVar",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "reloadVar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1560,
        "y": 1260,
        "wires": [
            [
                "5b2d53ade609b9c8",
                "38d9473abb408d27"
            ],
            [
                "181da4dea0a7aba3",
                "5bcc6610a9cae793",
                "91f7646d06a67e96"
            ]
        ]
    },
    {
        "id": "5b2d53ade609b9c8",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "Annuler",
        "func": "//recharger l'original des propriétés et instances de la variables\nlet nomVarG=msg.payload;\nflow.set(\"varSelected\", nomVarG);\nmsg.topic=\"annuler\";\nmsg.info= \"Annulation des modifications sur les valeurs de $nomVarG\";\n// Modifications enregistrées pour ${data.nomVarG}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1220,
        "wires": [
            [
                "3557b7a0994872f1",
                "834a146f7afcfc9e"
            ]
        ]
    },
    {
        "id": "0a16e02eca36183d",
        "type": "link in",
        "z": "01b7c8489b5e72b4",
        "name": "notifInModifVarSelected",
        "links": [
            "8e2741ea02c44a03",
            "104d2c5e265ae7bf",
            "3557b7a0994872f1",
            "bac471abe6ca825b",
            "eb09bf7083c02e06"
        ],
        "x": 1525,
        "y": 940,
        "wires": [
            [
                "0d59fdafb013d54b"
            ]
        ]
    },
    {
        "id": "8e2741ea02c44a03",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "0a16e02eca36183d"
        ],
        "x": 1255,
        "y": 940,
        "wires": []
    },
    {
        "id": "104d2c5e265ae7bf",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "0a16e02eca36183d"
        ],
        "x": 2005,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3557b7a0994872f1",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "0a16e02eca36183d"
        ],
        "x": 1975,
        "y": 1140,
        "wires": []
    },
    {
        "id": "bac471abe6ca825b",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "0a16e02eca36183d"
        ],
        "x": 1975,
        "y": 1260,
        "wires": []
    },
    {
        "id": "eb09bf7083c02e06",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "0a16e02eca36183d"
        ],
        "x": 1585,
        "y": 720,
        "wires": []
    },
    {
        "id": "834a146f7afcfc9e",
        "type": "link out",
        "z": "01b7c8489b5e72b4",
        "name": "SuiteAnnuleModif",
        "mode": "link",
        "links": [
            "973e4ae312ddd5b0"
        ],
        "x": 1975,
        "y": 1220,
        "wires": []
    },
    {
        "id": "973e4ae312ddd5b0",
        "type": "link in",
        "z": "01b7c8489b5e72b4",
        "name": "rechargerVarSelected",
        "links": [
            "834a146f7afcfc9e"
        ],
        "x": 655,
        "y": 900,
        "wires": [
            [
                "1bcab7895cad80d4",
                "f57ba86a2567b22e"
            ]
        ]
    },
    {
        "id": "0d32d883df302390",
        "type": "comment",
        "z": "01b7c8489b5e72b4",
        "name": "suite annulation",
        "info": "",
        "x": 2100,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c93c073d1e070e13",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "prepaFormModifDefVarG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 980,
        "wires": []
    },
    {
        "id": "9533c1d94e895d68",
        "type": "ui-button",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "name": "ajouterUneVarG",
        "label": "➕ New varG ",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "newVarG",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1140,
        "y": 680,
        "wires": [
            [
                "1bcab7895cad80d4"
            ]
        ]
    },
    {
        "id": "63e02543fa2b9142",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "SortieDefVarG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e44e4a8afb06af3b",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "var selected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 960,
        "wires": []
    },
    {
        "id": "f57ba86a2567b22e",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 820,
        "wires": []
    },
    {
        "id": "5bcc6610a9cae793",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "sauvPropriete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 1300,
        "wires": []
    },
    {
        "id": "38d9473abb408d27",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "AnnulerPropriete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5555effc1318eede",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "sauvDefVarG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1020,
        "wires": []
    },
    {
        "id": "b9072ccc99b1a0ad",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "prepaTemplate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 1120,
        "wires": []
    },
    {
        "id": "320092635af629d2",
        "type": "ui_toast",
        "z": "01b7c8489b5e72b4",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Avertissement",
        "x": 2220,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ba2b2f06337520d8",
        "type": "switch",
        "z": "01b7c8489b5e72b4",
        "name": "GererMessages",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1860,
        "y": 1060,
        "wires": [
            [
                "4763cba685d8bb66"
            ],
            [
                "104d2c5e265ae7bf"
            ]
        ]
    },
    {
        "id": "4763cba685d8bb66",
        "type": "change",
        "z": "01b7c8489b5e72b4",
        "name": "cas erreur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "erreur",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1040,
        "wires": [
            [
                "320092635af629d2"
            ]
        ]
    },
    {
        "id": "8f91c62ad08fcf51",
        "type": "ui-template",
        "z": "01b7c8489b5e72b4",
        "d": true,
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "Template éditeur de propriétésV4",
        "order": 9,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"var-editor\">\n    <!-- Titre conditionnel -->\n    <h3 v-if=\"nomVarG\">Propriétés de : {{ nomVarG }}</h3>\n    <h3 v-else class=\"placeholder-title\">Sélectionnez une variable pour éditer ses propriétés</h3>\n\n    <!-- Tableau des propriétés -->\n    <div class=\"table-container\" v-if=\"nomVarG\">\n      <table class=\"properties-table\">\n        <thead>\n          <tr>\n            <th class=\"fixed-column\">Nom propriété</th>\n            <th class=\"abbr-column\">Abrév.</th>\n            <th class=\"type-column\">Type</th>\n            <th v-for=\"instance in instances\" :key=\"instance\" class=\"instance-column\">\n              {{ instance }}\n            </th>\n            <th class=\"actions-column\">Actions</th>\n          </tr>\n        </thead>\n        <tbody>\n          <!-- Lignes des propriétés existantes -->\n          <tr v-for=\"(prop, index) in proprietesByInstance.proprietes\" :key=\"'prop-' + index\">\n            <td class=\"fixed-column\">\n              <input v-model=\"prop.nom\" class=\"edit-input\" />\n            </td>\n            <td class=\"abbr-column\">\n              <input\n                v-model=\"proprietesByInstance.abbrProprietes[prop.nom]\"\n                class=\"edit-input\"\n                placeholder=\"abbr\"\n                maxlength=\"5\"\n              />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"prop.type\" class=\"type-select\" @change=\"onTypeChange(prop, $event)\">\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <td v-for=\"instance in instances\" :key=\"'inst-' + instance + '-' + index\" class=\"instance-column\">\n              <input\n                v-if=\"prop.type === 'boolean'\"\n                type=\"checkbox\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                class=\"checkbox-input\"\n              />\n              <input\n                v-else-if=\"prop.type !== 'object' && prop.type !== 'array'\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                :type=\"getInputType(prop.type)\"\n                class=\"edit-input\"\n              />\n              <textarea\n                v-else-if=\"prop.type === 'object'\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                class=\"object-textarea\"\n                placeholder='{\"exemple\": \"valeur\"}'\n              ></textarea>\n              <input\n                v-else\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                placeholder=\"1,2,3\"\n                class=\"edit-input\"\n              />\n            </td>\n            <td class=\"actions-column\">\n              <button\n                v-if=\"prop.type === 'object'\"\n                @click=\"openSchemaModal(prop)\"\n                class=\"schema-btn\"\n              >\n                ⚙️ Éditer schéma\n              </button>\n              <button @click=\"deleteProperty(index)\" class=\"delete-btn\">🗑️</button>\n            </td>\n          </tr>\n\n          <!-- Ligne d'ajout (vide) -->\n          <tr v-if=\"nomVarG\" class=\"add-row\">\n            <td class=\"fixed-column\">\n              <input v-model=\"newProperty.nom\" placeholder=\"Nom\" class=\"edit-input\" />\n            </td>\n            <td class=\"abbr-column\">\n              <input v-model=\"newProperty.abbr\" placeholder=\"Abrév.\" class=\"edit-input\" maxlength=\"5\" />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"newProperty.type\" class=\"type-select\">\n                <option value=\"\">-- type --</option>\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <td v-for=\"instance in instances\" :key=\"'new-' + instance\" class=\"instance-column\">\n              <input v-model=\"newProperty.initialValues[instance]\" placeholder=\"Valeur\" class=\"edit-input\" />\n            </td>\n            <td class=\"actions-column\">\n              <button @click=\"addProperty\" class=\"add-btn\">➕ Ajouter</button>\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- Modale intégrée dans la page (au-dessus des instances) -->\n    <div v-if=\"showSchemaModal\" class=\"inline-modal\">\n      <div class=\"modal-content\">\n        <h3>Éditer le schéma pour : {{ editingProperty.nom }}</h3>\n        <div class=\"schema-fields\">\n          <div v-for=\"(field, key) in editingProperty.schema\" :key=\"key\" class=\"schema-field\">\n            <input v-model=\"key\" class=\"schema-input\" placeholder=\"Nom\" />\n            <select v-model=\"field.type\" class=\"schema-type\">\n              <option value=\"int\">int</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"string\">string</option>\n              <option value=\"number\">number</option>\n            </select>\n            <input v-model=\"field.default\" class=\"schema-input\" placeholder=\"Défaut\" />\n            <button @click=\"removeSchemaField(key)\" class=\"remove-field-btn\">❌</button>\n          </div>\n        </div>\n        <div class=\"new-schema-field\">\n          <input v-model=\"newSchemaField.key\" placeholder=\"Nouveau champ\" class=\"schema-input\" />\n          <select v-model=\"newSchemaField.type\" class=\"schema-type\">\n            <option value=\"int\">int</option>\n            <option value=\"boolean\">boolean</option>\n            <option value=\"string\">string</option>\n            <option value=\"number\">number</option>\n          </select>\n          <input v-model=\"newSchemaField.default\" placeholder=\"Défaut\" class=\"schema-input\" />\n          <button @click=\"addSchemaField\" class=\"add-field-btn\">➕ Ajouter</button>\n        </div>\n        <div class=\"modal-actions\">\n          <button @click=\"saveSchema\" class=\"modal-save-btn\">Enregistrer</button>\n          <button @click=\"cancelSchema\" class=\"modal-cancel-btn\">Annuler</button>\n        </div>\n      </div>\n    </div>\n\n    <!-- Gestion des instances -->\n    <div v-if=\"nomVarG\" class=\"instances-section\">\n      <fieldset class=\"instances-box\">\n        <legend>⚙️ Gestion des instances</legend>\n        <div class=\"instance-controls\">\n          <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" class=\"instance-input\" />\n          <button @click=\"addInstance\" class=\"add-instance-btn\">➕ Ajouter</button>\n          <button v-if=\"instances.length > 0\" @click=\"confirmDeleteInstance\" class=\"delete-instance-btn\">\n            🗑️ Supprimer dernière\n          </button>\n        </div>\n      </fieldset>\n    </div>\n\n    <!-- Boutons Enregistrer/Annuler -->\n    <div v-if=\"nomVarG\" class=\"action-buttons\">\n      <button @click=\"saveAllChanges\" class=\"save-btn\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"cancel-btn\">🔁 Annuler</button>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: '',\n      typeVarG: '',\n      instances: [],\n      proprietesByInstance: {\n        proprietes: [],\n        abbrProprietes: {},\n        valeurs: {}\n      },\n      newProperty: {\n        nom: '',\n        type: '',\n        abbr: '',\n        initialValues: {}\n      },\n      newInstanceName: '',\n      showSchemaModal: false,\n      editingProperty: null,\n      newSchemaField: { key: '', type: 'int', default: '' }\n    };\n  },\n  methods: {\n    getInputType(type) {\n      switch (type) {\n        case 'boolean': return 'checkbox';\n        case 'int': case 'number': return 'number';\n        default: return 'text';\n      }\n    },\n\n    onTypeChange(prop, event) {\n      const newType = event.target.value;\n      if (newType === 'object' && !prop.schema) {\n        this.$set(prop, 'schema', {});\n      }\n    },\n\n    defaultForType(type) {\n      switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        default: return \"\";\n      }\n    },\n\n    addProperty() {\n      if (!this.newProperty.nom || !this.newProperty.type) {\n        alert(\"Le nom et le type sont obligatoires\");\n        return;\n      }\n\n      const newProp = {\n        nom: this.newProperty.nom,\n        type: this.newProperty.type\n      };\n\n      if (newProp.type === 'object') {\n        newProp.schema = {};\n      }\n\n      this.proprietesByInstance.proprietes.push(newProp);\n\n      if (this.newProperty.abbr) {\n        this.$set(this.proprietesByInstance.abbrProprietes, newProp.nom, this.newProperty.abbr);\n      }\n\n      this.instances.forEach(instance => {\n        if (!this.proprietesByInstance.valeurs[instance]) {\n          this.$set(this.proprietesByInstance.valeurs, instance, {});\n        }\n        this.$set(\n          this.proprietesByInstance.valeurs[instance],\n          newProp.nom,\n          this.defaultForType(newProp.type)\n        );\n      });\n\n      this.newProperty = {\n        nom: '',\n        type: '',\n        abbr: '',\n        initialValues: {}\n      };\n      this.instances.forEach(instance => {\n        this.$set(this.newProperty.initialValues, instance, '');\n      });\n    },\n\n    deleteProperty(index) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n      const propName = this.proprietesByInstance.proprietes[index].nom;\n      this.proprietesByInstance.proprietes.splice(index, 1);\n      this.instances.forEach(instance => {\n        this.$delete(this.proprietesByInstance.valeurs[instance], propName);\n      });\n      this.$delete(this.proprietesByInstance.abbrProprietes, propName);\n    },\n\n    addInstance() {\n      if (!this.newInstanceName) return;\n      const instanceName = this.newInstanceName.trim();\n      if (!instanceName || this.instances.includes(instanceName)) return;\n\n      this.instances.push(instanceName);\n      this.$set(this.proprietesByInstance.valeurs, instanceName, {});\n\n      this.proprietesByInstance.proprietes.forEach(prop => {\n        this.$set(\n          this.proprietesByInstance.valeurs[instanceName],\n          prop.nom,\n          this.defaultForType(prop.type)\n        );\n      });\n\n      this.newInstanceName = '';\n    },\n\n    confirmDeleteInstance() {\n      if (this.instances.length === 0) return;\n      const lastInstance = this.instances[this.instances.length - 1];\n      if (confirm(`Supprimer l'instance \"${lastInstance}\" ?`)) {\n        this.instances.pop();\n        this.$delete(this.proprietesByInstance.valeurs, lastInstance);\n      }\n    },\n\n    saveAllChanges() {\n      if (!this.nomVarG) {\n        alert(\"Aucune variable sélectionnée\");\n        return;\n      }\n\n      const payload = {\n        nomVarG: this.nomVarG,\n        abbrVarG: this.proprietesByInstance.abbrVarG || \"\",\n        typeVarG: this.typeVarG,\n        instances: this.instances,\n        proprietesByInstance: {\n          proprietes: this.proprietesByInstance.proprietes.map(p => ({\n            nom: p.nom,\n            type: p.type,\n            schema: p.schema\n          })),\n          abbrProprietes: this.proprietesByInstance.abbrProprietes,\n          valeurs: {}\n        }\n      };\n\n      this.instances.forEach(instance => {\n        payload.proprietesByInstance.valeurs[instance] = {};\n        this.proprietesByInstance.proprietes.forEach(prop => {\n          const propName = prop.nom;\n          const propType = prop.type;\n          const value = this.proprietesByInstance.valeurs[instance][propName];\n          if (value !== undefined) {\n            payload.proprietesByInstance.valeurs[instance][propName] =\n              (propType === 'object' || propType === 'array') ? JSON.stringify(value) : value;\n          }\n        });\n      });\n\n      this.send({ topic: \"saveChanges\", payload: payload });\n    },\n\n    resetChanges() {\n      if (this.nomVarG) {\n        this.send({ topic: \"reloadVar\", payload: this.nomVarG });\n      }\n    },\n\n    openSchemaModal(prop) {\n      this.editingProperty = prop;\n      if (!prop.schema) this.$set(prop, 'schema', {});\n      this.showSchemaModal = true;\n    },\n\n    addSchemaField() {\n      if (!this.newSchemaField.key) return;\n      this.$set(this.editingProperty.schema, this.newSchemaField.key, {\n        type: this.newSchemaField.type,\n        default: this.newSchemaField.default\n      });\n      this.newSchemaField = { key: '', type: 'int', default: '' };\n    },\n\n    removeSchemaField(key) {\n      this.$delete(this.editingProperty.schema, key);\n    },\n\n    saveSchema() {\n      this.showSchemaModal = false;\n    },\n\n    cancelSchema() {\n      this.showSchemaModal = false;\n    }\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg?.payload) {\n          const data = newMsg.payload;\n          if (data.nomVarG) {\n            this.nomVarG = data.nomVarG;\n            this.typeVarG = data.typeVarG || '';\n            this.instances = data.instances || [];\n\n            this.proprietesByInstance = {\n              proprietes: data.proprietesByInstance?.proprietes || [],\n              abbrProprietes: data.proprietesByInstance?.abbrProprietes || {},\n              valeurs: data.proprietesByInstance?.valeurs || {}\n            };\n\n            this.newProperty = {\n              nom: '',\n              type: '',\n              abbr: '',\n              initialValues: {}\n            };\n            this.instances.forEach(instance => {\n              this.$set(this.newProperty.initialValues, instance, '');\n            });\n          } else {\n            this.nomVarG = '';\n            this.instances = [];\n            this.proprietesByInstance = {\n              proprietes: [],\n              abbrProprietes: {},\n              valeurs: {}\n            };\n          }\n        } else {\n          this.nomVarG = '';\n          this.instances = [];\n          this.proprietesByInstance = {\n            proprietes: [],\n            abbrProprietes: {},\n            valeurs: {}\n          };\n        }\n      }\n    }\n  }\n};\n</script>\n\n<style scoped>\n  /* Conteneur principal */\n  .var-editor {\n    padding: 15px;\n    max-width: 100%;\n  }\n\n  /* Titre */\n  .placeholder-title {\n    color: #666;\n    font-style: italic;\n  }\n\n  /* Conteneur du tableau */\n  .table-container {\n    overflow-x: auto;\n    margin-bottom: 15px;\n  }\n\n  /* Tableau des propriétés */\n  .properties-table {\n    border-collapse: collapse;\n    width: 100%;\n    min-width: 800px;\n    background: white;\n  }\n\n  .properties-table th,\n  .properties-table td {\n    border: 1px solid #ddd;\n    padding: 8px 10px;\n    text-align: center;\n  }\n\n  .properties-table th {\n    background: #f5f5f5;\n    position: sticky;\n    top: 0;\n  }\n\n  /* Colonne \"Nom propriété\" fixe */\n  .fixed-column {\n    position: sticky;\n    left: 0;\n    background: #f5f5f5;\n    z-index: 1;\n    min-width: 150px;\n  }\n\n  /* Colonne \"Abrév.\" étroite */\n  .abbr-column {\n    min-width: 60px;\n  }\n\n  /* Colonne \"Type\" plus large */\n  .type-column {\n    min-width: 120px;\n  }\n\n  /* Autres colonnes */\n  .instance-column {\n    min-width: 120px;\n  }\n\n  .actions-column {\n    min-width: 120px;\n  }\n\n  /* Champs de saisie */\n  .edit-input,\n  .type-select {\n    width: 100%;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .checkbox-input {\n    transform: scale(1.3);\n  }\n\n  .object-textarea {\n    width: 100%;\n    min-height: 50px;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    font-family: monospace;\n    resize: vertical;\n  }\n\n  /* Ligne d'ajout */\n  .add-row {\n    background: #f9f9f9;\n  }\n\n  /* Modale intégrée dans la page */\n  .inline-modal {\n    margin: 20px 0;\n    padding: 15px;\n    border: 1px solid #ddd;\n    border-radius: 5px;\n    background: white;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n  }\n\n  .modal-content {\n    padding: 15px;\n  }\n\n  .schema-field {\n    display: flex;\n    gap: 10px;\n    margin-bottom: 10px;\n    align-items: center;\n  }\n\n  .schema-input,\n  .schema-type {\n    padding: 5px;\n    flex: 1;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .modal-actions {\n    display: flex;\n    justify-content: flex-end;\n    gap: 10px;\n    margin-top: 15px;\n  }\n\n  .modal-save-btn {\n    background: #4CAF50;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  .modal-cancel-btn {\n    background: #f44336;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  /* Gestion des instances */\n  .instances-section {\n    margin: 15px 0;\n  }\n\n  .instances-box {\n    border: 2px solid #007BFF;\n    border-radius: 5px;\n    padding: 15px;\n  }\n\n  .instances-box legend {\n    font-size: 1.1em;\n    font-weight: bold;\n    color: #007BFF;\n    padding: 0 10px;\n  }\n\n  .instance-controls {\n    display: flex;\n    gap: 10px;\n    align-items: center;\n  }\n\n  .instance-input {\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    flex-grow: 1;\n  }\n\n  /* Boutons */\n  .add-instance-btn,\n  .delete-instance-btn,\n  .add-btn,\n  .delete-btn,\n  .schema-btn {\n    padding: 5px 10px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n  }\n\n  .add-instance-btn {\n    background: #e0f0ff;\n    color: #007BFF;\n  }\n\n  .delete-instance-btn {\n    background: #ffe0e0;\n    color: #d32f2f;\n  }\n\n  .add-btn {\n    background: #d4f7d4;\n    color: #2e7d32;\n  }\n\n  .delete-btn {\n    background: #f7d4d4;\n    color: #c62828;\n  }\n\n  .schema-btn {\n    background: #fff3e0;\n    color: #e65100;\n    width: 100%;\n  }\n\n  /* Boutons Enregistrer/Annuler */\n  .action-buttons {\n    display: flex;\n    gap: 15px;\n    margin-top: 20px;\n    padding-top: 15px;\n    border-top: 2px solid #eee;\n  }\n\n  .save-btn,\n  .cancel-btn {\n    padding: 8px 20px;\n    border: none;\n    border-radius: 4px;\n    font-weight: bold;\n    cursor: pointer;\n  }\n\n  .save-btn {\n    background: #2196F3;\n    color: white;\n  }\n\n  .cancel-btn {\n    background: white;\n    color: black;\n    border: 1px solid #ccc;\n  }\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1320,
        "y": 1500,
        "wires": [
            [
                "36968705c38f3778"
            ]
        ]
    },
    {
        "id": "96ce98880bd3a1b2",
        "type": "ui-template",
        "z": "01b7c8489b5e72b4",
        "d": true,
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "oldv3Template éditeur de propriétésV4",
        "order": 12,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"var-editor\">\n    <h3>Propriétés de : {{ nomVarG }}</h3>\n\n    <table class=\"var-table\">\n      <thead>\n        <tr>\n          <th>Nom propriété</th>\n          <th>Abréviation</th>\n          <th>Type</th>\n          <th v-for=\"instanceName in instances\" :key=\"instanceName\">{{ instanceName }}</th>\n          <th>Actions</th>\n        </tr>\n      </thead>\n      <tbody>\n        <!-- Ligne des propriétés existantes -->\n        <tr v-for=\"(prop, index) in proprietesByInstance.proprietes\" :key=\"index\">\n          <!-- Nom -->\n          <td>\n            <input v-model=\"prop.nom\" class=\"edit-input\"/>\n          </td>\n\n          <!-- Abréviation -->\n          <td>\n            <input\n              v-model=\"proprietesByInstance.abbrProprietes[prop.nom]\"\n              class=\"edit-input\"\n              placeholder=\"abbr\"\n            />\n          </td>\n\n          <!-- Type -->\n          <td>\n            <select v-model=\"prop.type\" class=\"edit-select\">\n              <option value=\"string\">string</option>\n              <option value=\"int\">int</option>\n              <option value=\"number\">number</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"array\">array</option>\n              <option value=\"object\">object</option>\n              <option value=\"date\">date</option>\n            </select>\n          </td>\n\n          <!-- Valeurs par instance -->\n          <td v-for=\"instanceName in instances\" :key=\"instanceName\">\n            <input\n              v-model=\"proprietesByInstance.valeurs[instanceName][prop.nom]\"\n              :type=\"getInputType(prop.type)\"\n              class=\"edit-input\"\n            />\n          </td>\n\n          <!-- Actions -->\n          <td class=\"action-buttons\">\n            <button @click=\"deleteProperty(index)\" class=\"delete-btn\">🗑️ Supprimer</button>\n          </td>\n        </tr>\n\n        <!-- Ligne d'ajout -->\n        <tr class=\"new-line\">\n          <td><input v-model=\"newProperty.nom\" placeholder=\"Nouvelle propriété\" /></td>\n          <td><input v-model=\"newProperty.abbr\" placeholder=\"Abréviation\" /></td>\n          <td>\n            <select v-model=\"newProperty.type\">\n              <option value=\"\">-- type --</option>\n              <option value=\"string\">string</option>\n              <option value=\"int\">int</option>\n              <option value=\"number\">number</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"array\">array</option>\n              <option value=\"object\">object</option>\n              <option value=\"date\">date</option>\n            </select>\n          </td>\n          <td v-for=\"instanceName in instances\" :key=\"instanceName\">\n            <input v-model=\"newProperty.initialValues[instanceName]\" placeholder=\"Valeur\" />\n          </td>\n          <td><button @click=\"addProperty\" class=\"add-btn\">➕ Ajouter</button></td>\n        </tr>\n      </tbody>\n    </table>\n\n    <!-- Gestion des instances -->\n    <fieldset class=\"styled-box\">\n      <legend>⚙️ Gestion des instances</legend>\n      <div>\n        <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" />\n        <button @click=\"addInstance\" class=\"instance-btn\">➕ Ajouter Instance</button>\n        <button v-if=\"instances.length > 0\" @click=\"confirmDeleteInstance\" class=\"delete-instance-btn\">\n        🗑️ Supprimer dernière\n      </button>\n      </div>\n    </fieldset>\n\n    <!-- Boutons de contrôle -->\n    <div class=\"control-buttons\">\n      <button @click=\"saveAllChanges\" class=\"save-btn\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"reset-btn\">🔁 Recharger</button>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: '',\n      typeVarG: '',\n      instances: [],\n      proprietesByInstance: {\n        proprietes: [],\n        abbrProprietes: {},\n        valeurs: {}\n      },\n      newProperty: {\n        nom: '',\n        type: '',\n        abbr: '',\n        initialValues: {}\n      },\n      newInstanceName: ''\n    };\n  },\n  methods: {\n    getInputType(type) {\n      switch (type) {\n        case 'boolean': return 'checkbox';\n        case 'int':\n        case 'number': return 'number';\n        case 'date': return 'date';\n        default: return 'text';\n      }\n    },\n\n    addProperty() {\n      if (!this.newProperty.nom || !this.newProperty.type) {\n        alert(\"Le nom et le type sont obligatoires\");\n        return;\n      }\n\n      const newProp = {\n        nom: this.newProperty.nom,\n        type: this.newProperty.type\n      };\n\n      this.proprietesByInstance.proprietes.push(newProp);\n\n      // Gestion de abbrProprietes\n      if (this.newProperty.abbr) {\n        this.proprietesByInstance.abbrProprietes[newProp.nom] = this.newProperty.abbr;\n      }\n\n      // Initialisation des valeurs par instance\n      this.instances.forEach(instance => {\n        if (!this.proprietesByInstance.valeurs[instance]) {\n          this.$set(this.proprietesByInstance.valeurs, instance, {});\n        }\n\n        let val = this.newProperty.initialValues[instance] || '';\n        if (newProp.type === 'boolean') val = Boolean(val);\n        if (newProp.type === 'int' || newProp.type === 'number') val = parseFloat(val) || 0;\n        if (newProp.type === 'array') val = String(val).split(',').map(v => v.trim());\n\n        this.$set(this.proprietesByInstance.valeurs[instance], newProp.nom, val);\n      });\n\n      // Réinitialisation\n      this.newProperty.nom = '';\n      this.newProperty.type = '';\n      this.newProperty.abbr = '';\n      this.instances.forEach(instance => {\n        this.$set(this.newProperty.initialValues, instance, '');\n      });\n    },\n\n    deleteProperty(index) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n\n      const propName = this.proprietesByInstance.proprietes[index].nom;\n      this.proprietesByInstance.proprietes.splice(index, 1);\n      this.instances.forEach(instance => {\n        this.$delete(this.proprietesByInstance.valeurs[instance], propName);\n      });\n\n      // Supprimer abbrProprietes associée\n      this.$delete(this.proprietesByInstance.abbrProprietes, propName);\n    },\n\n    addInstance() {\n      if (!this.newInstanceName) return;\n\n      const instanceName = this.newInstanceName.trim();\n      if (!instanceName || this.instances.includes(instanceName)) return;\n\n      this.instances.push(instanceName);\n\n      if (!this.proprietesByInstance.valeurs[instanceName]) {\n        this.proprietesByInstance.valeurs[instanceName] = {};\n      }\n\n      this.proprietesByInstance.proprietes.forEach(prop => {\n        let defVal = '';\n        if (prop.type === 'boolean') defVal = false;\n        if (prop.type === 'number' || prop.type === 'int') defVal = 0;\n        if (prop.type === 'array') defVal = [];\n\n        this.proprietesByInstance.valeurs[instanceName][prop.nom] = defVal;\n      });\n\n      this.newProperty.initialValues[instanceName] = '';\n      this.newInstanceName = '';\n    },\n\n    confirmDeleteInstance() {\n      const lastInstance = this.instances[this.instances.length - 1];\n      if (confirm(`Supprimer l'instance \"${lastInstance}\" ?`)) {\n        this.instances.pop();\n        this.$delete(this.proprietesByInstance.valeurs, lastInstance);\n        this.$delete(this.newProperty.initialValues, lastInstance);\n      }\n    },\n\n    saveAllChanges() {\n      const payload = {\n        nomVarG: this.nomVarG,\n        typeVarG: this.typeVarG,\n        instances: this.instances,\n        proprietesByInstance: JSON.parse(JSON.stringify(this.proprietesByInstance))\n      };\n\n      this.send({ \n        topic: \"saveChanges\", \n        payload: payload \n      });\n    },\n\n    resetChanges() {\n      this.send({ \n        topic: \"reloadVar\", \n        payload: this.nomVarG \n      });\n    }\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg?.payload) {\n          const data = newMsg.payload;\n          if (data.nomVarG && data.proprietesByInstance) {\n            this.nomVarG = data.nomVarG;\n            this.typeVarG = data.typeVarG || '';\n            this.instances = Array.isArray(data.instances) ? data.instances : [];\n            \n            this.proprietesByInstance = {\n              proprietes: data.proprietesByInstance.proprietes.map(p => ({\n                nom: p.nom,\n                type: p.type\n              })),\n              abbrProprietes: data.proprietesByInstance.abbrProprietes || {},\n              valeurs: JSON.parse(JSON.stringify(data.proprietesByInstance.valeurs || {}))\n            };\n\n            // Initialise les valeurs pour les nouvelles propriétés\n            this.instances.forEach(instance => {\n              this.$set(this.newProperty.initialValues, instance, '');\n            });\n          }\n        }\n      }\n    }\n  }\n};\n</script>\n\n<style scoped>\n  /* 📌 Conteneur global avec scroll horizontal */\n  .var-editor {\n    overflow-x: auto;\n    max-width: 100%;\n    padding: 10px;\n  }\n\n  /* 📌 Table avec largeur auto-ajustée */\n  .var-table {\n    border-collapse: collapse;\n    width: max-content;\n    /* s’élargit si beaucoup de colonnes */\n    min-width: 900px;\n    /* pour rester lisible */\n  }\n\n  /* Bordures du tableau */\n  .var-table th,\n  .var-table td {\n    border: 1px solid #ccc;\n    padding: 6px;\n    text-align: center;\n    white-space: nowrap;\n  }\n\n  /* 📌 Colonnes fixes : Nom + Abréviation + Type */\n  .var-table th:first-child,\n  .var-table td:first-child,\n  .var-table th:nth-child(2),\n  .var-table td:nth-child(2),\n  .var-table th:nth-child(3),\n  .var-table td:nth-child(3) {\n    position: sticky;\n    left: 0;\n    background: #f9f9f9;\n    z-index: 2;\n    min-width: 140px;\n  }\n\n  /* 📌 Colonnes des instances : largeur ajustée */\n  .var-table th:nth-child(n+4),\n  .var-table td:nth-child(n+4) {\n    min-width: 90px;\n    max-width: 120px;\n  }\n\n  /* Champs input */\n  .edit-input {\n    width: 95%;\n    padding: 3px;\n  }\n\n  /* Boutons */\n  .add-btn,\n  .delete-btn,\n  .save-btn,\n  .reset-btn,\n  .instance-btn,\n  .delete-instance-btn {\n    padding: 4px 8px;\n    margin: 2px;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n  }\n\n  .add-btn {\n    background: #d4f7d4;\n  }\n\n  .delete-btn {\n    background: #f7d4d4;\n  }\n\n  .save-btn {\n    background: #4CAF50;\n    color: white;\n    font-size: 16px;\n  }\n\n  .reset-btn {\n    background: #2196F3;\n    color: white;\n    font-size: 16px;\n  }\n\n  .instance-btn {\n    background: #e0f0ff;\n  }\n\n  .delete-instance-btn {\n    background: #ffe0e0;\n  }\n\n  /* Bloc instances */\n  .styled-box {\n    border: 2px solid #007BFF;\n    margin-top: 20px;\n    padding: 10px;\n  }\n\n  .styled-box legend {\n    font-size: 1.2em;\n    font-weight: bold;\n    color: #007BFF;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1690,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "935974e36e661d67",
        "type": "ui-text",
        "z": "01b7c8489b5e72b4",
        "group": "ac208ef77b5e8aea",
        "order": 2,
        "width": "2",
        "height": "1",
        "name": "VarSelectionne",
        "label": "Tableau des variables - Selectionner pour modifier : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "1197e0f1412c22cc",
        "type": "change",
        "z": "01b7c8489b5e72b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "935974e36e661d67"
            ]
        ]
    },
    {
        "id": "aae44fad4f6102a8",
        "type": "ui-text",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "order": 2,
        "width": "2",
        "height": "1",
        "name": "Titre Var modif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#0000ff",
        "wrapText": false,
        "className": "",
        "x": 1280,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fd0cafbe44cacf08",
        "type": "ui-template",
        "z": "01b7c8489b5e72b4",
        "d": true,
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "Template éditeur de propriétésVold4",
        "order": 11,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"var-editor\">\n    <h3>Propriétés de : {{ nomVarG }}</h3>\n    <table class=\"var-table\">\n      <thead>\n        <tr>\n          <th>Nom propriété</th>\n          <th>Abréviation</th>\n          <th>Type</th>\n          <th v-for=\"instanceName in instances\" :key=\"instanceName\">{{ instanceName }}</th>\n          <th>Actions</th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-for=\"(prop, index) in proprietesByInstance.proprietes\" :key=\"index\">\n          <td><input v-model=\"prop.nom\" class=\"edit-input\" /></td>\n          <td>\n            <input\n              v-model=\"proprietesByInstance.abbrProprietes[prop.nom]\"\n              class=\"edit-input\"\n              placeholder=\"abbr\"\n            />\n          </td>\n          <td>\n            <select v-model=\"prop.type\" class=\"edit-select\" @change=\"onTypeChange(prop, $event)\">\n              <option value=\"string\">string</option>\n              <option value=\"int\">int</option>\n              <option value=\"number\">number</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"array\">array</option>\n              <option value=\"object\">object</option>\n            </select>\n          </td>\n          <td v-for=\"instanceName in instances\" :key=\"instanceName\">\n            <input\n              v-if=\"prop.type === 'boolean'\"\n              type=\"checkbox\"\n              v-model=\"proprietesByInstance.valeurs[instanceName][prop.nom]\"\n              class=\"edit-checkbox\"\n            />\n            <input\n              v-else-if=\"prop.type !== 'object' && prop.type !== 'array'\"\n              v-model=\"proprietesByInstance.valeurs[instanceName][prop.nom]\"\n              :type=\"getInputType(prop.type)\"\n              class=\"edit-input\"\n            />\n            <textarea\n              v-else-if=\"prop.type === 'object'\"\n              v-model=\"proprietesByInstance.valeurs[instanceName][prop.nom]\"\n              class=\"edit-textarea\"\n              placeholder='{\"exemple\": \"valeur\"}'\n            ></textarea>\n            <input\n              v-else\n              v-model=\"proprietesByInstance.valeurs[instanceName][prop.nom]\"\n              placeholder=\"1,2,3\"\n              class=\"edit-input\"\n            />\n          </td>\n          <td class=\"action-buttons\">\n            <button\n              v-if=\"prop.type === 'object'\"\n              @click=\"openSchemaModal(prop)\"\n              class=\"edit-schema-btn\"\n            >\n              ⚙️ Schema\n            </button>\n            <button @click=\"deleteProperty(index)\" class=\"delete-btn\">🗑️ Supprimer</button>\n          </td>\n        </tr>\n        <tr class=\"new-line\">\n          <td><input v-model=\"newProperty.nom\" placeholder=\"Nom\" /></td>\n          <td><input v-model=\"newProperty.abbr\" placeholder=\"Abréviation\" /></td>\n          <td>\n            <select v-model=\"newProperty.type\">\n              <option value=\"\">-- type --</option>\n              <option value=\"string\">string</option>\n              <option value=\"int\">int</option>\n              <option value=\"number\">number</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"array\">array</option>\n              <option value=\"object\">object</option>\n            </select>\n          </td>\n          <td v-for=\"instanceName in instances\" :key=\"instanceName\">\n            <input v-model=\"newProperty.initialValues[instanceName]\" placeholder=\"Valeur\" />\n          </td>\n          <td><button @click=\"addProperty\" class=\"add-btn\">➕ Ajouter</button></td>\n        </tr>\n      </tbody>\n    </table>\n    <fieldset class=\"styled-box\">\n      <legend>⚙️ Gestion des instances</legend>\n      <div>\n        <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" />\n        <button @click=\"addInstance\" class=\"instance-btn\">➕ Ajouter</button>\n        <button v-if=\"instances.length > 0\" @click=\"confirmDeleteInstance\" class=\"delete-instance-btn\">\n          🗑️ Supprimer dernière\n        </button>\n      </div>\n    </fieldset>\n    <div class=\"control-buttons\">\n      <button @click=\"saveAllChanges\" class=\"save-btn\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"reset-btn\">🔁 Annuler</button>\n    </div>\n\n    <!-- Modale pour éditer le schéma des objets -->\n    <div v-if=\"showSchemaModal\" class=\"modal-overlay\">\n      <div class=\"modal-content\">\n        <h3>Éditer le schéma pour : {{ editingProperty.nom }}</h3>\n        <div class=\"schema-fields\">\n          <div v-for=\"(field, fieldKey) in editingProperty.schema\" :key=\"fieldKey\" class=\"schema-field\">\n            <input v-model=\"fieldKey\" class=\"field-key\" placeholder=\"Nom du champ\" />\n            <select v-model=\"field.type\" class=\"field-type\">\n              <option value=\"int\">int</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"string\">string</option>\n              <option value=\"number\">number</option>\n            </select>\n            <input v-model=\"field.default\" class=\"field-default\" placeholder=\"Valeur par défaut\" />\n            <button @click=\"removeSchemaField(fieldKey)\" class=\"remove-field\">❌</button>\n          </div>\n        </div>\n        <div class=\"new-schema-field\">\n          <input v-model=\"newSchemaField.key\" placeholder=\"Nouveau champ\" />\n          <select v-model=\"newSchemaField.type\">\n            <option value=\"int\">int</option>\n            <option value=\"boolean\">boolean</option>\n            <option value=\"string\">string</option>\n            <option value=\"number\">number</option>\n          </select>\n          <input v-model=\"newSchemaField.default\" placeholder=\"Valeur par défaut\" />\n          <button @click=\"addSchemaField\" class=\"add-field\">➕ Ajouter</button>\n        </div>\n        <div class=\"modal-actions\">\n          <button @click=\"saveSchema\" class=\"save-btn\">Enregistrer</button>\n          <button @click=\"cancelSchema\" class=\"cancel-btn\">Annuler</button>\n        </div>\n      </div>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: '',\n      typeVarG: '',\n      instances: [],\n      proprietesByInstance: {\n        proprietes: [],\n        abbrProprietes: {},\n        valeurs: {}\n      },\n      newProperty: {\n        nom: '',\n        type: '',\n        abbr: '',\n        initialValues: {}\n      },\n      newInstanceName: '',\n      showSchemaModal: false,\n      editingProperty: null,\n      newSchemaField: { key: '', type: 'int', default: '' }\n    };\n  },\n  methods: {\n    getInputType(type) {\n      switch (type) {\n        case 'boolean': return 'checkbox';\n        case 'int': case 'number': return 'number';\n        default: return 'text';\n      }\n    },\n\n    onTypeChange(prop, event) {\n      const newType = event.target.value;\n      if (newType === 'object' && !prop.schema) {\n        this.$set(prop, 'schema', {});\n      }\n      // Mise à jour des valeurs existantes\n      this.instances.forEach(instance => {\n        if (this.proprietesByInstance.valeurs[instance]?.[prop.nom] !== undefined) {\n          let newValue;\n          const currentValue = this.proprietesByInstance.valeurs[instance][prop.nom];\n          try {\n            switch (newType) {\n              case 'boolean': newValue = Boolean(currentValue); break;\n              case 'int': case 'number': newValue = parseFloat(currentValue) || 0; break;\n              case 'array': newValue = Array.isArray(currentValue) ? currentValue : []; break;\n              case 'object': newValue = typeof currentValue === 'object' ? currentValue : {}; break;\n              default: newValue = String(currentValue);\n            }\n          } catch (e) {\n            newValue = this.defaultForType(newType);\n          }\n          this.$set(this.proprietesByInstance.valeurs[instance], prop.nom, newValue);\n        }\n      });\n    },\n\n    defaultForType(type) {\n      switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        default: return \"\";\n      }\n    },\n\n    addProperty() {\n      if (!this.newProperty.nom || !this.newProperty.type) {\n        alert(\"Le nom et le type sont obligatoires\");\n        return;\n      }\n      const newProp = {\n        nom: this.newProperty.nom,\n        type: this.newProperty.type\n      };\n      if (newProp.type === 'object') {\n        newProp.schema = {};\n      }\n      this.proprietesByInstance.proprietes.push(newProp);\n      if (this.newProperty.abbr) {\n        this.$set(this.proprietesByInstance.abbrProprietes, newProp.nom, this.newProperty.abbr);\n      }\n      // Initialisation des valeurs\n      this.instances.forEach(instance => {\n        if (!this.proprietesByInstance.valeurs[instance]) {\n          this.$set(this.proprietesByInstance.valeurs, instance, {});\n        }\n        this.$set(\n          this.proprietesByInstance.valeurs[instance],\n          newProp.nom,\n          this.defaultForType(newProp.type)\n        );\n      });\n      this.newProperty = { nom: '', type: '', abbr: '', initialValues: {} };\n    },\n\n    deleteProperty(index) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n      const propName = this.proprietesByInstance.proprietes[index].nom;\n      this.proprietesByInstance.proprietes.splice(index, 1);\n      this.instances.forEach(instance => {\n        this.$delete(this.proprietesByInstance.valeurs[instance], propName);\n      });\n      this.$delete(this.proprietesByInstance.abbrProprietes, propName);\n    },\n\n    addInstance() {\n      if (!this.newInstanceName) return;\n      const instanceName = this.newInstanceName.trim();\n      if (!instanceName || this.instances.includes(instanceName)) return;\n      this.instances.push(instanceName);\n      this.$set(this.proprietesByInstance.valeurs, instanceName, {});\n      this.proprietesByInstance.proprietes.forEach(prop => {\n        this.$set(\n          this.proprietesByInstance.valeurs[instanceName],\n          prop.nom,\n          this.defaultForType(prop.type)\n        );\n      });\n      this.newInstanceName = '';\n    },\n\n    confirmDeleteInstance() {\n      if (this.instances.length === 0) return;\n      const lastInstance = this.instances[this.instances.length - 1];\n      if (confirm(`Supprimer l'instance \"${lastInstance}\" ?`)) {\n        this.instances.pop();\n        this.$delete(this.proprietesByInstance.valeurs, lastInstance);\n      }\n    },\n\n    saveAllChanges() {\n      const payload = {\n        nomVarG: this.nomVarG,\n        abbrVarG: this.proprietesByInstance.abbrVarG || \"\",\n        typeVarG: this.typeVarG,\n        instances: this.instances,\n        proprietesByInstance: {\n          proprietes: this.proprietesByInstance.proprietes.map(p => ({\n            nom: p.nom,\n            type: p.type,\n            schema: p.schema\n          })),\n          abbrProprietes: this.proprietesByInstance.abbrProprietes,\n          valeurs: {}\n        }\n      };\n      // Sérialisation des valeurs\n      this.instances.forEach(instance => {\n        payload.proprietesByInstance.valeurs[instance] = {};\n        this.proprietesByInstance.proprietes.forEach(prop => {\n          const value = this.proprietesByInstance.valeurs[instance][prop.nom];\n          if (value !== undefined) {\n            payload.proprietesByInstance.valeurs[instance][prop.nom] =\n              (prop.type === 'object' || prop.type === 'array') ? JSON.stringify(value) : value;\n          }\n        });\n      });\n      this.send({ topic: \"saveChanges\", payload: payload });\n    },\n\n    resetChanges() {\n      this.send({ topic: \"reloadVar\", payload: this.nomVarG });\n    },\n\n    // Méthodes pour la modale\n    openSchemaModal(prop) {\n      this.editingProperty = prop;\n      if (!prop.schema) this.$set(prop, 'schema', {});\n      this.showSchemaModal = true;\n    },\n\n    updateFieldKey(oldKey, newKey) {\n      if (oldKey !== newKey && this.editingProperty.schema[oldKey]) {\n        this.$set(this.editingProperty.schema, newKey, this.editingProperty.schema[oldKey]);\n        this.$delete(this.editingProperty.schema, oldKey);\n      }\n    },\n\n    addSchemaField() {\n      if (!this.newSchemaField.key) return;\n      this.$set(this.editingProperty.schema, this.newSchemaField.key, {\n        type: this.newSchemaField.type,\n        default: this.newSchemaField.default\n      });\n      this.newSchemaField = { key: '', type: 'int', default: '' };\n    },\n\n    removeSchemaField(key) {\n      this.$delete(this.editingProperty.schema, key);\n    },\n\n    saveSchema() {\n      this.showSchemaModal = false;\n    },\n\n    cancelSchema() {\n      this.showSchemaModal = false;\n    }\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg?.payload) {\n          const data = newMsg.payload;\n          this.nomVarG = data.nomVarG;\n          this.typeVarG = data.typeVarG || '';\n          this.instances = data.instances || [];\n          this.proprietesByInstance = {\n            proprietes: data.proprietesByInstance.proprietes || [],\n            abbrProprietes: data.proprietesByInstance.abbrProprietes || {},\n            valeurs: data.proprietesByInstance.valeurs || {}\n          };\n        }\n      }\n    }\n  }\n};\n</script>\n\n<style scoped>\n  /* Styles inchangés (voir version précédente) */\n  .var-editor {\n    overflow-x: auto;\n    max-width: 100%;\n    padding: 10px;\n  }\n\n  .var-table {\n    border-collapse: collapse;\n    width: 100%;\n    min-width: 900px;\n  }\n\n  .var-table th,\n  .var-table td {\n    border: 1px solid #ccc;\n    padding: 6px;\n    text-align: center;\n  }\n\n  .edit-input,\n  .edit-select {\n    width: 90%;\n    padding: 3px;\n  }\n\n  .edit-checkbox {\n    transform: scale(1.5);\n  }\n\n  .edit-textarea {\n    width: 90%;\n    min-height: 60px;\n    font-family: monospace;\n  }\n\n  /* ... (autres styles inchangés) */\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1310,
        "y": 1560,
        "wires": [
            [
                "36968705c38f3778"
            ]
        ]
    },
    {
        "id": "732468439d07c0c6",
        "type": "ui-template",
        "z": "01b7c8489b5e72b4",
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "Template éditeur de propriétésV4",
        "order": 10,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"var-editor\">\n    <!-- Titre -->\n    <h3 v-if=\"nomVarG\">Propriétés de : {{ nomVarG }}</h3>\n    <h3 v-else class=\"placeholder-title\">Sélectionnez une variable</h3>\n\n    <!-- Tableau des propriétés -->\n    <div class=\"table-container\" v-if=\"nomVarG\">\n      <table class=\"properties-table\">\n        <thead>\n          <tr>\n            <th class=\"fixed-column\">Nom propriété</th>\n            <th class=\"abbr-column\">Abrév.</th>\n            <th class=\"type-column\">Type</th>\n            <th v-for=\"instance in instances\" :key=\"instance\" class=\"instance-column\">{{ instance }}</th>\n            <th class=\"actions-column\">Actions</th>\n          </tr>\n        </thead>\n        <tbody>\n          <!-- Lignes des propriétés existantes -->\n          <tr v-for=\"(prop, index) in proprietesByInstance.proprietes\" :key=\"'prop-' + index\">\n            <td class=\"fixed-column\"><input v-model=\"prop.nom\" class=\"edit-input\" /></td>\n            <td class=\"abbr-column\">\n              <input v-model=\"proprietesByInstance.abbrProprietes[prop.nom]\" class=\"edit-input\" placeholder=\"abbr\" maxlength=\"5\" />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"prop.type\" class=\"type-select\" @change=\"onTypeChange(prop, $event)\">\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <!-- Colonnes des instances -->\n            <td v-for=\"instance in instances\" :key=\"'inst-' + instance + '-' + index\" class=\"instance-column\">\n              <input\n                v-if=\"prop.type === 'boolean'\"\n                type=\"checkbox\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                class=\"checkbox-input\"\n              />\n              <input\n                v-else-if=\"prop.type !== 'object' && prop.type !== 'array'\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                :type=\"getInputType(prop.type)\"\n                class=\"edit-input\"\n              />\n              <div v-else>\n                <button @click=\"openPropertyEditor(prop, instance)\" class=\"edit-btn\">Éditer {{ prop.type }}</button>\n              </div>\n            </td>\n            <td class=\"actions-column\">\n              <button v-if=\"prop.type === 'object'\" @click=\"openSchemaModal(prop)\" class=\"schema-btn\">⚙️ Éditer schéma</button>\n              <button @click=\"deleteProperty(index)\" class=\"delete-btn\">🗑️</button>\n            </td>\n          </tr>\n          <!-- Ligne d'ajout -->\n          <tr v-if=\"nomVarG\" class=\"add-row\">\n            <td class=\"fixed-column\"><input v-model=\"newProperty.nom\" placeholder=\"Nom\" class=\"edit-input\" /></td>\n            <td class=\"abbr-column\"><input v-model=\"newProperty.abbr\" placeholder=\"Abrév.\" class=\"edit-input\" maxlength=\"5\" />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"newProperty.type\" class=\"type-select\">\n                <option value=\"\">-- type --</option>\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <td v-for=\"instance in instances\" :key=\"'new-' + instance\" class=\"instance-column\">\n              <input v-model=\"newProperty.initialValues[instance]\" placeholder=\"Valeur\" class=\"edit-input\" />\n            </td>\n            <td class=\"actions-column\"><button @click=\"addProperty\" class=\"add-btn\">➕ Ajouter</button></td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- Éditeur de propriété (object/array) -->\n    <div v-if=\"showPropertyEditor\" class=\"property-editor-modal\">\n      <h3>Éditer {{ editingProperty.nom }} ({{ editingInstance }})</h3>\n      <textarea\n        v-model=\"editingPropertyValue\"\n        @blur=\"saveEditedProperty\"\n        :placeholder=\"editingProperty.type === 'object' ? '{}' : '[]'\"\n        class=\"object-textarea\"\n      ></textarea>\n      <button @click=\"closePropertyEditor\" class=\"modal-cancel-btn\">Fermer</button>\n    </div>\n\n    <!-- Modale pour éditer le schéma -->\n    <div v-if=\"showSchemaModal\" class=\"inline-modal\">\n      <div class=\"modal-content\">\n        <h3>Éditer le schéma pour : {{ editingProperty.nom }}</h3>\n        <div class=\"schema-fields\">\n          <div v-for=\"(field, key) in editingProperty.schema\" :key=\"key\" class=\"schema-field\">\n            <input v-model=\"field.key\" class=\"schema-input\" placeholder=\"Nom\" disabled />\n            <select v-model=\"field.type\" class=\"schema-type\">\n              <option value=\"int\">int</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"string\">string</option>\n              <option value=\"number\">number</option>\n            </select>\n            <input v-model=\"field.default\" class=\"schema-input\" placeholder=\"Défaut\" />\n            <button @click=\"removeSchemaField(key)\" class=\"remove-field-btn\">❌</button>\n          </div>\n        </div>\n        <div class=\"new-schema-field\">\n          <input v-model=\"newSchemaField.key\" placeholder=\"Nouveau champ\" class=\"schema-input\" />\n          <select v-model=\"newSchemaField.type\" class=\"schema-type\">\n            <option value=\"int\">int</option>\n            <option value=\"boolean\">boolean</option>\n            <option value=\"string\">string</option>\n            <option value=\"number\">number</option>\n          </select>\n          <input v-model=\"newSchemaField.default\" placeholder=\"Défaut\" class=\"schema-input\" />\n          <button @click=\"addSchemaField\" class=\"add-field-btn\">➕ Ajouter</button>\n        </div>\n        <div class=\"modal-actions\">\n          <button @click=\"saveSchema\" class=\"modal-save-btn\">Enregistrer</button>\n          <button @click=\"cancelSchema\" class=\"modal-cancel-btn\">Annuler</button>\n        </div>\n      </div>\n    </div>\n\n    <!-- Gestion des instances -->\n    <div v-if=\"nomVarG\" class=\"instances-section\">\n      <fieldset class=\"instances-box\">\n        <legend>⚙️ Gestion des instances</legend>\n        <div class=\"instance-controls\">\n          <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" class=\"instance-input\" />\n          <button @click=\"addInstance\" class=\"add-instance-btn\">➕ Ajouter</button>\n          <button v-if=\"instances.length > 0\" @click=\"confirmDeleteInstance\" class=\"delete-instance-btn\">🗑️ Supprimer dernière</button>\n        </div>\n      </fieldset>\n    </div>\n\n    <!-- Boutons Enregistrer/Annuler -->\n    <div v-if=\"nomVarG\" class=\"action-buttons\">\n      <button @click=\"saveAllChanges\" class=\"save-btn\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"cancel-btn\">🔁 Annuler</button>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: '',\n      typeVarG: '',\n      instances: [],\n      proprietesByInstance: { proprietes: [], abbrProprietes: {}, valeurs: {} },\n      newProperty: { nom: '', type: '', abbr: '', initialValues: {} },\n      newInstanceName: '',\n      showSchemaModal: false,\n      editingProperty: null,\n      newSchemaField: { key: '', type: 'int', default: '' },\n      showPropertyEditor: false,\n      editingInstance: null,\n      editingPropertyValue: ''\n    };\n  },\n  methods: {\n    getInputType(type) {\n      switch (type) {\n        case 'boolean': return 'checkbox';\n        case 'int': case 'number': return 'number';\n        default: return 'text';\n      }\n    },\n    onTypeChange(prop, event) {\n      const newType = event.target.value;\n      if (newType === 'object' && !prop.schema) {\n        this.$set(prop, 'schema', {});\n      }\n    },\n    defaultForType(type) {\n      switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        default: return \"\";\n      }\n    },\n    addProperty() {\n      if (!this.newProperty.nom || !this.newProperty.type) {\n        alert(\"Le nom et le type sont obligatoires\");\n        return;\n      }\n      const newProp = { nom: this.newProperty.nom, type: this.newProperty.type };\n      if (newProp.type === 'object') {\n        this.$set(newProp, 'schema', {});\n      }\n      this.proprietesByInstance.proprietes.push(newProp);\n      if (this.newProperty.abbr) {\n        this.$set(this.proprietesByInstance.abbrProprietes, newProp.nom, this.newProperty.abbr);\n      }\n      this.instances.forEach(instance => {\n        if (!this.proprietesByInstance.valeurs[instance]) {\n          this.$set(this.proprietesByInstance.valeurs, instance, {});\n        }\n        this.$set(this.proprietesByInstance.valeurs[instance], newProp.nom, this.defaultForType(newProp.type));\n      });\n      this.newProperty = { nom: '', type: '', abbr: '', initialValues: {} };\n    },\n    deleteProperty(index) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n      const propName = this.proprietesByInstance.proprietes[index].nom;\n      this.proprietesByInstance.proprietes.splice(index, 1);\n      this.instances.forEach(instance => {\n        this.$delete(this.proprietesByInstance.valeurs[instance], propName);\n      });\n      this.$delete(this.proprietesByInstance.abbrProprietes, propName);\n    },\n    openPropertyEditor(prop, instance) {\n      this.editingProperty = prop;\n      this.editingInstance = instance;\n      this.editingPropertyValue = JSON.stringify(this.proprietesByInstance.valeurs[instance][prop.nom], null, 2);\n      this.showPropertyEditor = true;\n    },\n    saveEditedProperty() {\n      try {\n        const parsedValue = JSON.parse(this.editingPropertyValue);\n        this.$set(this.proprietesByInstance.valeurs[this.editingInstance], this.editingProperty.nom, parsedValue);\n        this.closePropertyEditor();\n      } catch (e) {\n        alert(\"Format JSON invalide. Utilisez un format valide.\");\n      }\n    },\n    closePropertyEditor() {\n      this.showPropertyEditor = false;\n      this.editingProperty = null;\n      this.editingInstance = null;\n      this.editingPropertyValue = '';\n    },\n    addInstance() {\n      if (!this.newInstanceName) return;\n      const instanceName = this.newInstanceName.trim();\n      if (!instanceName || this.instances.includes(instanceName)) return;\n      this.instances.push(instanceName);\n      this.$set(this.proprietesByInstance.valeurs, instanceName, {});\n      this.proprietesByInstance.proprietes.forEach(prop => {\n        this.$set(this.proprietesByInstance.valeurs[instanceName], prop.nom, this.defaultForType(prop.type));\n      });\n      this.newInstanceName = '';\n    },\n    confirmDeleteInstance() {\n      if (this.instances.length === 0) return;\n      const lastInstance = this.instances[this.instances.length - 1];\n      if (confirm(`Supprimer l'instance \"${lastInstance}\" ?`)) {\n        this.instances.pop();\n        this.$delete(this.proprietesByInstance.valeurs, lastInstance);\n      }\n    },\n    openSchemaModal(prop) {\n      this.editingProperty = this.proprietesByInstance.proprietes.find(p => p.nom === prop.nom);\n      if (!this.editingProperty.schema) {\n        this.$set(this.editingProperty, 'schema', {});\n      }\n      this.showSchemaModal = true;\n    },\n    addSchemaField() {\n      if (!this.newSchemaField.key) return;\n      this.$set(this.editingProperty.schema, this.newSchemaField.key, {\n        type: this.newSchemaField.type,\n        default: this.newSchemaField.default\n      });\n      this.newSchemaField = { key: '', type: 'int', default: '' };\n    },\n    removeSchemaField(key) {\n      this.$delete(this.editingProperty.schema, key);\n    },\n    saveSchema() {\n      const propIndex = this.proprietesByInstance.proprietes.findIndex(p => p.nom === this.editingProperty.nom);\n      if (propIndex !== -1) {\n        this.$set(this.proprietesByInstance.proprietes, propIndex, this.editingProperty);\n      }\n      this.showSchemaModal = false;\n    },\n    cancelSchema() {\n      this.showSchemaModal = false;\n    },\n    saveAllChanges() {\n      const payload = {\n        nomVarG: this.nomVarG,\n        abbrVarG: this.proprietesByInstance.abbrVarG || \"\",\n        typeVarG: this.typeVarG,\n        instances: this.instances,\n        proprietesByInstance: {\n          proprietes: this.proprietesByInstance.proprietes.map(p => ({\n            nom: p.nom,\n            type: p.type,\n            schema: p.schema\n          })),\n          abbrProprietes: this.proprietesByInstance.abbrProprietes,\n          valeurs: {}\n        }\n      };\n      this.instances.forEach(instance => {\n        payload.proprietesByInstance.valeurs[instance] = {};\n        this.proprietesByInstance.proprietes.forEach(prop => {\n          const value = this.proprietesByInstance.valeurs[instance][prop.nom];\n          payload.proprietesByInstance.valeurs[instance][prop.nom] =\n            (prop.type === 'object' || prop.type === 'array') ? JSON.stringify(value) : value;\n        });\n      });\n      this.send({ topic: \"saveChanges\", payload: payload });\n    },\n    resetChanges() {\n      if (this.nomVarG) this.send({ topic: \"reloadVar\", payload: this.nomVarG });\n    }\n  },\n  watch: watch: {\n      msg: {\n          immediate: true,\n          handler(newMsg) {\n            if (newMsg?.payload) {\n                const data = newMsg.payload;\n                this.nomVarG = data.nomVarG || '';\n                this.typeVarG = data.typeVarG || '';\n                this.instances = data.instances || [];\n                this.proprietesByInstance = {\n                  proprietes: data.proprietesByInstance?.proprietes || [],\n                  abbrProprietes: data.proprietesByInstance?.abbrProprietes || {},\n                  valeurs: data.proprietesByInstance?.valeurs || {}\n                };\n                // Réinitialiser les valeurs pour chaque instance\n                this.instances.forEach(instance => {\n                  if (!this.proprietesByInstance.valeurs[instance]) {\n                    this.$set(this.proprietesByInstance.valeurs, instance, {});\n                  }\n                  this.proprietesByInstance.proprietes.forEach(prop => {\n                    if (!this.proprietesByInstance.valeurs[instance][prop.nom]) {\n                      this.$set(this.proprietesByInstance.valeurs[instance], prop.nom, this.defaultForType(prop.type));\n                    }\n                  });\n                });\n            }\n          }\n      }\n  }\n};\n</script>\n\n<style scoped>\n  /* Conteneur principal */\n  .var-editor {\n    padding: 15px;\n    max-width: 100%;\n  }\n\n  /* Titre */\n  .placeholder-title {\n    color: #666;\n    font-style: italic;\n  }\n\n  /* Conteneur du tableau */\n  .table-container {\n    overflow-x: auto;\n    margin-bottom: 15px;\n  }\n\n  /* Tableau des propriétés */\n  .properties-table {\n    border-collapse: collapse;\n    width: 100%;\n    min-width: 800px;\n    background: white;\n  }\n\n  .properties-table th,\n  .properties-table td {\n    border: 1px solid #ddd;\n    padding: 8px 10px;\n    text-align: center;\n  }\n\n  .properties-table th {\n    background: #f5f5f5;\n    position: sticky;\n    top: 0;\n  }\n\n  /* Colonne \"Nom propriété\" fixe */\n  .fixed-column {\n    position: sticky;\n    left: 0;\n    background: #f5f5f5;\n    z-index: 1;\n    min-width: 150px;\n  }\n\n  /* Colonne \"Abrév.\" étroite */\n  .abbr-column {\n    min-width: 60px;\n  }\n\n  /* Colonne \"Type\" plus large */\n  .type-column {\n    min-width: 120px;\n  }\n\n  /* Autres colonnes */\n  .instance-column {\n    min-width: 120px;\n  }\n\n  .actions-column {\n    min-width: 120px;\n  }\n\n  /* Champs de saisie */\n  .edit-input,\n  .type-select {\n    width: 100%;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .checkbox-input {\n    transform: scale(1.3);\n  }\n\n  .object-textarea {\n    width: 100%;\n    min-height: 50px;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    font-family: monospace;\n    resize: vertical;\n  }\n\n  /* Ligne d'ajout */\n  .add-row {\n    background: #f9f9f9;\n  }\n\n  /* Modale intégrée dans la page */\n  .inline-modal {\n    margin: 20px 0;\n    padding: 15px;\n    border: 1px solid #ddd;\n    border-radius: 5px;\n    background: white;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n  }\n\n  .modal-content {\n    padding: 15px;\n  }\n\n  .schema-field {\n    display: flex;\n    gap: 10px;\n    margin-bottom: 10px;\n    align-items: center;\n  }\n\n  .schema-input,\n  .schema-type {\n    padding: 5px;\n    flex: 1;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .modal-actions {\n    display: flex;\n    justify-content: flex-end;\n    gap: 10px;\n    margin-top: 15px;\n  }\n\n  .modal-save-btn {\n    background: #4CAF50;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  .modal-cancel-btn {\n    background: #f44336;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  /* Gestion des instances */\n  .instances-section {\n    margin: 15px 0;\n  }\n\n  .instances-box {\n    border: 2px solid #007BFF;\n    border-radius: 5px;\n    padding: 15px;\n  }\n\n  .instances-box legend {\n    font-size: 1.1em;\n    font-weight: bold;\n    color: #007BFF;\n    padding: 0 10px;\n  }\n\n  .instance-controls {\n    display: flex;\n    gap: 10px;\n    align-items: center;\n  }\n\n  .instance-input {\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    flex-grow: 1;\n  }\n\n  /* Boutons */\n  .add-instance-btn,\n  .delete-instance-btn,\n  .add-btn,\n  .delete-btn,\n  .schema-btn {\n    padding: 5px 10px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n  }\n\n  .add-instance-btn {\n    background: #e0f0ff;\n    color: #007BFF;\n  }\n\n  .delete-instance-btn {\n    background: #ffe0e0;\n    color: #d32f2f;\n  }\n\n  .add-btn {\n    background: #d4f7d4;\n    color: #2e7d32;\n  }\n\n  .delete-btn {\n    background: #f7d4d4;\n    color: #c62828;\n  }\n\n  .schema-btn {\n    background: #fff3e0;\n    color: #e65100;\n    width: 100%;\n  }\n\n  /* Boutons Enregistrer/Annuler */\n  .action-buttons {\n    display: flex;\n    gap: 15px;\n    margin-top: 20px;\n    padding-top: 15px;\n    border-top: 2px solid #eee;\n  }\n\n  .save-btn,\n  .cancel-btn {\n    padding: 8px 20px;\n    border: none;\n    border-radius: 4px;\n    font-weight: bold;\n    cursor: pointer;\n  }\n\n  .save-btn {\n    background: #2196F3;\n    color: white;\n  }\n\n  .cancel-btn {\n    background: white;\n    color: black;\n    border: 1px solid #ccc;\n  }\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1280,
        "y": 1260,
        "wires": [
            [
                "36968705c38f3778",
                "77397b78b512d8e3"
            ]
        ]
    },
    {
        "id": "392a5e0698a082e4",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "Build → données template",
        "func": "// Build → données template\n// Désérialise les objets/tableaux, initialise les schémas, prépare les données pour le template\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varName = flow.get(\"varSelected\") || msg.payload || null;\nlet variable = varName ? enrichedVars[varName] : null;\n\nif (!variable) {\n    msg.info = \"Variable non trouvée pour l'éditeur de propriétés.\";\n    msg.payload = null;\n    return msg;\n}\n\n// Helpers\nconst toArray = (v) => Array.isArray(v) ? v : (typeof v === \"string\" && v.trim() ? v.split(\",\").map(x => x.trim()) : []);\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\nconst defaultForType = (t) => {\n    switch (t) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n};\n\n// Instances → toujours un tableau\nlet instances = toArray(variable.instances || [\"*\"]);\n\n// Propriétés → nettoyage et validation\nlet propArr = (variable.proprietesByInstance?.proprietes || [])\n    .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\")\n    .map(p => {\n        const prop = {\n            nom: String(p.nom),\n            type: String(p.type),\n            schema: p.schema || (p.type === \"object\" ? {} : undefined)\n        };\n        // Assurez-vous que le schéma est toujours un objet\n        if (prop.type === \"object\" && !prop.schema) {\n            prop.schema = {};\n        }\n        return prop;\n    });\n\n// Abréviations des propriétés\nlet abbrMap = deepClone(variable.proprietesByInstance?.abbrProprietes || {});\n\n// Valeurs → désérialisation des objets/tableaux\nlet valeursRaw = deepClone(variable.proprietesByInstance?.valeurs || {});\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    propArr.forEach(p => {\n        const storedValue = valeursRaw[inst]?.[p.nom];\n        let value = storedValue;\n        try {\n            if (p.type === \"object\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // Désérialisation des objets\n            } else if (p.type === \"array\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // Désérialisation des tableaux\n            } else if (p.type === \"boolean\") {\n                value = storedValue === true || storedValue === \"true\";\n            } else if (p.type === \"int\" || p.type === \"number\") {\n                value = parseFloat(storedValue) || 0;\n            }\n        } catch (e) {\n            console.warn(`Désérialisation échouée pour ${p.nom}:`, e);\n            value = defaultForType(p.type);\n        }\n        valeurs[inst][p.nom] = value !== undefined ? value : defaultForType(p.type);\n    });\n});\n\n// Payload pour le template\nmsg.payload = {\n    nomVarG: variable.nomVarG || varName,\n    abbrVarG: variable.abbrVarG || \"\",\n    typeVarG: variable.typeVarG || \"\",\n    instances,\n    proprietesByInstance: {\n        proprietes: propArr,\n        abbrProprietes: abbrMap,\n        valeurs\n    },\n    descriptionVarG: variable.descriptionVarG || \"\",\n    dateUpdateVarG: variable.dateUpdateVarG || new Date().toISOString()\n};\nmsg.info = \"✅ Données préparées pour le template.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1140,
        "wires": [
            [
                "732468439d07c0c6",
                "3557b7a0994872f1",
                "b9072ccc99b1a0ad"
            ]
        ],
        "info": "Vérifie que la variable existe.\r\n\r\nAssure que abbrProprietes est toujours défini.\r\n\r\nGénère indexInstances automatiquement si absent ou incohérent.\r\n\r\nRenvoie un payload complet et prêt pour le template, avec tous les trois champs intégrés.\r\n\r\nConserve msg.info pour le log."
    },
    {
        "id": "91f7646d06a67e96",
        "type": "function",
        "z": "01b7c8489b5e72b4",
        "name": "💾 Save changes to enrichedVars",
        "func": "/// 💾 Save changes to enrichedVars\nconst storeFile = \"file\";\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\nlet formData = msg.payload || {};\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Données invalides reçues depuis le template.\";\n    return null;\n}\n\nconst varName = String(formData.nomVarG).trim();\n\n// Helpers\nconst toArray = (v) => {\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\") {\n        const s = v.trim();\n        if (!s) return [];\n        return s.includes(\",\") ? s.split(\",\").map(x => x.trim()).filter(Boolean) : [s];\n    }\n    return [];\n};\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\n\n// Instances et indexInstances\nlet instances = toArray(formData.instances);\nconst indexInstances = instances.map((_, i) => String(i));\n\n// Récupération de proprietesByInstance depuis formData\nconst rawPBI = formData.proprietesByInstance || {};\n\n// Filtrer/normaliser les propriétés\nlet props = (Array.isArray(rawPBI.proprietes) ? rawPBI.proprietes : [])\n    .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\" && p.nom.trim() !== \"\")\n    .map(p => ({\n        nom: String(p.nom).trim(),\n        type: String(p.type).trim(),\n        schema: p.schema  // Conserver le schéma\n    }));\n\n// abbrProprietes doit rester un objet clé=nomPropriété → abréviation\nlet abbrMap = {};\nif (rawPBI.abbrProprietes && typeof rawPBI.abbrProprietes === \"object\" && !Array.isArray(rawPBI.abbrProprietes)) {\n    abbrMap = deepClone(rawPBI.abbrProprietes);\n}\n\n// Purger les abbr des propriétés qui n'existent plus\nObject.keys(abbrMap).forEach(k => {\n    if (!props.find(p => p.nom === k)) delete abbrMap[k];\n});\n\n// Valeurs: garder uniquement pour les propriétés présentes + sérialisation\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    props.forEach(({ nom, type }) => {\n        const v = rawPBI.valeurs?.[inst]?.[nom];\n        if (type === 'object' || type === 'array') {\n            valeurs[inst][nom] = v ? JSON.stringify(v) : (type === 'object' ? '{}' : '[]');\n        } else {\n            valeurs[inst][nom] = v;\n        }\n    });\n});\n\n// Construire l'objet final\nlet current = enrichedVars[varName] || {};\nenrichedVars[varName] = {\n    nomVarG: varName,\n    abbrVarG: current.abbrVarG || \"\",\n    typeVarG: formData.typeVarG || current.typeVarG || \"\",\n    instances,\n    indexInstances,\n    descriptionVarG: current.descriptionVarG || \"\",\n    dateUpdateVarG: new Date().toISOString(),\n    proprietesByInstance: {\n        proprietes: props,\n        abbrProprietes: abbrMap,\n        valeurs\n    }\n};\n\n// Sauvegarde\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars[varName];\nmsg.info = `💾 Propriétés sauvegardées pour '${varName}' (${props.length} propriétés, ${instances.length} instance(s)).`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 1260,
        "wires": [
            [
                "bac471abe6ca825b"
            ]
        ],
        "info": "abbrVarG intégré à la création et à la modification.\r\n\r\nindexInstances généré automatiquement à partir du nombre d’instances (texte).\r\n\r\nabbrProprietes toujours défini pour éviter les [object][object].\r\n\r\nGestion correcte du renommage et des collisions.\r\n\r\nmsg.info conservé pour le retour.\r\nTa fonction actuelle de sauvegarde est déjà bien structurée et couvre tous les cas nécessaires (y compris la gestion des abbrProprietes, des indexInstances, et la purification des propriétés supprimées). Pas besoin de la remplacer : elle est compatible avec le template que je t'ai fourni.\r\nVoici pourquoi elle est adaptée et comment elle fonctionne avec le template :\r\n\r\n1. Points Forts de Ta Fonction Actuelle\r\na. Gestion des Instances\r\n\r\ntoArray : Convertit les instances en tableau (même si c'est une chaîne).\r\nindexInstances : Généré automatiquement à partir des instances.\r\n\r\nb. Nettoyage des Propriétés\r\n\r\nFiltrage : Supprime les propriétés invalides (sans nom ou type).\r\nNormalisation : Convertit nom et type en chaînes (String).\r\n\r\nc. Gestion des Abréviations\r\n\r\nConservation : Copie les abbrProprietes existantes.\r\nNettoyage : Supprime les abréviations des propriétés supprimées.\r\n\r\nd. Valeurs par Instance\r\n\r\nConservation : Garde uniquement les valeurs des propriétés existantes.\r\n\r\nSérialisation des Objets/Tableaux\r\n"
    },
    {
        "id": "77397b78b512d8e3",
        "type": "debug",
        "z": "01b7c8489b5e72b4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ac208ef77b5e8aea",
        "type": "ui-group",
        "name": "Accueil-AdminVarG",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "930a8a5e70986346",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2413c080e8f28938",
        "type": "ui-group",
        "name": "Grpe_Table",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group-vars",
        "type": "ui-group",
        "name": "Variable selectionnée",
        "page": "page-1",
        "width": 6,
        "height": 4,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "page-1",
        "type": "ui-page",
        "name": "P_admin-VarG",
        "ui": "930a8a5e70986346",
        "path": "/admin_varG",
        "icon": "dashboard",
        "layout": "notebook",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1050ebb74976e9e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "10px"
        }
    }
]