FUTUR-DOC/I - Archive/Archive-SynthèseRZNov2025/code-provisoire/ui_varG.json
[
    {
        "id": "c7a9c713352249ba",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "SuiteAnnuleModif",
        "mode": "link",
        "links": [
            "cda537a7e45085f9"
        ],
        "x": 1635,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9837eeae36ab98c7",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Prépare tableau enrichedVars",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // 🚨 Ignore entrées invalides\n    if (!e.proprietesByInstance) return; // 🚨 Ignore les objets incomplets\n\nconst props = e.proprietesByInstance?.proprietes || [];\nconst proprieteResume = props.length > 0\n    ? props.map(p => `${p.nom} (${p.type})`).join(\"\\n\")\n    : \"(Aucune propriété définie)\";\n\n\n    tableauPourUI.push({\n        nomVarG,\n        abbrVarG: e.abbrVarG || \"\",\n        typeVarG: e.typeVarG || \"\",\n        instances: (e.instances || []).join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 600,
        "wires": [
            [
                "8f78766bfeda5b43",
                "61d78a75a15eb150"
            ]
        ]
    },
    {
        "id": "3067b101e57c3c54",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "initialisation depuis enrichedVars",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// Stores utilisés\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// 1️⃣ - Nettoyer toutes les variables du store \"default\"\n(global.keys(storeDefault) || []).forEach(k => {\n    global.set(k, undefined, storeDefault);\n});\n\n// 2️⃣ - Récupérer enrichedVars depuis le fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 3️⃣ - Conversion : string → typé\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);  // Valeur par défaut en cas d'erreur\n    }\n}\n\n// 4️⃣ - Restaurer toutes les variables dans le store \"default\"\nObject.entries(enrichedVars).forEach(([key, e]) => {\n    const instances = e.instances || [];\n    const props = e.proprietesByInstance?.proprietes || [];\n    const valeurs = e.proprietesByInstance?.valeurs || {};\n    let variable = {};\n\n    // Initialiser les schémas pour les objets\n    props.forEach(p => {\n        if (p.type === \"object\" && !p.schema) {\n            p.schema = {};\n        }\n    });\n\n    // Remplissage des instances\n    instances.forEach(instance => {\n        variable[instance] = {};\n        props.forEach(prop => {\n            const name = prop.nom;\n            const type = prop.type;\n            const rawValue = valeurs?.[instance]?.[name];\n            variable[instance][name] = convertFromString(rawValue, type);\n            if (prop.abbr) {\n                if (!variable._abbrProprietes) variable._abbrProprietes = {};\n                variable._abbrProprietes[name] = prop.abbr;\n            }\n        });\n    });\n\n    // Ajout des métadonnées globales\n    if (e.abbrVarG) variable._abbrVarG = e.abbrVarG;\n    if (e.indexInstances) variable._indexInstances = e.indexInstances;\n\n    // Sauvegarde dans memoryOnly\n    if (instances.length === 1 && instances[0] === \"*\") {\n        global.set(key, variable[\"*\"], storeDefault);\n    } else {\n        global.set(key, variable, storeDefault);\n    }\n});\n\n// 5️⃣ - Fin\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Initialisation enrichie depuis enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 380,
        "wires": [
            [
                "88e8b278b6dd71f8",
                "2dceb7f5b60430b7",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "8f78766bfeda5b43",
        "type": "ui-table",
        "z": "61d8f8019f224437",
        "group": "2413c080e8f28938",
        "name": "Table enrichedVarsV4",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nom",
                "key": "nomVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Type",
                "key": "typeVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Instances",
                "key": "instances",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Propriétés",
                "key": "proprietes",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Description",
                "key": "description",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Détails",
                "key": "action",
                "keyType": "key",
                "type": "button",
                "width": ""
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "01e77fa6dfd28e78"
            ]
        ]
    },
    {
        "id": "6329f9a751f660fe",
        "type": "ui-form",
        "z": "61d8f8019f224437",
        "name": "Form_Var_Modif",
        "group": "group-vars",
        "label": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nom de la variable",
                "key": "nomVarG",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Abrev.NomVarG",
                "key": "abbrVarG",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Type de variable (object, string, number...)",
                "key": "typeVarG",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "Instances (séparées par des virgules)",
                "key": "instances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Index Instances",
                "key": "indexInstances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Description",
                "key": "descriptionVarG",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Date mise à jour",
                "key": "dateUpdateVarG",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nomVarG": "",
            "abbrVarG": "",
            "typeVarG": "",
            "instances": "",
            "indexInstances": "",
            "descriptionVarG": "",
            "dateUpdateVarG": ""
        },
        "payload": "",
        "submit": "Enregistrer",
        "cancel": "Annuler",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "typeVarG",
                "value": "string",
                "label": "String"
            },
            {
                "dropdown": "typeVarG",
                "value": "array",
                "label": "Array"
            },
            {
                "dropdown": "typeVarG",
                "value": "object",
                "label": "Object"
            },
            {
                "dropdown": "typeVarG",
                "value": "number",
                "label": "Number"
            }
        ],
        "x": 940,
        "y": 960,
        "wires": [
            [
                "bbc9eff603a50f2e",
                "8864eebf54dffdf1"
            ]
        ]
    },
    {
        "id": "60713f919559c618",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "charge Infos générales enrichie ds form",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (varSelected && enrichedVars[varSelected]) {\n    const selected = enrichedVars[varSelected];\n\n    // Générer automatiquement l'index à partir des instances (texte)\n    let indexInstances = [];\n    if (selected.instances) {\n        indexInstances = selected.instances.map((_, idx) => String(idx));\n    }\n\n    // Générer abbrProprietes à partir des propriétés\n    let abbrProprietes = {};\n    if (selected.proprietesByInstance?.proprietes) {\n        selected.proprietesByInstance.proprietes.forEach(p => {\n            if (p.abbr) abbrProprietes[p.nom] = p.abbr;\n        });\n    }\n\n    // Assurer la présence de abbrProprietes dans proprietesByInstance\n    if (!selected.proprietesByInstance) selected.proprietesByInstance = {};\n    selected.proprietesByInstance.abbrProprietes = abbrProprietes;\n\n    msg.payload = {\n        nomVarG: selected.nomVarG || \"\",\n        abbrVarG: selected.abbrVarG || \"\",\n        typeVarG: selected.typeVarG || \"\",\n        instances: (selected.instances || []).join(\", \"),\n        descriptionVarG: selected.descriptionVarG || \"\",\n        dateUpdateVarG: selected.dateUpdateVarG || new Date().toISOString(),\n        indexInstances: indexInstances.join(\", \"),  // texte pour le formulaire\n        abbrProprietes: abbrProprietes\n    };\n\n} else {\n    msg.payload = {\n        nomVarG: \"New\",\n        abbrVarG: \"\",\n        typeVarG: \"\",\n        instances: \"\",\n        indexInstances: \"\",\n        descriptionVarG: \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        abbrProprietes: {}\n    };\n    msg.topic = \"newVarG\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 900,
        "wires": [
            [
                "6329f9a751f660fe",
                "b27b922ddbb3fc9b"
            ]
        ],
        "info": "indexInstances généré automatiquement à partir du nombre d’instances, format texte ([\"0\",\"1\",…]).\r\n\r\nabbrProprietes initialisé depuis proprietesByInstance si disponible, sinon objet vide.\r\n\r\nmsg.info est toujours renvoyé pour trace/log."
    },
    {
        "id": "01e77fa6dfd28e78",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Sauve varSelected-actualise affichage form",
        "func": "let varSelected = msg.payload?.row?.nomVarG || msg.payload?.nomVarG || null;\nif (\"newVarG\"==msg.topic){varSelected=\"new\"; msg.topic=\"newVarG\"};\nflow.set(\"varSelected\", varSelected);\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet listeVars = Object.keys(enrichedVars);\n\nmsg.payload = varSelected;\nmsg.info = `Vous êtes sur la variable : ${varSelected}`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 780,
        "wires": [
            [
                "2e07ed481887efda",
                "92dd8dae04877424",
                "60713f919559c618",
                "d41690eedf5d284b",
                "f0e1d30feeae35da",
                "146ccaf8d971bb6f"
            ]
        ]
    },
    {
        "id": "2eb6fc9cb7ff04da",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "open-dialog",
        "func": "const varSelected = flow.get(\"varSelected\") || null;\n\nif (!varSelected || varSelected === \"none\" || varSelected === \"new\") {\n    msg.info = \"⚠️ Aucune variable sélectionnée à supprimer.\";\n    return msg;\n}\n\n// Préparer un message pour ui-dialog\nmsg.payload = {\n    title: \"⚠️ Confirmation suppression\",\n    message: `Voulez-vous vraiment supprimer la variable \"${varSelected}\" ?`,\n    buttons: [\n        { label: \"❌ Annuler\", value: \"cancel\" },\n        { label: \"✅ Supprimer\", value: \"confirm\", class: \"red\" }\n    ]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 600,
        "wires": [
            [
                "cb9057b4c08408fe"
            ]
        ]
    },
    {
        "id": "190c3a6de43291e2",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "synchronisation",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// Supprimer enrichedVars du stockage par défaut\nglobal.set(\"enrichedVars\", undefined, storeDefault);\n\n// Récupération des variables globales du stockage par défaut\nconst allKeys = global.keys(storeDefault) || [];\nlet globalVars = {};\nallKeys.forEach(key => {\n    if (key !== \"enrichedVars\") {\n        const val = global.get(key, storeDefault);\n        globalVars[key] = (typeof val === \"object\") ? JSON.parse(JSON.stringify(val)) : val;\n    }\n});\n\n// Chargement de enrichedVars depuis le stockage fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile (string => typed)\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);\n    }\n}\n\n// 🔄 Conversion utile (typed => string ou JSON)\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// 🧠 Traitement des variables globales existantes\nObject.keys(globalVars).forEach(key => {\n    const val = globalVars[key];\n    const type = typeof val;\n    if (enrichedVars[key] && enrichedVars[key].instances && enrichedVars[key].proprietesByInstance) {\n        const { instances, proprietesByInstance } = enrichedVars[key];\n        const { proprietes } = proprietesByInstance;\n\n        // Initialiser les schémas pour les objets\n        proprietes.forEach(p => {\n            if (p.type === \"object\" && !p.schema) {\n                p.schema = {};\n            }\n        });\n\n        instances.forEach(instance => {\n            if (!proprietesByInstance.valeurs) proprietesByInstance.valeurs = {};\n            if (!proprietesByInstance.valeurs[instance]) proprietesByInstance.valeurs[instance] = {};\n            proprietes.forEach(prop => {\n                const propName = prop.nom;\n                const propType = prop.type;\n                const sourceValue = val?.[instance]?.[propName];\n                if (sourceValue !== undefined) {\n                    proprietesByInstance.valeurs[instance][propName] = convertFromString(sourceValue, propType);\n                } else {\n                    proprietesByInstance.valeurs[instance][propName] = defaultForType(propType);\n                }\n            });\n            // Gérer les abbrProprietes\n            if (val._abbrProprietes) {\n                proprietes.forEach(prop => {\n                    if (val._abbrProprietes[prop.nom]) prop.abbr = val._abbrProprietes[prop.nom];\n                });\n            }\n        });\n\n        // Gérer abbrVarG et indexInstances\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    } else {\n        // Variable simple (pas d’instance)\n        if (!enrichedVars[key]) {\n            enrichedVars[key] = {\n                nomVarG: key,\n                typeVarG: type,\n                instances: [\"*\"],\n                descriptionVarG: \"\",\n                dateUpdateVarG: new Date().toISOString(),\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertFromString(val, type)\n                        }\n                    }\n                }\n            };\n        } else {\n            // Met à jour valeur simple\n            enrichedVars[key].proprietesByInstance.valeurs = {\n                \"*\": {\n                    \"*\": convertFromString(val, type)\n                }\n            };\n        }\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    }\n});\n\n// 🧠 Variables manquantes à restaurer dans default\nObject.keys(enrichedVars).forEach(key => {\n    if (!globalVars.hasOwnProperty(key)) {\n        const e = enrichedVars[key];\n        const instances = e.instances || [];\n        const props = e.proprietesByInstance?.proprietes || [];\n        const valeurs = e.proprietesByInstance?.valeurs || {};\n        let result = {};\n        instances.forEach(instance => {\n            result[instance] = {};\n            props.forEach(prop => {\n                const name = prop.nom;\n                const type = prop.type;\n                const value = valeurs?.[instance]?.[name];\n                result[instance][name] = convertFromString(value, type);\n            });\n            // Restaurer abbrProprietes côté mémoire\n            if (props.some(p => p.abbr)) {\n                result[instance]._abbrProprietes = {};\n                props.forEach(p => {\n                    if (p.abbr) result[instance]._abbrProprietes[p.nom] = p.abbr;\n                });\n            }\n        });\n        // Restaurer abbrVarG et indexInstances côté mémoire\n        if (e.abbrVarG) result._abbrVarG = e.abbrVarG;\n        if (e.indexInstances) result._indexInstances = e.indexInstances;\n        // S’il n’y a qu’une instance \"*\", on peut aplatir\n        if (instances.length === 1 && instances[0] === \"*\") {\n            global.set(key, result[\"*\"], storeDefault);\n        } else {\n            global.set(key, result, storeDefault);\n        }\n    }\n});\n\n// 💾 Enregistrer enrichedVars corrigé\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Synchronisation enrichedVars complète terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "82616735d3556ed1",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "// Ce nœud synchronise les variables globales avec enrichedVars.\r\n// Il met à jour enrichedVars avec les variables globales actuelles\r\n// et s'assure que chaque variable suit la nouvelle structure définie.\r\n// Les variables sont stockées dans deux types de stockage : \"default\" et \"file\".\r\n// Les variables sont structurées avec des propriétés comme nomVarG, typeVarG, instances, detailEtat, etc.\r\n// La fonction gère également la restauration des variables globales manquantes depuis enrichedVars.\r\n// Elle prend en compte les instances et les sous-variables pour une synchronisation cohérente."
    },
    {
        "id": "0759dc296af2c0c0",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "sauvVarGdsFile",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\nconst allKeys = global.keys(storeDefault) || [];\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile : typé → string/JSON\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            case \"boolean\":\n                return value ? \"true\" : \"false\";\n            case \"date\":\n                return new Date(value).toISOString();\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// ⏺️ Export des variables en enrichedVars\nallKeys.forEach(key => {\n    if (key === \"enrichedVars\") return;\n    const val = global.get(key, storeDefault);\n    const type = typeof val;\n\n    // Cas des objets avec instances\n    if (type === \"object\" && val && !Array.isArray(val)) {\n        const instances = Object.keys(val);\n        if (instances.length === 0) return;\n\n        const firstInstance = val[instances[0]];\n        if (typeof firstInstance === \"object\") {\n            const props = Object.keys(firstInstance);\n            const propDefs = props.map(p => {\n                const v = firstInstance[p];\n                const t = Array.isArray(v) ? \"array\" : typeof v;\n                const prop = { nom: p, type: t };\n                if (t === \"object\") prop.schema = {};  // Initialisation du schéma\n                return prop;\n            });\n\n            let valeurs = {};\n            instances.forEach(inst => {\n                valeurs[inst] = {};\n                propDefs.forEach(({ nom, type }) => {\n                    const v = val[inst]?.[nom];\n                    valeurs[inst][nom] = (type === \"object\" || type === \"array\")\n                        ? JSON.stringify(v)\n                        : convertToString(v, type);\n                });\n            });\n\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances,\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: instances.map((_, idx) => String(idx)).join(\",\"),\n                proprietesByInstance: {\n                    proprietes: propDefs,\n                    valeurs,\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        } else {\n            // Cas simple\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances: [\"*\"],\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: \"0\",\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertToString(val, type)\n                        }\n                    },\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        }\n    } else {\n        // Cas simple (non objet ou tableau)\n        enrichedVars[key] = {\n            nomVarG: key,\n            abbrVarG: val._abbrVarG || \"\",\n            typeVarG: type,\n            instances: [\"*\"],\n            descriptionVarG: \"Auto-export\",\n            dateUpdateVarG: new Date().toISOString(),\n            indexInstances: \"0\",\n            proprietesByInstance: {\n                proprietes: [{ nom: \"*\", type }],\n                valeurs: {\n                    \"*\": {\n                        \"*\": convertToString(val, type)\n                    }\n                },\n                abbrProprietes: val._abbrProprietes || {}\n            }\n        };\n    }\n});\n\n// 💾 Sauvegarde dans storeFile\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"💾 Sauvegarde vers enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 480,
        "wires": [
            [
                "40d3af83aa60d68f"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "cb9057b4c08408fe",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "supprimer",
        "func": "if (msg.payload === \"confirm_clicked\") {\n  const varSelected = flow.get(\"varSelected\");\n  if (!varSelected) {\n    msg.info = \"⚠️ Rien à supprimer.\";\n    return msg;\n  }\n  let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n  delete enrichedVars[varSelected];\n  delete enrichedVars[\"\"];//supprime var fantome\n  global.set(\"enrichedVars\", enrichedVars, \"file\");\n  global.set(varSelected, undefined, \"default\");\n  flow.set(\"varSelected\", \"none\");\n  msg.payload = \"none\";\n  msg.info = `✅ Variable \"${varSelected}\" supprimée.`;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "41624c5939f6a592"
            ]
        ]
    },
    {
        "id": "146ccaf8d971bb6f",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "order": 1,
        "width": "2",
        "height": "1",
        "name": "Titre Var modif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-center",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#0000ff",
        "wrapText": false,
        "className": "",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bbc9eff603a50f2e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Infos générales enrichedVars",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Formulaire incomplet ou variable non spécifiée.\";\n    return null; // sécurité\n}\n\nlet oldName = varSelected;   // ancien nom suivi\nlet newName = formData.nomVarG.trim();\n\n// --- Cas création ---\nif (!enrichedVars[oldName]) {\n    if (enrichedVars[newName]) {\n        // 🚨 Collision lors de la création\n        msg.error = `❌ Impossible de créer '${newName}', une variable existe déjà avec ce nom.`;\n        return msg;\n    }\n\n    // Générer indexInstances automatiquement si absent\n    let indexInstances = [];\n    if (formData.instances) {\n        indexInstances = formData.instances.split(',').map((e, idx) => String(idx));\n    }\n\n    // Création de la nouvelle variable\n    enrichedVars[newName] = {\n        nomVarG: newName,\n        abbrVarG: formData.abbrVarG || \"\",\n        typeVarG: formData.typeVarG || \"\",\n        instances: formData.instances ? formData.instances.split(',').map(e => e.trim()) : [],\n        indexInstances: indexInstances,\n        descriptionVarG: formData.descriptionVarG || \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietesByInstance: {\n            proprietes: [],\n            valeurs: {},\n            abbrProprietes: {}\n        }\n    };\n\n    flow.set(\"varSelected\", newName);\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n\n    msg.payload = newName;\n    msg.info = `✅ Nouvelle variable créée : ${newName}`;\n    return msg;\n}\n\n// --- Cas modification ---\nlet current = enrichedVars[oldName];\n\n// ⚠️ Si le nom a changé\nif (oldName !== newName) {\n    if (enrichedVars[newName]) {\n        // 🚨 Collision lors du renommage\n        msg.error = `⚠️ Attention : '${newName}' existe déjà. Veux-tu vraiment remplacer '${oldName}' par '${newName}' ?`;\n        msg.confirmRename = { from: oldName, to: newName };\n        return msg;\n    }\n\n    // Renommage → déplacement de la clé\n    enrichedVars[newName] = current;\n    delete enrichedVars[oldName];\n}\n\n// Mise à jour des infos\nlet target = enrichedVars[newName];\ntarget.nomVarG = newName;\ntarget.abbrVarG = formData.abbrVarG || \"\";\ntarget.descriptionVarG = formData.descriptionVarG || \"\";\ntarget.typeVarG = formData.typeVarG || \"\";\ntarget.instances = formData.instances ? formData.instances.split(',').map(e => e.trim()) : [];\n// Générer indexInstances automatiquement si absent ou incohérent\ntarget.indexInstances = target.instances.map((_, idx) => String(idx));\ntarget.dateUpdateVarG = new Date().toISOString();\n\n// Assurer que abbrProprietes existe\nif (!target.proprietesByInstance) {\n    target.proprietesByInstance = { proprietes: [], valeurs: {}, abbrProprietes: {} };\n} else if (!target.proprietesByInstance.abbrProprietes) {\n    target.proprietesByInstance.abbrProprietes = {};\n}\n\n// Sauvegardes\nflow.set(\"varSelected\", newName);\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\n// Retour\nmsg.payload = newName;\nmsg.info = (oldName !== newName)\n    ? `⚠️ Nom modifié : '${oldName}' → '${newName}'`\n    : `✅ Infos mises à jour pour : ${newName}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 960,
        "wires": [
            [
                "f0e1d30feeae35da",
                "898f23bf53c478ba",
                "switch-msg"
            ]
        ],
        "info": "Gère création et modification.\r\n\r\nIntègre correctement les champs abbrVarG, indexInstances, abbrProprietes.\r\n\r\nGénère automatiquement les index à partir du nombre d’instances si nécessaire.\r\n\r\nConserve msg.info pour le log/tracking."
    },
    {
        "id": "59ce857b76dd0adb",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Build → données template",
        "func": "// Build → données template\n// Désérialise les objets/tableaux, initialise les schémas, prépare les données pour le template\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varName = flow.get(\"varSelected\") || msg.payload || null;\nlet variable = varName ? enrichedVars[varName] : null;\n\nif (!variable) {\n    msg.info = \"Variable non trouvée pour l'éditeur de propriétés.\";\n    msg.payload = null;\n    return msg;\n}\n\n// Helpers\nconst toArray = (v) => Array.isArray(v) ? v : (typeof v === \"string\" && v.trim() ? v.split(\",\").map(x => x.trim()) : []);\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\nconst defaultForType = (t) => {\n    switch (t) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n};\n\n// Instances → toujours un tableau\nlet instances = toArray(variable.instances || [\"*\"]);\n\n// Propriétés → nettoyage et validation\nlet propArr = (variable.proprietesByInstance?.proprietes || [])\n    .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\")\n    .map(p => {\n        const prop = {\n            nom: String(p.nom),\n            type: String(p.type),\n            schema: p.schema || (p.type === \"object\" ? {} : undefined)\n        };\n        // Assurez-vous que le schéma est toujours un objet\n        if (prop.type === \"object\" && !prop.schema) {\n            prop.schema = {};\n        }\n        return prop;\n    });\n\n// Abréviations des propriétés\nlet abbrMap = deepClone(variable.proprietesByInstance?.abbrProprietes || {});\n\n// Valeurs → désérialisation des objets/tableaux\nlet valeursRaw = deepClone(variable.proprietesByInstance?.valeurs || {});\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    propArr.forEach(p => {\n        const storedValue = valeursRaw[inst]?.[p.nom];\n        let value = storedValue;\n        try {\n            if (p.type === \"object\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // Désérialisation des objets\n            } else if (p.type === \"array\" && typeof storedValue === \"string\") {\n                value = JSON.parse(storedValue);  // Désérialisation des tableaux\n            } else if (p.type === \"boolean\") {\n                value = storedValue === true || storedValue === \"true\";\n            } else if (p.type === \"int\" || p.type === \"number\") {\n                value = parseFloat(storedValue) || 0;\n            }\n        } catch (e) {\n            console.warn(`Désérialisation échouée pour ${p.nom}:`, e);\n            value = defaultForType(p.type);\n        }\n        valeurs[inst][p.nom] = value !== undefined ? value : defaultForType(p.type);\n    });\n});\n\n// Payload pour le template\nmsg.payload = {\n    nomVarG: variable.nomVarG || varName,\n    abbrVarG: variable.abbrVarG || \"\",\n    typeVarG: variable.typeVarG || \"\",\n    instances,\n    proprietesByInstance: {\n        proprietes: propArr,\n        abbrProprietes: abbrMap,\n        valeurs\n    },\n    descriptionVarG: variable.descriptionVarG || \"\",\n    dateUpdateVarG: variable.dateUpdateVarG || new Date().toISOString()\n};\nmsg.info = \"✅ Données préparées pour le template.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1020,
        "wires": [
            [
                "6897deb55f1b160d",
                "4846cbe55298ea41",
                "220d6b22e41612eb"
            ]
        ],
        "info": "Vérifie que la variable existe.\r\n\r\nAssure que abbrProprietes est toujours défini.\r\n\r\nGénère indexInstances automatiquement si absent ou incohérent.\r\n\r\nRenvoie un payload complet et prêt pour le template, avec tous les trois champs intégrés.\r\n\r\nConserve msg.info pour le log."
    },
    {
        "id": "f0e1d30feeae35da",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "editerProprieteV4",
        "label": "🛠️ Éditer les propriétés",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 950,
        "y": 1040,
        "wires": [
            [
                "45b10e92ba8c433b",
                "59ce857b76dd0adb"
            ]
        ]
    },
    {
        "id": "6897deb55f1b160d",
        "type": "ui-template",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "Template éditeur de propriétésV4",
        "order": 9,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div class=\"var-editor\">\n    <!-- Titre -->\n    <h3 v-if=\"nomVarG\">Propriétés de : {{ nomVarG }}</h3>\n    <h3 v-else class=\"placeholder-title\">Sélectionnez une variable</h3>\n\n    <!-- Tableau des propriétés -->\n    <div class=\"table-container\" v-if=\"nomVarG\">\n      <table class=\"properties-table\">\n        <thead>\n          <tr>\n            <th class=\"fixed-column\">Nom propriété</th>\n            <th class=\"abbr-column\">Abrév.</th>\n            <th class=\"type-column\">Type</th>\n            <th v-for=\"instance in instances\" :key=\"instance\" class=\"instance-column\">{{ instance }}</th>\n            <th class=\"actions-column\">Actions</th>\n          </tr>\n        </thead>\n        <tbody>\n          <!-- Lignes des propriétés existantes -->\n          <tr v-for=\"(prop, index) in proprietesByInstance.proprietes\" :key=\"'prop-' + index\">\n            <td class=\"fixed-column\"><input v-model=\"prop.nom\" class=\"edit-input\" /></td>\n            <td class=\"abbr-column\">\n              <input v-model=\"proprietesByInstance.abbrProprietes[prop.nom]\" class=\"edit-input\" placeholder=\"abbr\" maxlength=\"5\" />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"prop.type\" class=\"type-select\" @change=\"onTypeChange(prop, $event)\">\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <!-- Colonnes des instances -->\n            <td v-for=\"instance in instances\" :key=\"'inst-' + instance + '-' + index\" class=\"instance-column\">\n              <input\n                v-if=\"prop.type === 'boolean'\"\n                type=\"checkbox\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                class=\"checkbox-input\"\n              />\n              <input\n                v-else-if=\"prop.type !== 'object' && prop.type !== 'array'\"\n                v-model=\"proprietesByInstance.valeurs[instance][prop.nom]\"\n                :type=\"getInputType(prop.type)\"\n                class=\"edit-input\"\n              />\n              <div v-else>\n                <button @click=\"openPropertyEditor(prop, instance)\" class=\"edit-btn\">Éditer {{ prop.type }}</button>\n              </div>\n            </td>\n            <td class=\"actions-column\">\n              <button v-if=\"prop.type === 'object'\" @click=\"openSchemaModal(prop)\" class=\"schema-btn\">⚙️ Éditer schéma</button>\n              <button @click=\"deleteProperty(index)\" class=\"delete-btn\">🗑️</button>\n            </td>\n          </tr>\n          <!-- Ligne d'ajout -->\n          <tr v-if=\"nomVarG\" class=\"add-row\">\n            <td class=\"fixed-column\"><input v-model=\"newProperty.nom\" placeholder=\"Nom\" class=\"edit-input\" /></td>\n            <td class=\"abbr-column\"><input v-model=\"newProperty.abbr\" placeholder=\"Abrév.\" class=\"edit-input\" maxlength=\"5\" />\n            </td>\n            <td class=\"type-column\">\n              <select v-model=\"newProperty.type\" class=\"type-select\">\n                <option value=\"\">-- type --</option>\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n              </select>\n            </td>\n            <td v-for=\"instance in instances\" :key=\"'new-' + instance\" class=\"instance-column\">\n              <input v-model=\"newProperty.initialValues[instance]\" placeholder=\"Valeur\" class=\"edit-input\" />\n            </td>\n            <td class=\"actions-column\"><button @click=\"addProperty\" class=\"add-btn\">➕ Ajouter</button></td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- Éditeur de propriété (object/array) -->\n    <div v-if=\"showPropertyEditor\" class=\"property-editor-modal\">\n      <h3>Éditer {{ editingProperty.nom }} ({{ editingInstance }})</h3>\n      <textarea\n        v-model=\"editingPropertyValue\"\n        @blur=\"saveEditedProperty\"\n        :placeholder=\"editingProperty.type === 'object' ? '{}' : '[]'\"\n        class=\"object-textarea\"\n      ></textarea>\n      <button @click=\"closePropertyEditor\" class=\"modal-cancel-btn\">Fermer</button>\n    </div>\n\n    <!-- Modale pour éditer le schéma -->\n    <div v-if=\"showSchemaModal\" class=\"inline-modal\">\n      <div class=\"modal-content\">\n        <h3>Éditer le schéma pour : {{ editingProperty.nom }}</h3>\n        <div class=\"schema-fields\">\n          <div v-for=\"(field, key) in editingProperty.schema\" :key=\"key\" class=\"schema-field\">\n            <input v-model=\"field.key\" class=\"schema-input\" placeholder=\"Nom\" disabled />\n            <select v-model=\"field.type\" class=\"schema-type\">\n              <option value=\"int\">int</option>\n              <option value=\"boolean\">boolean</option>\n              <option value=\"string\">string</option>\n              <option value=\"number\">number</option>\n            </select>\n            <input v-model=\"field.default\" class=\"schema-input\" placeholder=\"Défaut\" />\n            <button @click=\"removeSchemaField(key)\" class=\"remove-field-btn\">❌</button>\n          </div>\n        </div>\n        <div class=\"new-schema-field\">\n          <input v-model=\"newSchemaField.key\" placeholder=\"Nouveau champ\" class=\"schema-input\" />\n          <select v-model=\"newSchemaField.type\" class=\"schema-type\">\n            <option value=\"int\">int</option>\n            <option value=\"boolean\">boolean</option>\n            <option value=\"string\">string</option>\n            <option value=\"number\">number</option>\n          </select>\n          <input v-model=\"newSchemaField.default\" placeholder=\"Défaut\" class=\"schema-input\" />\n          <button @click=\"addSchemaField\" class=\"add-field-btn\">➕ Ajouter</button>\n        </div>\n        <div class=\"modal-actions\">\n          <button @click=\"saveSchema\" class=\"modal-save-btn\">Enregistrer</button>\n          <button @click=\"cancelSchema\" class=\"modal-cancel-btn\">Annuler</button>\n        </div>\n      </div>\n    </div>\n\n    <!-- Gestion des instances -->\n    <div v-if=\"nomVarG\" class=\"instances-section\">\n      <fieldset class=\"instances-box\">\n        <legend>⚙️ Gestion des instances</legend>\n        <div class=\"instance-controls\">\n          <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" class=\"instance-input\" />\n          <button @click=\"addInstance\" class=\"add-instance-btn\">➕ Ajouter</button>\n          <button v-if=\"instances.length > 0\" @click=\"confirmDeleteInstance\" class=\"delete-instance-btn\">🗑️ Supprimer dernière</button>\n        </div>\n      </fieldset>\n    </div>\n\n    <!-- Boutons Enregistrer/Annuler -->\n    <div v-if=\"nomVarG\" class=\"action-buttons\">\n      <button @click=\"saveAllChanges\" class=\"save-btn\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"cancel-btn\">🔁 Annuler</button>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: '',\n      typeVarG: '',\n      instances: [],\n      proprietesByInstance: { proprietes: [], abbrProprietes: {}, valeurs: {} },\n      newProperty: { nom: '', type: '', abbr: '', initialValues: {} },\n      newInstanceName: '',\n      showSchemaModal: false,\n      editingProperty: null,\n      newSchemaField: { key: '', type: 'int', default: '' },\n      showPropertyEditor: false,\n      editingInstance: null,\n      editingPropertyValue: ''\n    };\n  },\n  methods: {\n    getInputType(type) {\n      switch (type) {\n        case 'boolean': return 'checkbox';\n        case 'int': case 'number': return 'number';\n        default: return 'text';\n      }\n    },\n    onTypeChange(prop, event) {\n      const newType = event.target.value;\n      if (newType === 'object' && !prop.schema) {\n        this.$set(prop, 'schema', {});\n      }\n    },\n    defaultForType(type) {\n      switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        default: return \"\";\n      }\n    },\n    addProperty() {\n      if (!this.newProperty.nom || !this.newProperty.type) {\n        alert(\"Le nom et le type sont obligatoires\");\n        return;\n      }\n      const newProp = { nom: this.newProperty.nom, type: this.newProperty.type };\n      if (newProp.type === 'object') {\n        this.$set(newProp, 'schema', {});\n      }\n      this.proprietesByInstance.proprietes.push(newProp);\n      if (this.newProperty.abbr) {\n        this.$set(this.proprietesByInstance.abbrProprietes, newProp.nom, this.newProperty.abbr);\n      }\n      this.instances.forEach(instance => {\n        if (!this.proprietesByInstance.valeurs[instance]) {\n          this.$set(this.proprietesByInstance.valeurs, instance, {});\n        }\n        this.$set(this.proprietesByInstance.valeurs[instance], newProp.nom, this.defaultForType(newProp.type));\n      });\n      this.newProperty = { nom: '', type: '', abbr: '', initialValues: {} };\n    },\n    deleteProperty(index) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n      const propName = this.proprietesByInstance.proprietes[index].nom;\n      this.proprietesByInstance.proprietes.splice(index, 1);\n      this.instances.forEach(instance => {\n        this.$delete(this.proprietesByInstance.valeurs[instance], propName);\n      });\n      this.$delete(this.proprietesByInstance.abbrProprietes, propName);\n    },\n    openPropertyEditor(prop, instance) {\n      this.editingProperty = prop;\n      this.editingInstance = instance;\n      this.editingPropertyValue = JSON.stringify(this.proprietesByInstance.valeurs[instance][prop.nom], null, 2);\n      this.showPropertyEditor = true;\n    },\n    saveEditedProperty() {\n      try {\n        const parsedValue = JSON.parse(this.editingPropertyValue);\n        this.$set(this.proprietesByInstance.valeurs[this.editingInstance], this.editingProperty.nom, parsedValue);\n        this.closePropertyEditor();\n      } catch (e) {\n        alert(\"Format JSON invalide. Utilisez un format valide.\");\n      }\n    },\n    closePropertyEditor() {\n      this.showPropertyEditor = false;\n      this.editingProperty = null;\n      this.editingInstance = null;\n      this.editingPropertyValue = '';\n    },\n    addInstance() {\n      if (!this.newInstanceName) return;\n      const instanceName = this.newInstanceName.trim();\n      if (!instanceName || this.instances.includes(instanceName)) return;\n      this.instances.push(instanceName);\n      this.$set(this.proprietesByInstance.valeurs, instanceName, {});\n      this.proprietesByInstance.proprietes.forEach(prop => {\n        this.$set(this.proprietesByInstance.valeurs[instanceName], prop.nom, this.defaultForType(prop.type));\n      });\n      this.newInstanceName = '';\n    },\n    confirmDeleteInstance() {\n      if (this.instances.length === 0) return;\n      const lastInstance = this.instances[this.instances.length - 1];\n      if (confirm(`Supprimer l'instance \"${lastInstance}\" ?`)) {\n        this.instances.pop();\n        this.$delete(this.proprietesByInstance.valeurs, lastInstance);\n      }\n    },\n    openSchemaModal(prop) {\n      this.editingProperty = this.proprietesByInstance.proprietes.find(p => p.nom === prop.nom);\n      if (!this.editingProperty.schema) {\n        this.$set(this.editingProperty, 'schema', {});\n      }\n      this.showSchemaModal = true;\n    },\n    addSchemaField() {\n      if (!this.newSchemaField.key) return;\n      this.$set(this.editingProperty.schema, this.newSchemaField.key, {\n        type: this.newSchemaField.type,\n        default: this.newSchemaField.default\n      });\n      this.newSchemaField = { key: '', type: 'int', default: '' };\n    },\n    removeSchemaField(key) {\n      this.$delete(this.editingProperty.schema, key);\n    },\n    saveSchema() {\n      const propIndex = this.proprietesByInstance.proprietes.findIndex(p => p.nom === this.editingProperty.nom);\n      if (propIndex !== -1) {\n        this.$set(this.proprietesByInstance.proprietes, propIndex, this.editingProperty);\n      }\n      this.showSchemaModal = false;\n    },\n    cancelSchema() {\n      this.showSchemaModal = false;\n    },\n    saveAllChanges() {\n      const payload = {\n        nomVarG: this.nomVarG,\n        abbrVarG: this.proprietesByInstance.abbrVarG || \"\",\n        typeVarG: this.typeVarG,\n        instances: this.instances,\n        proprietesByInstance: {\n          proprietes: this.proprietesByInstance.proprietes.map(p => ({\n            nom: p.nom,\n            type: p.type,\n            schema: p.schema\n          })),\n          abbrProprietes: this.proprietesByInstance.abbrProprietes,\n          valeurs: {}\n        }\n      };\n      this.instances.forEach(instance => {\n        payload.proprietesByInstance.valeurs[instance] = {};\n        this.proprietesByInstance.proprietes.forEach(prop => {\n          const value = this.proprietesByInstance.valeurs[instance][prop.nom];\n          payload.proprietesByInstance.valeurs[instance][prop.nom] =\n            (prop.type === 'object' || prop.type === 'array') ? JSON.stringify(value) : value;\n        });\n      });\n      this.send({ topic: \"saveChanges\", payload: payload });\n    },\n    resetChanges() {\n      if (this.nomVarG) this.send({ topic: \"reloadVar\", payload: this.nomVarG });\n    }\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg?.payload) {\n          const data = newMsg.payload;\n          this.nomVarG = data.nomVarG || '';\n          this.typeVarG = data.typeVarG || '';\n          this.instances = data.instances || [];\n          this.proprietesByInstance = {\n            proprietes: data.proprietesByInstance?.proprietes || [],\n            abbrProprietes: data.proprietesByInstance?.abbrProprietes || {},\n            valeurs: data.proprietesByInstance?.valeurs || {}\n          };\n          // Initialiser les valeurs pour chaque instance\n          this.instances.forEach(instance => {\n            if (!this.proprietesByInstance.valeurs[instance]) {\n              this.$set(this.proprietesByInstance.valeurs, instance, {});\n            }\n            this.proprietesByInstance.proprietes.forEach(prop => {\n              if (!this.proprietesByInstance.valeurs[instance][prop.nom]) {\n                this.$set(this.proprietesByInstance.valeurs[instance], prop.nom, this.defaultForType(prop.type));\n              }\n            });\n          });\n        }\n      }\n    }\n  }\n};\n</script>\n\n<style scoped>\n  /* Conteneur principal */\n  .var-editor {\n    padding: 15px;\n    max-width: 100%;\n  }\n\n  /* Titre */\n  .placeholder-title {\n    color: #666;\n    font-style: italic;\n  }\n\n  /* Conteneur du tableau */\n  .table-container {\n    overflow-x: auto;\n    margin-bottom: 15px;\n  }\n\n  /* Tableau des propriétés */\n  .properties-table {\n    border-collapse: collapse;\n    width: 100%;\n    min-width: 800px;\n    background: white;\n  }\n\n  .properties-table th,\n  .properties-table td {\n    border: 1px solid #ddd;\n    padding: 8px 10px;\n    text-align: center;\n  }\n\n  .properties-table th {\n    background: #f5f5f5;\n    position: sticky;\n    top: 0;\n  }\n\n  /* Colonne \"Nom propriété\" fixe */\n  .fixed-column {\n    position: sticky;\n    left: 0;\n    background: #f5f5f5;\n    z-index: 1;\n    min-width: 150px;\n  }\n\n  /* Colonne \"Abrév.\" étroite */\n  .abbr-column {\n    min-width: 60px;\n  }\n\n  /* Colonne \"Type\" plus large */\n  .type-column {\n    min-width: 120px;\n  }\n\n  /* Autres colonnes */\n  .instance-column {\n    min-width: 120px;\n  }\n\n  .actions-column {\n    min-width: 120px;\n  }\n\n  /* Champs de saisie */\n  .edit-input,\n  .type-select {\n    width: 100%;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .checkbox-input {\n    transform: scale(1.3);\n  }\n\n  .object-textarea {\n    width: 100%;\n    min-height: 50px;\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    font-family: monospace;\n    resize: vertical;\n  }\n\n  /* Ligne d'ajout */\n  .add-row {\n    background: #f9f9f9;\n  }\n\n  /* Modale intégrée dans la page */\n  .inline-modal {\n    margin: 20px 0;\n    padding: 15px;\n    border: 1px solid #ddd;\n    border-radius: 5px;\n    background: white;\n    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n  }\n\n  .modal-content {\n    padding: 15px;\n  }\n\n  .schema-field {\n    display: flex;\n    gap: 10px;\n    margin-bottom: 10px;\n    align-items: center;\n  }\n\n  .schema-input,\n  .schema-type {\n    padding: 5px;\n    flex: 1;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n  }\n\n  .modal-actions {\n    display: flex;\n    justify-content: flex-end;\n    gap: 10px;\n    margin-top: 15px;\n  }\n\n  .modal-save-btn {\n    background: #4CAF50;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  .modal-cancel-btn {\n    background: #f44336;\n    color: white;\n    padding: 8px 15px;\n    border: none;\n    border-radius: 4px;\n  }\n\n  /* Gestion des instances */\n  .instances-section {\n    margin: 15px 0;\n  }\n\n  .instances-box {\n    border: 2px solid #007BFF;\n    border-radius: 5px;\n    padding: 15px;\n  }\n\n  .instances-box legend {\n    font-size: 1.1em;\n    font-weight: bold;\n    color: #007BFF;\n    padding: 0 10px;\n  }\n\n  .instance-controls {\n    display: flex;\n    gap: 10px;\n    align-items: center;\n  }\n\n  .instance-input {\n    padding: 5px;\n    border: 1px solid #ccc;\n    border-radius: 3px;\n    flex-grow: 1;\n  }\n\n  /* Boutons */\n  .add-instance-btn,\n  .delete-instance-btn,\n  .add-btn,\n  .delete-btn,\n  .schema-btn {\n    padding: 5px 10px;\n    border: none;\n    border-radius: 3px;\n    cursor: pointer;\n  }\n\n  .add-instance-btn {\n    background: #e0f0ff;\n    color: #007BFF;\n  }\n\n  .delete-instance-btn {\n    background: #ffe0e0;\n    color: #d32f2f;\n  }\n\n  .add-btn {\n    background: #d4f7d4;\n    color: #2e7d32;\n  }\n\n  .delete-btn {\n    background: #f7d4d4;\n    color: #c62828;\n  }\n\n  .schema-btn {\n    background: #fff3e0;\n    color: #e65100;\n    width: 100%;\n  }\n\n  /* Boutons Enregistrer/Annuler */\n  .action-buttons {\n    display: flex;\n    gap: 15px;\n    margin-top: 20px;\n    padding-top: 15px;\n    border-top: 2px solid #eee;\n  }\n\n  .save-btn,\n  .cancel-btn {\n    padding: 8px 20px;\n    border: none;\n    border-radius: 4px;\n    font-weight: bold;\n    cursor: pointer;\n  }\n\n  .save-btn {\n    background: #2196F3;\n    color: white;\n  }\n\n  .cancel-btn {\n    background: white;\n    color: black;\n    border: 1px solid #ccc;\n  }\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 940,
        "y": 1140,
        "wires": [
            [
                "15c0c58862aa5479",
                "c6c870bdd56bdecc"
            ]
        ]
    },
    {
        "id": "15c0c58862aa5479",
        "type": "switch",
        "z": "61d8f8019f224437",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reloadVar",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "reloadVar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 1140,
        "wires": [
            [
                "c31df8e9085018f4",
                "e3a49736cdaa207a"
            ],
            [
                "69b557919a24fa45",
                "bc106edb7545f227",
                "235d637e4517551e"
            ]
        ]
    },
    {
        "id": "235d637e4517551e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "💾 Save changes to enrichedVars",
        "func": "/// 💾 Save changes to enrichedVars\nconst storeFile = \"file\";\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\nlet formData = msg.payload || {};\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Données invalides reçues depuis le template.\";\n    return null;\n}\n\nconst varName = String(formData.nomVarG).trim();\n\n// Helpers\nconst toArray = (v) => {\n    if (Array.isArray(v)) return v;\n    if (typeof v === \"string\") {\n        const s = v.trim();\n        if (!s) return [];\n        return s.includes(\",\") ? s.split(\",\").map(x => x.trim()).filter(Boolean) : [s];\n    }\n    return [];\n};\nconst deepClone = (o) => JSON.parse(JSON.stringify(o || {}));\n\n// Instances et indexInstances\nlet instances = toArray(formData.instances);\nconst indexInstances = instances.map((_, i) => String(i));\n\n// Récupération de proprietesByInstance depuis formData\nconst rawPBI = formData.proprietesByInstance || {};\n\n// Filtrer/normaliser les propriétés\nlet props = (Array.isArray(rawPBI.proprietes) ? rawPBI.proprietes : [])\n    .filter(p => p && typeof p.nom === \"string\" && typeof p.type === \"string\" && p.nom.trim() !== \"\")\n    .map(p => ({\n        nom: String(p.nom).trim(),\n        type: String(p.type).trim(),\n        schema: p.schema  // Conserver le schéma\n    }));\n\n// abbrProprietes doit rester un objet clé=nomPropriété → abréviation\nlet abbrMap = {};\nif (rawPBI.abbrProprietes && typeof rawPBI.abbrProprietes === \"object\" && !Array.isArray(rawPBI.abbrProprietes)) {\n    abbrMap = deepClone(rawPBI.abbrProprietes);\n}\n\n// Purger les abbr des propriétés qui n'existent plus\nObject.keys(abbrMap).forEach(k => {\n    if (!props.find(p => p.nom === k)) delete abbrMap[k];\n});\n\n// Valeurs: garder uniquement pour les propriétés présentes + sérialisation\nlet valeurs = {};\ninstances.forEach(inst => {\n    valeurs[inst] = {};\n    props.forEach(({ nom, type }) => {\n        const v = rawPBI.valeurs?.[inst]?.[nom];\n        if (type === 'object' || type === 'array') {\n            valeurs[inst][nom] = v ? JSON.stringify(v) : (type === 'object' ? '{}' : '[]');\n        } else {\n            valeurs[inst][nom] = v;\n        }\n    });\n});\n\n// Construire l'objet final\nlet current = enrichedVars[varName] || {};\nenrichedVars[varName] = {\n    nomVarG: varName,\n    abbrVarG: current.abbrVarG || \"\",\n    typeVarG: formData.typeVarG || current.typeVarG || \"\",\n    instances,\n    indexInstances,\n    descriptionVarG: current.descriptionVarG || \"\",\n    dateUpdateVarG: new Date().toISOString(),\n    proprietesByInstance: {\n        proprietes: props,\n        abbrProprietes: abbrMap,\n        valeurs\n    }\n};\n\n// Sauvegarde\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars[varName];\nmsg.info = `💾 Propriétés sauvegardées pour '${varName}' (${props.length} propriétés, ${instances.length} instance(s)).`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1140,
        "wires": [
            [
                "6f4d9565a08611c6"
            ]
        ],
        "info": "abbrVarG intégré à la création et à la modification.\r\n\r\nindexInstances généré automatiquement à partir du nombre d’instances (texte).\r\n\r\nabbrProprietes toujours défini pour éviter les [object][object].\r\n\r\nGestion correcte du renommage et des collisions.\r\n\r\nmsg.info conservé pour le retour.\r\nTa fonction actuelle de sauvegarde est déjà bien structurée et couvre tous les cas nécessaires (y compris la gestion des abbrProprietes, des indexInstances, et la purification des propriétés supprimées). Pas besoin de la remplacer : elle est compatible avec le template que je t'ai fourni.\r\nVoici pourquoi elle est adaptée et comment elle fonctionne avec le template :\r\n\r\n1. Points Forts de Ta Fonction Actuelle\r\na. Gestion des Instances\r\n\r\ntoArray : Convertit les instances en tableau (même si c'est une chaîne).\r\nindexInstances : Généré automatiquement à partir des instances.\r\n\r\nb. Nettoyage des Propriétés\r\n\r\nFiltrage : Supprime les propriétés invalides (sans nom ou type).\r\nNormalisation : Convertit nom et type en chaînes (String).\r\n\r\nc. Gestion des Abréviations\r\n\r\nConservation : Copie les abbrProprietes existantes.\r\nNettoyage : Supprime les abréviations des propriétés supprimées.\r\n\r\nd. Valeurs par Instance\r\n\r\nConservation : Garde uniquement les valeurs des propriétés existantes.\r\n\r\nSérialisation des Objets/Tableaux\r\n"
    },
    {
        "id": "c31df8e9085018f4",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Annuler",
        "func": "//recharger l'original des propriétés et instances de la variables\nlet nomVarG=msg.payload;\nflow.set(\"varSelected\", nomVarG);\nmsg.topic=\"annuler\";\nmsg.info= \"Annulation des modifications sur les valeurs de $nomVarG\";\n// Modifications enregistrées pour ${data.nomVarG}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1100,
        "wires": [
            [
                "4846cbe55298ea41",
                "c7a9c713352249ba"
            ]
        ]
    },
    {
        "id": "a176f9f3e358f455",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "notifInModifVarSelected",
        "links": [
            "92dd8dae04877424",
            "1042d5f8975bf72c",
            "4846cbe55298ea41",
            "6f4d9565a08611c6",
            "41624c5939f6a592"
        ],
        "x": 1185,
        "y": 820,
        "wires": [
            [
                "80b5fac4ff99274d"
            ]
        ]
    },
    {
        "id": "92dd8dae04877424",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 915,
        "y": 820,
        "wires": []
    },
    {
        "id": "80b5fac4ff99274d",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 820,
        "wires": [
            [
                "87b5dcd3712b7bac"
            ]
        ]
    },
    {
        "id": "1042d5f8975bf72c",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1665,
        "y": 960,
        "wires": []
    },
    {
        "id": "4846cbe55298ea41",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1635,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6f4d9565a08611c6",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1635,
        "y": 1140,
        "wires": []
    },
    {
        "id": "switch-msg",
        "type": "switch",
        "z": "61d8f8019f224437",
        "name": "GererMessages",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1520,
        "y": 940,
        "wires": [
            [
                "0231cbc7469b585f"
            ],
            [
                "1042d5f8975bf72c"
            ]
        ]
    },
    {
        "id": "0231cbc7469b585f",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "cas erreur",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "erreur",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 920,
        "wires": [
            [
                "toast-error"
            ]
        ]
    },
    {
        "id": "toast-error",
        "type": "ui_toast",
        "z": "61d8f8019f224437",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Avertissement",
        "x": 1880,
        "y": 920,
        "wires": []
    },
    {
        "id": "87b5dcd3712b7bac",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "order": 6,
        "width": "5",
        "height": "1",
        "name": "NotificationV4",
        "label": "🛠 Info",
        "format": "{{msg.info}}",
        "layout": "row-right",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "x": 1640,
        "y": 820,
        "wires": []
    },
    {
        "id": "94830ea6ccd60644",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "7716c497edc36604",
                "e20605b372c0414d"
            ]
        ]
    },
    {
        "id": "c0c9a5d567223063",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "link in msg Info",
        "links": [
            "0c3bd13bbe17df4b",
            "88e8b278b6dd71f8",
            "82616735d3556ed1",
            "40d3af83aa60d68f"
        ],
        "x": 955,
        "y": 260,
        "wires": [
            [
                "94830ea6ccd60644"
            ]
        ]
    },
    {
        "id": "7716c497edc36604",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "Info-GestionV4",
        "label": "Info : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "x": 1300,
        "y": 260,
        "wires": []
    },
    {
        "id": "2413c080e8f28938",
        "type": "ui-group",
        "name": "Grpe_Table",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group-vars",
        "type": "ui-group",
        "name": "Variable selectionnée",
        "page": "page-1",
        "width": 6,
        "height": 4,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ac208ef77b5e8aea",
        "type": "ui-group",
        "name": "Accueil-AdminVarG",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "page-1",
        "type": "ui-page",
        "name": "P_admin-VarG",
        "ui": "930a8a5e70986346",
        "path": "/admin_varG",
        "icon": "dashboard",
        "layout": "notebook",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "930a8a5e70986346",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "1050ebb74976e9e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "10px"
        }
    }
]