CODE/node-red/rechercherErreur/ui_VarG.json
[
    {
        "id": "3cc8dfb3b3e5d35c",
        "type": "tab",
        "label": "ui_VarG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b6f43abfadc12cd",
        "type": "ui-text",
        "z": "3cc8dfb3b3e5d35c",
        "group": "group-vars",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "info2TitreVarModif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 2210,
        "y": 740,
        "wires": []
    },
    {
        "id": "14e86370be712e2b",
        "type": "link in",
        "z": "3cc8dfb3b3e5d35c",
        "name": "gestion-VarG",
        "links": [
            "16644df1dfd047f1"
        ],
        "x": 905,
        "y": 980,
        "wires": [
            [
                "3e339a35dedbaa1a",
                "9422d670e945e8e8",
                "89068c71d22424a5",
                "acb9909ecf66e2c1",
                "65b8f14357e934bc",
                "0c708e7b1bd12393"
            ]
        ]
    },
    {
        "id": "3337c22b75b55456",
        "type": "ui-control",
        "z": "3cc8dfb3b3e5d35c",
        "name": "afficheUiVarG",
        "ui": "930a8a5e70986346",
        "events": "change",
        "x": 2340,
        "y": 880,
        "wires": [
            [
                "0c708e7b1bd12393"
            ]
        ]
    },
    {
        "id": "fceadecb71a590a7",
        "type": "ui-text",
        "z": "3cc8dfb3b3e5d35c",
        "group": "ac208ef77b5e8aea",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "Info-1",
        "label": "Info: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "x": 2330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "3e339a35dedbaa1a",
        "type": "change",
        "z": "3cc8dfb3b3e5d35c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "info",
                "pt": "msg",
                "to": "Les vars globales sont stockées dans enrichedVars dans un fichier et dans defaut (mémoire vive) après synchronisation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "introAdmin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 980,
        "wires": [
            [
                "ec31e9221e764e9a"
            ]
        ]
    },
    {
        "id": "cee3c8898fd819d5",
        "type": "change",
        "z": "3cc8dfb3b3e5d35c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2090,
        "y": 1120,
        "wires": [
            [
                "fceadecb71a590a7"
            ]
        ]
    },
    {
        "id": "ec31e9221e764e9a",
        "type": "link out",
        "z": "3cc8dfb3b3e5d35c",
        "name": "link out msg Info",
        "mode": "link",
        "links": [
            "ef103f8594805c7e"
        ],
        "x": 1825,
        "y": 980,
        "wires": []
    },
    {
        "id": "ef103f8594805c7e",
        "type": "link in",
        "z": "3cc8dfb3b3e5d35c",
        "name": "link in msg Info",
        "links": [
            "ec31e9221e764e9a",
            "b15ae471db03e927",
            "85059ee705fac65e"
        ],
        "x": 1925,
        "y": 1120,
        "wires": [
            [
                "cee3c8898fd819d5"
            ]
        ]
    },
    {
        "id": "9422d670e945e8e8",
        "type": "ui-button",
        "z": "3cc8dfb3b3e5d35c",
        "group": "ac208ef77b5e8aea",
        "name": "Retour",
        "label": "Retour  ",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tab\":\"P_Admin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "grey",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1270,
        "y": 880,
        "wires": [
            [
                "3337c22b75b55456"
            ]
        ]
    },
    {
        "id": "277d12174a2e9336",
        "type": "comment",
        "z": "3cc8dfb3b3e5d35c",
        "name": "Retour ",
        "info": "",
        "x": 1270,
        "y": 840,
        "wires": []
    },
    {
        "id": "5a7c6efe14ee8243",
        "type": "comment",
        "z": "3cc8dfb3b3e5d35c",
        "name": "Info",
        "info": "",
        "x": 1270,
        "y": 920,
        "wires": []
    },
    {
        "id": "e1afd2aff71b4909",
        "type": "comment",
        "z": "3cc8dfb3b3e5d35c",
        "name": "charge var G defaut depuis enrichedVars",
        "info": "",
        "x": 1380,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4fac4fe5cb1a04b3",
        "type": "comment",
        "z": "3cc8dfb3b3e5d35c",
        "name": "Gestion Memoire",
        "info": "",
        "x": 1300,
        "y": 1100,
        "wires": []
    },
    {
        "id": "89068c71d22424a5",
        "type": "ui-button",
        "z": "3cc8dfb3b3e5d35c",
        "group": "ac208ef77b5e8aea",
        "name": "iniVarGlobalInMemory",
        "label": "Actualiser",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "iniVarGlobalInMemory",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1330,
        "y": 1140,
        "wires": [
            [
                "bea7b1f3947a97fb"
            ]
        ]
    },
    {
        "id": "b15ae471db03e927",
        "type": "link out",
        "z": "3cc8dfb3b3e5d35c",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "ef103f8594805c7e"
        ],
        "x": 1775,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1dfd790557f1deeb",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "prepareTableauVars",
        "func": "// function prepareTableauVars (corrigée pour nouvelle structure enrichedVars)\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nconsole.log(\"Données chargées depuis global.json :\", enrichedVars);\n\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\n\n// On parcourt toutes les variables globales\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // Ignore les entrées invalides\n\n    let props = e.proprietes || [];   // ✅ nouvelle structure\n    let proprieteResume = props.length > 0\n        ? props.map(p => `${p.nomP} (${p.typeP})`).join(\", \")\n        : \"(Aucune propriété définie)\";\n\n    const instances = e.instances || [\"*\"];\n\n    tableauPourUI.push({\n        nomVarG,\n        abbrVarG: e.abbrVarG || \"\",\n        instances: instances.join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1220,
        "wires": [
            [
                "b63a503667e63132"
            ]
        ]
    },
    {
        "id": "b63a503667e63132",
        "type": "ui-table",
        "z": "3cc8dfb3b3e5d35c",
        "group": "2413c080e8f28938",
        "name": "Table enrichedVars",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nom",
                "key": "nomVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Type",
                "key": "typeVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Instances",
                "key": "instances",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Propriétés",
                "key": "proprietes",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Description",
                "key": "description",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Détails",
                "key": "action",
                "keyType": "key",
                "type": "button",
                "width": ""
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 2370,
        "y": 1220,
        "wires": [
            [
                "484a4c66a5f084f8"
            ]
        ]
    },
    {
        "id": "acb9909ecf66e2c1",
        "type": "ui-button",
        "z": "3cc8dfb3b3e5d35c",
        "group": "group-vars",
        "name": "ajouterUneVarG",
        "label": "➕ New varG ",
        "order": 8,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "newVarG",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1300,
        "y": 1400,
        "wires": [
            [
                "484a4c66a5f084f8",
                "21d57aa3302dc12b"
            ]
        ]
    },
    {
        "id": "bd8001af993d7dac",
        "type": "ui-text",
        "z": "3cc8dfb3b3e5d35c",
        "group": "ac208ef77b5e8aea",
        "order": 1,
        "width": "5",
        "height": "1",
        "name": "TitreEntete",
        "label": "Tableau des variables - Choisir une action, ou selectionner une variable",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 2330,
        "y": 1020,
        "wires": []
    },
    {
        "id": "65b8f14357e934bc",
        "type": "change",
        "z": "3cc8dfb3b3e5d35c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1020,
        "wires": [
            [
                "bd8001af993d7dac"
            ]
        ]
    },
    {
        "id": "f84f53625840712a",
        "type": "ui-text",
        "z": "3cc8dfb3b3e5d35c",
        "group": "group-vars",
        "order": 9,
        "width": "4",
        "height": "1",
        "name": "info2TitreVarModif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 2970,
        "y": 1540,
        "wires": []
    },
    {
        "id": "21d57aa3302dc12b",
        "type": "change",
        "z": "3cc8dfb3b3e5d35c",
        "name": "valVarSelectInfo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"➕ Création d’une nouvelle variable.\"",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2740,
        "y": 1540,
        "wires": [
            [
                "f84f53625840712a"
            ]
        ]
    },
    {
        "id": "5ce6b6acfa4fde36",
        "type": "ui-form",
        "z": "3cc8dfb3b3e5d35c",
        "name": "Form_Var_Modif",
        "group": "group-vars",
        "label": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nom",
                "key": "nomVarG",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Abréviation",
                "key": "abbrVarG",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Instances (csv), toujours une instance par défaut *",
                "key": "instances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Description",
                "key": "descriptionVarG",
                "type": "multiline",
                "required": false,
                "rows": 2
            },
            {
                "label": "Date MAJ",
                "key": "dateUpdateVarG",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nomVarG": "",
            "abbrVarG": "",
            "instances": "",
            "descriptionVarG": "",
            "dateUpdateVarG": ""
        },
        "submit": "Enregistrer",
        "cancel": "Annuler",
        "resetOnSubmit": true,
        "topic": "",
        "topicType": "str",
        "splitLayout": true,
        "className": "",
        "dropdownOptions": [],
        "x": 2360,
        "y": 1380,
        "wires": [
            [
                "fcdf8b2bfbf71c0b"
            ]
        ]
    },
    {
        "id": "fcdf8b2bfbf71c0b",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "InfosSauvegardeVars",
        "func": "// === Infos générales enrichedVars (fusion avec sauvVarSelected) ===\n\n// Gère création/modification d'une variable\n// - contrôle du nom\n// - initialisation instances (ajout '*' oblig.)\n// - initialise proprietes si vide\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Formulaire incomplet ou variable non spécifiée.\";\n    return null;\n}\n\n// --- Normalisation du nom ---\nlet newName = formData.nomVarG.trim();\n\n// Vérification caractères autorisés\nif (!/^[A-Za-z0-9_]+$/.test(newName)) {\n    msg.info = `❌ Nom de variable invalide ('${newName}'). Utilise uniquement lettres, chiffres ou '_'`;\n    return null;\n}\n\nlet oldName = varSelected;\n\n// --- Cas création ---\nif (!enrichedVars[oldName]) {\n    if (enrichedVars[newName]) {\n        msg.info = `❌ Impossible de créer '${newName}', une variable existe déjà avec ce nom.`;\n        return null;\n    }\n\n    enrichedVars[newName] = {\n        nomVarG: newName,\n        abbrVarG: formData.abbrVarG || \"\",\n        instances: formData.instances\n            ? formData.instances.split(\",\").map(e => e.trim())\n            : [\"*\"],\n        descriptionVarG: formData.descriptionVarG || \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietes: [\n            {\n                nomP: \"defautProp\",     // ✅ CORRIGÉ : nomP (pas nom)\n                abbrP: \"def\",           // ✅ CORRIGÉ : abbrP (pas abbr)\n                typeP: \"string\",        // ✅ CORRIGÉ : typeP (pas type)\n                schema: null,\n                valeurs: { \"*\": \"\" }\n            }\n        ]\n    };\n\n    flow.set(\"varSelected\", newName);\n\n    // Protection contre l'écriture de données vides\n    if (!enrichedVars || Object.keys(enrichedVars).length === 0) {\n        node.warn(\"⚠️ Tentative d'écriture d'un enrichedVars vide ignorée\");\n    } else {\n        global.set(\"enrichedVars\", enrichedVars, \"file\");\n    }\n\n    msg.payload = newName;\n    msg.info = `✅ Nouvelle variable créée : ${newName}`;\n    return msg;\n}\n\n// --- Cas modification ---\nlet current = enrichedVars[oldName];\n\n// Si le nom change\nif (oldName !== newName) {\n    if (enrichedVars[newName]) {\n        msg.info = `⚠️ '${newName}' existe déjà, impossible de renommer '${oldName}'`;\n        return null;\n    }\n\n    enrichedVars[newName] = current;\n    delete enrichedVars[oldName];\n    flow.set(\"varSelected\", newName);\n}\n\n// --- Synchronisation des instances ---\nlet newInstances = formData.instances\n    ? formData.instances.split(\",\").map(e => e.trim())\n    : current.instances;\nlet oldInstances = current.instances || [];\n\n// Synchroniser les valeurs pour toutes les propriétés\n(current.proprietes || []).forEach(prop => {\n    prop.valeurs = prop.valeurs || {};\n\n    // Ajouter les nouvelles instances avec valeur par défaut\n    newInstances.forEach(inst => {\n        if (!(inst in prop.valeurs)) {\n            switch (prop.type) {\n                case \"boolean\": prop.valeurs[inst] = false; break;\n                case \"int\":\n                case \"number\": prop.valeurs[inst] = 0; break;\n                case \"array\": prop.valeurs[inst] = []; break;\n                case \"object\": prop.valeurs[inst] = {}; break;\n                case \"date\": prop.valeurs[inst] = new Date().toISOString().slice(0, 10); break;\n                default: prop.valeurs[inst] = \"\";\n            }\n        }\n    });\n\n    // Supprimer les valeurs des instances disparues\n    oldInstances.forEach(inst => {\n        if (!newInstances.includes(inst)) {\n            delete prop.valeurs[inst];\n        }\n    });\n});\n\n// --- Mise à jour des infos générales ---\nenrichedVars[newName || oldName] = {\n    ...enrichedVars[newName || oldName],\n    nomVarG: newName,\n    abbrVarG: formData.abbrVarG || enrichedVars[newName || oldName].abbrVarG,\n    instances: newInstances,\n    descriptionVarG: formData.descriptionVarG || enrichedVars[newName || oldName].descriptionVarG,\n    dateUpdateVarG: new Date().toISOString()\n};\n// Protection contre l'écriture de données vides\nif (!enrichedVars || Object.keys(enrichedVars).length === 0) {\n    node.warn(\"⚠️ Tentative d'écriture d'un enrichedVars vide ignorée\");\n    // Ne pas faire le set, mais continuer le flow si nécessaire\n} else {\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n}\n\nmsg.payload = newName || oldName;\nmsg.info = `✅ Variable ${oldName !== newName ? `renommée de '${oldName}' en '${newName}' et ` : \"\"}mise à jour.`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2420,
        "y": 1440,
        "wires": [
            [
                "21d57aa3302dc12b",
                "9781703b10ef2ac1"
            ]
        ]
    },
    {
        "id": "484a4c66a5f084f8",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "recupVarSelected",
        "func": "// 🔹 recupVarSelected\n// - Détermine si on sélectionne une variable existante ou si on crée une nouvelle\n// - Met à jour flow.varSelected\n// - Fournit msg.info et msg.payload adaptés\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet listeVars = Object.keys(enrichedVars);\nlet varSelected = null;\n\n// 1) Cas bouton \"Ajouter une VarG\"\nif (msg.topic === \"newVarG\") {\n    varSelected = \"new\";\n}\n// 2) Cas sélection dans la table\nelse {\n    varSelected = msg.payload?.row?.nomVarG || msg.payload?.nomVarG || null;\n}\n\n// 3) Vérification : aucune sélection\nif (!varSelected) {\n    msg.info = (listeVars.length === 0)\n        ? \"⚠️ Aucune variable existante dans enrichedVars.\"\n        : \"⚠️ Aucune variable sélectionnée pour édition.\";\n    return msg;  // on sort proprement\n}\n\n// 4) Stockage de la sélection\nflow.set(\"varSelected\", varSelected);\n\n// 5) Message d'info\nmsg.info = (varSelected === \"new\")\n    ? \"➕ Création d'une nouvelle variable.\"\n    : `✅ Vous êtes sur la variable : ${varSelected}`;\n\n// 6) Retour\nmsg.payload = varSelected;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 1400,
        "wires": [
            [
                "21d57aa3302dc12b",
                "2a5997eb1a50e740"
            ]
        ]
    },
    {
        "id": "05e055182859a2af",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "prepareFormVarSelected",
        "func": "// 🔹 prepareFormVarSelected\n// - Prépare le formulaire Form_Var_Modif selon varSelected\n// - Gère : création nouvelle variable, édition variable existante, cas vide\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\n\n// 1) Cas création d'une nouvelle variable\nif (varSelected === \"new\") {\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: \"*\",  // instance par défaut obligatoire\n        descriptionVarG: \"- Objectif(s): - Origine: - Autres : \",\n        dateUpdateVarG: new Date().toISOString()\n    };\n    msg.topic = \"newVarG\";\n    msg.info = \"➕ Création d'une nouvelle variable.\";\n    return msg;\n}\n\n// 2) Cas édition d'une variable existante\nif (varSelected && enrichedVars[varSelected]) {\n    const selected = enrichedVars[varSelected];\n    msg.payload = {\n        nomVarG: selected.nomVarG || varSelected,\n        abbrVarG: selected.abbrVarG || \"\",\n        instances: selected.instances ? selected.instances.join(\", \") : \"*\",\n        descriptionVarG: selected.descriptionVarG || \"\",\n        dateUpdateVarG: selected.dateUpdateVarG || new Date().toISOString()\n    };\n    msg.info = `✏️ Édition de la variable '${varSelected}'.`;\n    return msg;\n}\n\n// 3) Cas aucun varSelected valide\nif (Object.keys(enrichedVars).length === 0) {\n    msg.info = \"⚠️ Aucune variable définie. Utilisez 'Ajouter une VarG' pour commencer.\";\n} else {\n    msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n}\n\n// Payload neutre pour éviter un crash du formulaire\nmsg.payload = {\n    nomVarG: \"\",\n    abbrVarG: \"\",\n    instances: \"\",\n    descriptionVarG: \"\",\n    dateUpdateVarG: new Date().toISOString()\n};\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2090,
        "y": 1380,
        "wires": [
            [
                "5ce6b6acfa4fde36"
            ]
        ]
    },
    {
        "id": "9781703b10ef2ac1",
        "type": "change",
        "z": "3cc8dfb3b3e5d35c",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2770,
        "y": 1620,
        "wires": [
            [
                "4ae6688c68b17a6b"
            ]
        ]
    },
    {
        "id": "4ae6688c68b17a6b",
        "type": "ui-text",
        "z": "3cc8dfb3b3e5d35c",
        "group": "grp1",
        "order": 19,
        "width": "4",
        "height": 1,
        "name": "Info message",
        "label": "🛠Propriété  - ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "14",
        "color": "#0000ff",
        "wrapText": false,
        "className": "",
        "x": 2980,
        "y": 1620,
        "wires": []
    },
    {
        "id": "789de12647f73a9d",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "supprimerVarG",
        "func": "/* Le nœud ui-notification envoie un message avec msg.payload contenant :\n   - \"confirm_clicked\" si l'utilisateur clique sur \"✅ Supprimer\".\n   - \"dismiss_clicked\" si l'utilisateur clique sur \"❌ Annuler\".\n*/\nif (msg.payload === \"confirm_clicked\") {\n    const varToDelete = flow.get(\"pendingDeletion\");\n\n    if (!varToDelete) {\n        msg.info = \"⚠️ Aucune variable en attente de suppression.\";\n        return msg;\n    }\n\n    // Suppression\n    let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n    delete enrichedVars[varToDelete];\n    delete enrichedVars[\"\"];\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n    global.set(varToDelete, undefined, \"default\");\n    flow.set(\"varSelected\", \"none\");\n    flow.set(\"pendingDeletion\", null);\n\n    msg.payload = \"none\";\n    msg.info = `✅ Variable \"${varToDelete}\" supprimée.`;\n    msg.notification = {\n        type: \"success\",\n        title: \"✅ Supprimée\",\n        text: `Variable \"${varToDelete}\" supprimée avec succès.`,\n        duration: 3000\n    };\n\n} else if (msg.payload === \"dismiss_clicked\") {\n    flow.set(\"pendingDeletion\", null);\n    msg.info = \"❌ Suppression annulée.\";\n    msg.notification = {\n        type: \"info\",\n        title: \"❌ Annulée\",\n        text: \"Suppression annulée.\",\n        duration: 3000\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 1280,
        "wires": [
            [
                "85059ee705fac65e"
            ]
        ]
    },
    {
        "id": "675144f46a80f8a4",
        "type": "ui-button",
        "z": "3cc8dfb3b3e5d35c",
        "group": "group-vars",
        "name": "supprimerVarG",
        "label": "❌ Supprimer Var",
        "order": 7,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Cliquez pour supprimer la variable sélectionnée",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "supprimer",
        "payloadType": "str",
        "topic": "demande-confirmation",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "red",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1300,
        "y": 1280,
        "wires": [
            [
                "f5e61a06e849e504"
            ]
        ]
    },
    {
        "id": "f5e61a06e849e504",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "prepaBoiteDialogue",
        "func": "// open-dialog -> Preparation d'une Boite de Dialogue Suppression\n// les actions dans ui-notification doivent être configuré selon un schéma précis\nconst varSelected = flow.get(\"varSelected\") || null;\n\nif (!varSelected || varSelected === \"none\" || varSelected === \"new\") {\n    msg.payload = {\n        type: \"warning\", \n        title: \"Aucune variable\",\n        text: \"Veuillez sélectionner une variable à supprimer.\",\n        duration: 3000\n    };\n    return msg;\n}\n\nflow.set(\"pendingDeletion\", varSelected);\n// gestion dynamique du ui-notification, les mots clefs de ui-update sont spécifique au noeud\nmsg.payload = {\n    type: \"warning\",\n    title: \"Confirmation suppression\",\n    text: `Voulez-vous vraiment supprimer la variable \"<strong>${varSelected}</strong>\" ?`,\n    displayTime: 0, // Ne pas fermer automatiquement\n    ui_update: {\n        allowConfirm: true,\n        allowDismiss: true,\n        confirmText: \"✅ Supprimer\",\n        dismissText: \"❌ Annuler\"\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1280,
        "wires": [
            [
                "dac8e19d60f3e2d4"
            ]
        ]
    },
    {
        "id": "85059ee705fac65e",
        "type": "link out",
        "z": "3cc8dfb3b3e5d35c",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "ef103f8594805c7e"
        ],
        "x": 2145,
        "y": 1280,
        "wires": []
    },
    {
        "id": "dac8e19d60f3e2d4",
        "type": "ui-notification",
        "z": "3cc8dfb3b3e5d35c",
        "ui": "930a8a5e70986346",
        "position": "bottom center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "❌ Annuler",
        "allowConfirm": true,
        "confirmText": "✅ Supprimer",
        "raw": true,
        "className": "",
        "name": "notificationSuppression",
        "x": 1770,
        "y": 1280,
        "wires": [
            [
                "789de12647f73a9d"
            ]
        ]
    },
    {
        "id": "d6632ab46f19bb53",
        "type": "comment",
        "z": "3cc8dfb3b3e5d35c",
        "name": "IMP exemple de notification",
        "info": "",
        "x": 1340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bea7b1f3947a97fb",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "chargeEnrichedVarsToMemory",
        "func": "// 🔄 Fonctions utilitaires existantes\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// 🔄 Valeur par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// 🔄 Conversion string → typé (avec gestion des valeurs par défaut)\nfunction convertFromString(value, type, defaultVal) {\n    if (value === null || value === undefined) {\n        return defaultVal !== undefined ? convertFromString(defaultVal, type) : defaultForType(type);\n    }\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        node.error(`Erreur de conversion (${type}): ${err.message} (valeur: ${value})`, msg);\n        return defaultForType(type);\n    }\n}\n\n// 🔄 Fonction principale : chargeEnrichedVarsToMemory\nfunction chargeEnrichedVarsToMemory() {\n    // Supprimer enrichedVars du stockage par défaut\n    global.set(\"enrichedVars\", undefined, storeDefault);\n\n    // Charger enrichedVars depuis le fichier\n    let enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n    if (Object.keys(enrichedVars).length === 0) {\n        node.error(\"⚠️ Aucune donnée enrichedVars trouvée dans le stockage fichier.\", msg);\n        node.status({ fill: \"red\", shape: \"ring\", text: \"Échec : données manquantes\" });\n        return false;\n    }\n\n    // Parcourir chaque variable dans enrichedVars\n    Object.entries(enrichedVars).forEach(([key, e]) => {\n        const instances = e.instances || [\"*\"];\n        const props = e.proprietes || [];\n        let variable = {};\n\n        // Parcourir les instances\n        instances.forEach(instance => {\n            variable[instance] = {};\n            props.forEach(prop => {\n                const name = prop.nomP;\n                const type = prop.typeP;\n                const rawValue = prop.valeurs?.[instance];\n                const defaultVal = prop.valeurs?.[\"*\"];\n                variable[instance][name] = convertFromString(rawValue, type, defaultVal);\n            });\n        });\n\n        // Ajouter les métadonnées (abréviations, etc.)\n        if (e.abbrVarG) variable._abbrVarG = e.abbrVarG;\n        if (e.indexInstances) variable._indexInstances = e.indexInstances;\n\n        // Stocker dans les variables globales\n        if (instances.length === 1 && instances[0] === \"*\") {\n            global.set(key, variable[\"*\"], storeDefault);\n        } else {\n            global.set(key, variable, storeDefault);\n        }\n    });\n\n    node.status({ fill: \"green\", shape: \"dot\", text: \"✅ enrichedVars chargé en mémoire\" });\n    node.send({ payload: \"Chargement terminé\" });\n    return true;\n}\n\n// 🔄 Appel de la fonction\nchargeEnrichedVarsToMemory();\nmsg.info = \"✅ Initialisation enrichie depuis enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 1140,
        "wires": [
            [
                "b15ae471db03e927",
                "1dfd790557f1deeb"
            ]
        ],
        "info": "// Les variables sont stockées dans deux types de stockage : \"default\" et \"file\".\r\n// Ce nœud synchronise les variables globales avec enrichedVars.\r\n// Il met à jour enrichedVars avec les variables globales actuelles\r\n// et s'assure que chaque variable suit la nouvelle structure définie.\r\n\r\n// Les variables sont structurées avec des propriétés comme nomVarG, instances, propriétés, etc.\r\n// La fonction gère également la restauration des variables globales manquantes depuis enrichedVars.\r\n// Elle prend en compte les instances et les sous-variables pour une synchronisation cohérente."
    },
    {
        "id": "f208ef01963db556",
        "type": "ui-template",
        "z": "3cc8dfb3b3e5d35c",
        "group": "grp1",
        "page": "",
        "ui": "",
        "name": "Éditeur Base (avec Schéma provisoireV2)",
        "order": 14,
        "width": 12,
        "height": "auto",
        "format": "<template>\n    <div v-if=\"msg && msg.topic==='openEditor' && msg.editor==='base'\"\n        style=\"border:1px solid #ddd;padding:15px;background:#fff;margin-top:12px;border-radius:6px;\">\n        <h4 style=\"margin-bottom:15px;\">{{originalName?'✏️ Édition':'➕ Nouvelle propriété'}}</h4>\n\n        <!-- Formulaire principal sur 2 colonnes -->\n        <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:15px;\">\n            <!-- Colonne gauche -->\n            <div>\n                <div style=\"margin-bottom:12px;\">\n                    <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;\">Nom</label>\n                    <input v-model=\"local.nomP\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;\" />\n                </div>\n\n                <div style=\"margin-bottom:12px;\">\n                    <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;\">Type</label>\n                    <select v-model=\"local.typeP\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;background:white;\">\n            <option>string</option>\n            <option>integer</option>\n            <option>number</option>\n            <option>boolean</option>\n            <option>array</option>\n            <option>object</option>\n          </select>\n                </div>\n\n                <!-- Option pour les listes de valeurs -->\n                <div style=\"margin-bottom:12px;\">\n                    <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;\">\n                        <input type=\"checkbox\" v-model=\"local.useValueList\" @change=\"toggleValueList\" />\n                        Utiliser une liste de valeurs prédéfinies\n                    </label>\n                </div>\n            </div>\n\n            <!-- Colonne droite -->\n            <div>\n                <div style=\"margin-bottom:12px;\">\n                    <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;\">Abréviation</label>\n                    <input v-model=\"local.abbrP\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;\" />\n                </div>\n\n                <!-- Champ valeur par défaut optionnel -->\n                <div style=\"margin-bottom:12px;\" v-if=\"local.defaut !== undefined\">\n                    <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;\">Valeur par défaut</label>\n                    <input v-model=\"local.defaut\" style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;\" />\n                </div>\n            </div>\n        </div>\n\n        <!-- Éditeur de liste de valeurs -->\n        <div v-if=\"local.useValueList\" style=\"margin-top:15px;border:1px solid #e0e0e0;padding:12px;border-radius:4px;background:#fafafa;\">\n            <h5 style=\"margin-bottom:10px;\">📝 Liste de valeurs</h5>\n            <div style=\"margin-bottom:10px;\">\n                <small style=\"color:#666;\">Les valeurs seront partagées entre toutes les instances</small>\n            </div>\n            <div v-for=\"(item, index) in local.valueList\" :key=\"index\" style=\"display:flex;gap:8px;margin-bottom:8px;align-items:center;\">\n                <input v-model=\"item.value\" \n                       placeholder=\"Valeur\"\n                       style=\"flex:1;padding:6px;border:1px solid #ddd;border-radius:3px;font-size:13px;\" />\n                <input v-model=\"item.label\" \n                       placeholder=\"Libellé (optionnel)\"\n                       style=\"flex:1;padding:6px;border:1px solid #ddd;border-radius:3px;font-size:13px;\" />\n                <button @click=\"removeValueListItem(index)\" \n                        style=\"background:#ff4444;color:white;border:none;padding:4px 8px;border-radius:3px;cursor:pointer;font-size:12px;\">\n                    🗑\n                </button>\n            </div>\n            <button @click=\"addValueListItem\" \n                    style=\"background:#4CAF50;color:white;border:none;padding:6px 12px;border-radius:4px;cursor:pointer;font-size:13px;\">\n                ➕ Ajouter une valeur\n            </button>\n        </div>\n\n        <!-- Éditeur de schéma amélioré -->\n        <div v-if=\"showSchemaEditor\"\n            style=\"margin-top:20px;border:1px solid #e0e0e0;padding:12px;border-radius:4px;background:#fafafa;\">\n            <h5 style=\"margin-bottom:10px;\">📑 Schéma (sous-propriétés)</h5>\n            <div style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;\">\n                <div v-for=\"(sp,i) in local.schemaArr\" :key=\"i\"\n                    style=\"border:1px solid #e8e8e8;padding:10px;border-radius:4px;background:white;\">\n                    <div style=\"margin-bottom:8px;\">\n                        <label style=\"display:block;font-size:0.85em;font-weight:600;margin-bottom:2px;color:#666;\">Nom</label>\n                        <input v-model=\"sp.nomSsP\" style=\"width:100%;padding:6px;border:1px solid #ddd;border-radius:3px;font-size:13px;\" />\n                    </div>\n                    <div style=\"margin-bottom:8px;\">\n                        <label style=\"display:block;font-size:0.85em;font-weight:600;margin-bottom:2px;color:#666;\">Type</label>\n                        <select v-model=\"sp.typeSsP\" style=\"width:100%;padding:6px;border:1px solid #ddd;border-radius:3px;font-size:13px;background:white;\">\n              <option>string</option>\n              <option>number</option>\n              <option>boolean</option>\n            </select>\n                    </div>\n                    <button @click=\"removeSchema(i)\" style=\"background:#ff4444;color:white;border:none;padding:4px 8px;border-radius:3px;cursor:pointer;font-size:12px;width:100%;\">\n            🗑 Supprimer\n          </button>\n                </div>\n            </div>\n            <button @click=\"addSchema\" style=\"margin-top:10px;background:#4CAF50;color:white;border:none;padding:8px 12px;border-radius:4px;cursor:pointer;\">\n        ➕ Ajouter sous-propriété\n      </button>\n        </div>\n\n        <!-- Boutons d'action -->\n        <div style=\"margin-top:20px;display:flex;gap:10px;\">\n            <button :disabled=\"!canSave\" @click=\"onSave\"\n              style=\"background:#2196F3;color:white;border:none;padding:10px 20px;border-radius:4px;cursor:pointer;font-weight:600;\">\n        💾 Enregistrer\n      </button>\n            <button @click=\"onCancel\"\n              style=\"background:#f0f0f0;color:#333;border:1px solid #ccc;padding:10px 20px;border-radius:4px;cursor:pointer;\">\n        ↩ Annuler\n      </button>\n        </div>\n\n        <div v-if=\"lockedWarning\"\n            style=\"margin-top:12px;padding:8px;background:#ffeaa7;border:1px solid #fdcb6e;border-radius:4px;color:#b33;\">\n            ⚠️ Propriété verrouillée\n        </div>\n    </div>\n</template>\n\n<script>\n  export default {\n  data(){ return { local:null, schemaArr:[], originalName:null, lockedWarning:false }; },\n  computed:{\n    showSchemaEditor(){ return this.local&&(this.local.typeP==='object'||this.local.typeP==='array'); },\n    canSave(){\n      if(!this.local||!this.local.nomP||!this.local.abbrP||!this.local.typeP) return false;\n      if(this.showSchemaEditor) return this.local.schemaArr&&this.local.schemaArr.length>0&&this.local.schemaArr.every(s=>s.nomSsP);\n      if(this.local.useValueList) return this.local.valueList && this.local.valueList.length > 0 && this.local.valueList.every(item => item.value);\n      return true;\n    }\n  },\n  mounted(){\n    this.$watch('msg',(m)=>{\n      if(!m) return;\n      if(m.topic==='openEditor'&&m.editor==='base'){\n        this.originalName = m.originalName||null;\n        let p = m.prop||{};\n        \n        // INITIALISATION CORRIGÉE - assure que useValueList et valueList existent\n        let defaultProps = {\n          nomP: '', \n          abbrP: '', \n          typeP: null, \n          schema: [], \n          useValueList: false, \n          valueList: []\n        };\n        \n        this.local = JSON.parse(JSON.stringify({...defaultProps, ...p}));\n        this.local.schemaArr = Array.isArray(this.local.schema)?JSON.parse(JSON.stringify(this.local.schema)):[];\n        \n        // S'assurer que useValueList est un booléen\n        this.local.useValueList = !!this.local.useValueList;\n        \n        // S'assurer que valueList est un tableau\n        if(!Array.isArray(this.local.valueList)) {\n            this.local.valueList = [];\n        }\n        \n        this.lockedWarning = !!(p && p._locked);\n      }\n    },{immediate:true});\n  },\n  methods:{\n    toggleValueList() {\n        if (!this.local.useValueList) {\n            this.local.valueList = [];\n        }\n    },\n    addValueListItem() {\n        if(!this.local.valueList) this.local.valueList = [];\n        this.local.valueList.push({ value: '', label: '' });\n    },\n    removeValueListItem(index) {\n        this.local.valueList.splice(index, 1);\n    },\n    addSchema() {\n      if(!this.local.schemaArr) this.local.schemaArr = [];\n      let newName = 'newSSP';\n      if(this.local.schemaArr.some(s => s.nomSsP === newName)){\n        newName += '_1';\n      }\n      this.local.schemaArr.push({ nomSsP: newName, typeSsP: 'string' });\n    },\n    removeSchema(i){ this.local.schemaArr.splice(i,1); },\n    onSave(){\n      let propOut={\n        nomP:this.local.nomP,\n        abbrP:this.local.abbrP,\n        typeP:this.local.typeP,\n        useValueList: this.local.useValueList,\n        valueList: this.local.useValueList ? this.local.valueList : []\n      };\n      if(this.showSchemaEditor){ \n        propOut.schema=this.local.schemaArr; \n        this.send({topic:'saveBaseWithSchema',prop:propOut,originalName:this.originalName}); \n      }\n      else{ \n        this.send({topic:'saveBase',prop:propOut,originalName:this.originalName}); \n      }\n    },\n    onCancel(){ this.send({topic:'cancel'}); }\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2560,
        "y": 2340,
        "wires": [
            [
                "1250d649e84baa3d"
            ]
        ]
    },
    {
        "id": "52461e701f11a432",
        "type": "ui-template",
        "z": "3cc8dfb3b3e5d35c",
        "group": "grp1",
        "page": "",
        "ui": "",
        "name": "Éditeur Valeurs (instances)",
        "order": 16,
        "width": 12,
        "height": "auto",
        "format": "<template>\n  <div v-if=\"msg && msg.topic==='openEditor' && msg.editor==='valeurs'\"\n    style=\"border:1px solid #ddd;padding:15px;background:#fff;margin-top:12px;border-radius:6px;\">\n    <h4 style=\"margin-bottom:15px;\">💾 Valeurs pour : {{propData.nomP}}</h4>\n\n    <!-- Indicateur de liste de valeurs -->\n    <div v-if=\"hasValueList\" style=\"margin-bottom:15px;padding:8px;background:#e3f2fd;border-radius:4px;\">\n      <small>📝 Utilise une liste de valeurs prédéfinies</small>\n    </div>\n\n    <!-- Valeur par défaut (*) -->\n    <div style=\"margin-bottom:20px;border:1px solid #e0e0e0;padding:12px;border-radius:4px;background:#f8f9fa;\">\n      <h5 style=\"margin-bottom:10px;\">⭐ Valeur par défaut (*)</h5>\n\n      <div v-if=\"isComplex\" style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;\">\n        <div v-for=\"(ssp,i) in schema\" :key=\"i\" style=\"margin-bottom:8px;\">\n          <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;font-size:0.9em;\">\n            {{ssp.nomSsP}} ({{ssp.typeSsP}})\n          </label>\n\n          <select v-if=\"hasValueList && ssp.typeSsP==='string'\"\n                  v-model=\"local.valeurs['*'][ssp.nomSsP]\"\n                  style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:3px;font-size:13px;background:white;\">\n            <option value=\"\">-- Sélectionner --</option>\n            <option v-for=\"item in valueList\" :key=\"item.value\" :value=\"item.value\">\n              {{ item.label || item.value }}\n            </option>\n          </select>\n\n          <input v-else\n                 v-model=\"local.valeurs['*'][ssp.nomSsP]\"\n                 :type=\"ssp.typeSsP==='boolean' ? 'checkbox' : 'text'\"\n                 style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:3px;font-size:13px;\" />\n        </div>\n      </div>\n\n      <div v-else>\n        <select v-if=\"hasValueList && propData.typeP==='string'\"\n                v-model=\"local.valeurs['*']\"\n                style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;background:white;\">\n          <option value=\"\">-- Sélectionner --</option>\n          <option v-for=\"item in valueList\" :key=\"item.value\" :value=\"item.value\">\n            {{ item.label || item.value }}\n          </option>\n        </select>\n\n        <input v-else\n               v-model=\"local.valeurs['*']\"\n               :type=\"propData.typeP==='boolean' ? 'checkbox' : 'text'\"\n               style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;\" />\n      </div>\n    </div>\n\n    <!-- Valeurs par instance -->\n    <div v-for=\"inst in instances\" :key=\"inst\"\n      style=\"margin-bottom:15px;border:1px solid #e8e8e8;padding:12px;border-radius:4px;background:white;\">\n      <strong style=\"display:block;margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #eee;color:#2c3e50;\">{{inst}}</strong>\n\n      <div v-if=\"isComplex\" style=\"display:grid;grid-template-columns:1fr 1fr;gap:10px;\">\n        <div v-for=\"(ssp,i) in schema\" :key=\"i\" style=\"margin-bottom:8px;\">\n          <label style=\"display:block;font-weight:600;margin-bottom:4px;color:#333;font-size:0.9em;\">\n            {{ssp.nomSsP}} ({{ssp.typeSsP}})\n          </label>\n\n          <select v-if=\"hasValueList && ssp.typeSsP==='string'\"\n                  v-model=\"local.valeurs[inst][ssp.nomSsP]\"\n                  style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:3px;font-size:13px;background:white;\">\n            <option value=\"\">-- Sélectionner --</option>\n            <option v-for=\"item in valueList\" :key=\"item.value\" :value=\"item.value\">\n              {{ item.label || item.value }}\n            </option>\n          </select>\n\n          <input v-else\n                 v-model=\"local.valeurs[inst][ssp.nomSsP]\"\n                 :type=\"ssp.typeSsP==='boolean' ? 'checkbox' : 'text'\"\n                 style=\"width:100%;padding:6px;border:1px solid #ccc;border-radius:3px;font-size:13px;\" />\n        </div>\n      </div>\n\n      <div v-else>\n        <select v-if=\"hasValueList && propData.typeP==='string'\"\n                v-model=\"local.valeurs[inst]\"\n                style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;background:white;\">\n          <option value=\"\">-- Sélectionner --</option>\n          <option v-for=\"item in valueList\" :key=\"item.value\" :value=\"item.value\">\n            {{ item.label || item.value }}\n          </option>\n        </select>\n\n        <input v-else\n               v-model=\"local.valeurs[inst]\"\n               :type=\"propData.typeP==='boolean' ? 'checkbox' : 'text'\"\n               style=\"width:100%;padding:8px;border:1px solid #ccc;border-radius:4px;font-size:14px;\" />\n      </div>\n    </div>\n\n    <!-- Boutons d'action -->\n    <div style=\"margin-top:20px;display:flex;gap:10px;\">\n      <button @click=\"onSave\"\n              style=\"background:#2196F3;color:white;border:none;padding:10px 20px;border-radius:4px;cursor:pointer;font-weight:600;\">\n        💾 Enregistrer\n      </button>\n      <button @click=\"onCancel\"\n              style=\"background:#f0f0f0;color:#333;border:1px solid #ccc;padding:10px 20px;border-radius:4px;cursor:pointer;\">\n        ↩ Annuler\n      </button>\n    </div>\n  </div>\n</template>\n\n<script>\n  export default {\n  data(){ \n    return { \n      local: {valeurs: {}}, \n      propData: {},\n      schema: [], \n      isComplex: false, \n      instances: [], \n      hasValueList: false,\n      valueList: []\n    }; \n  },\n  mounted(){ \n    this.$watch('msg',(m)=>{ \n      if(!m) return; \n      if(m.topic==='openEditor' && m.editor==='valeurs'){\n        console.log('Éditeur Valeurs - Message reçu:', m);\n        \n        this.propData = m.prop || {};\n        this.schema = (m.prop && m.prop.schema) ? JSON.parse(JSON.stringify(m.prop.schema)) : [];\n        this.isComplex = (m.prop && (m.prop.typeP==='object' || m.prop.typeP==='array')) || false;\n        this.instances = m.instances || [];\n        \n        // Initialisation des listes de valeurs\n        this.hasValueList = !!(m.prop && m.prop.useValueList && m.prop.valueList);\n        this.valueList = (m.prop && m.prop.valueList) || [];\n        \n        console.log('Données analysées:', {\n          hasValueList: this.hasValueList,\n          valueList: this.valueList,\n          propData: this.propData,\n          isComplex: this.isComplex\n        });\n        \n        // Initialisation des valeurs\n        this.local = {valeurs: {}};\n        \n        if(this.isComplex && this.schema.length){\n          // Propriété complexe (objet/array)\n          let def = {}; \n          this.schema.forEach(s => {\n            def[s.nomSsP] = (m.prop && m.prop.valeurs && m.prop.valeurs['*'] && m.prop.valeurs['*'][s.nomSsP] !== undefined)\n              ? m.prop.valeurs['*'][s.nomSsP]\n              : null;\n          });\n          this.local.valeurs['*'] = JSON.parse(JSON.stringify(def));\n          \n          this.instances.forEach(i => { \n            let instVal = {}; \n            this.schema.forEach(s => {\n              instVal[s.nomSsP] = (m.prop && m.prop.valeurs && m.prop.valeurs[i] && m.prop.valeurs[i][s.nomSsP] !== undefined)\n                ? m.prop.valeurs[i][s.nomSsP]\n                : null;\n            }); \n            this.local.valeurs[i] = instVal; \n          });\n        } else {\n          // Propriété simple\n          this.local.valeurs['*'] = (m.prop && m.prop.valeurs && m.prop.valeurs['*'] !== undefined)\n            ? m.prop.valeurs['*']\n            : null;\n          this.instances.forEach(i => { \n            this.local.valeurs[i] = (m.prop && m.prop.valeurs && m.prop.valeurs[i] !== undefined)\n              ? m.prop.valeurs[i]\n              : null; \n          });\n        }\n        \n        console.log('Valeurs initialisées:', this.local.valeurs);\n      } \n    }, {immediate: true}); \n  },\n  methods: {\n    onSave(){ \n      this.send({\n        topic: 'saveValues',\n        prop: {\n          nomP: this.propData.nomP,\n          valeurs: this.local.valeurs\n        }\n      }); \n    },\n    onCancel(){ this.send({topic: 'cancel'}); }\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "templateScope": "local",
        "className": "",
        "x": 2520,
        "y": 2440,
        "wires": [
            [
                "1250d649e84baa3d"
            ]
        ]
    },
    {
        "id": "dc0f1b1eca510b1e",
        "type": "ui-template",
        "z": "3cc8dfb3b3e5d35c",
        "group": "grp1",
        "page": "",
        "ui": "",
        "name": "tableauProprietes (template dashboard2 , vue3)",
        "order": 18,
        "width": 12,
        "height": "auto",
        "format": "<template>\n  <div>\n    <h3>{{ msg.payload.variable.nomVarG || '' }}</h3>\n    <table style=\"width:100%;border-collapse:collapse;border:1px solid #cccccc;\">\n      <thead>\n        <tr style=\"background:#f8f9fa;\">\n          <th style=\"border:1px solid #cccccc;padding:8px;\">Nom</th>\n          <th style=\"border:1px solid #cccccc;padding:8px;\">Action</th>\n          <th style=\"border:1px solid #cccccc;padding:8px;\">Type</th>\n          <th style=\"border:1px solid #cccccc;padding:8px;\">Défaut (*)</th>\n          <th v-for=\"inst in msg.payload.instances\" :key=\"inst\" style=\"border:1px solid #cccccc;padding:8px;\">{{inst}}\n          </th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-for=\"(p,idx) in msg.payload.proprietes\" :key=\"idx\" :style=\"p._isNew ? 'background:#fff8e1':''\">\n          <td style=\"border:1px solid #dddddd;padding:6px 8px;\">{{p.nomP}}</td>\n          <td style=\"border:1px solid #dddddd;padding:6px 8px;\">\n            <button v-if=\"p._isNew\" @click=\"openBase(p)\">➕ Définir</button>\n            <template v-else>\n              <button @click=\"openBase(p)\">📝 Base</button>\n              <button @click=\"openValues(p)\">✏️ Valeurs</button>\n              <button @click=\"askDelete(p)\">🗑️</button>\n            </template>\n          </td>\n          <td style=\"border:1px solid #dddddd;padding:6px 8px;\">{{p.typeP || '-'}}</td>\n          <td style=\"border:1px solid #dddddd;padding:6px 8px;\">{{ formatVal(p.defaut) }}</td>\n          <td v-for=\"inst in msg.payload.instances\" :key=\"inst\" style=\"border:1px solid #dddddd;padding:6px 8px;\">{{\n            formatVal(p.valeurs && p.valeurs[inst]) }}</td>\n        </tr>\n      </tbody>\n    </table>\n    <div style=\"margin-top:8px;color:#333;font-size:0.95em\">{{ msg.info }}</div>\n  </div>\n</template>\n<script>\n  export default {\n  methods: {\n    formatVal(v){ return v===null||v===undefined?'null':(typeof v==='object'?JSON.stringify(v):v); },\n    openBase(prop){ this.send({action:'base',prop}); },\n    openValues(prop){ this.send({action:'valeurs',prop}); },\n    askDelete(prop){ if(confirm('Supprimer '+prop.nomP+' ?')) this.send({action:'delete',prop}); }\n  }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2580,
        "y": 2240,
        "wires": [
            [
                "9781703b10ef2ac1",
                "835fb868446137f3"
            ]
        ]
    },
    {
        "id": "835fb868446137f3",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "routerAction",
        "func": "// Dans le noeud \"routerAction\" - version corrigée\nlet action = msg.action;\nlet prop = msg.prop || {};\nlet varSelected = flow.get('varSelected');\nlet enriched = global.get('enrichedVars', 'file') || {};\nlet variable = enriched[varSelected] || {};\nlet instances = (variable.instances || []).filter(i => i !== '*');\n\nif (action) flow.set('propSelected', prop && prop.nomP ? prop.nomP : null);\n\n// CORRECTION : Récupérer la propriété COMPLÈTE depuis la variable\nlet completeProp = prop;\nif (prop.nomP && !prop._isNew) {\n    // Chercher la propriété complète dans la variable\n    let foundProp = (variable.proprietes || []).find(p => p.nomP === prop.nomP);\n    if (foundProp) {\n        completeProp = foundProp;\n    }\n}\n\n// Gestion de l'éditeur Base (nouveau ou modification)\nif (action === 'base') {\n    // Si c'est une nouvelle propriété (_isNew = true), on envoie un objet vide\n    // Sinon, on envoie la propriété complète\n    let propData = prop._isNew ? {} : completeProp;\n    \n    return [{\n        topic: 'openEditor',\n        editor: 'base',\n        prop: propData,\n        instances: instances,\n        originalName: prop._isNew ? null : prop.nomP\n    }, null, null];\n}\n// Gestion de l'éditeur Valeurs\nelse if (action === 'valeurs') {\n    return [null, {\n        topic: 'openEditor',\n        editor: 'valeurs',\n        prop: completeProp,  // ← Propriété COMPLÈTE avec useValueList et valueList\n        instances: instances,\n        originalName: prop.nomP\n    }, null];\n}\nelse if (action === 'delete') { \n    return [null, null, { topic: 'delete', prop }]; \n}\nreturn null;",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1770,
        "y": 2340,
        "wires": [
            [
                "f208ef01963db556"
            ],
            [
                "52461e701f11a432"
            ],
            [
                "1250d649e84baa3d"
            ]
        ]
    },
    {
        "id": "35b2c7d1dd5820b6",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "prepareTableauProprietes",
        "func": "// Prépare l'affichage du tableau des propriétés\nlet varSelected = flow.get('varSelected') || null;\nlet enrichedVars = global.get('enrichedVars', 'file') || {};\nlet variable = enrichedVars[varSelected] || {};\nlet propSelected = flow.get('propSelected') || null;\nlet infoAction = flow.get('infoAction') || null;\n\nconsole.log(\"prepareTableauProprietes - varSelected:\", varSelected);\n\n// Si aucune variable sélectionnée ou nouvelle variable\nif (!varSelected || varSelected === \"new\") {\n    msg.payload = {\n        proprietes: [],  // ← Tableau VIDE (pas de ligne \"NouvelleP\")\n        propSelected: null,\n        instances: [],\n        variable: { nomVarG: varSelected === \"new\" ? \"Nouvelle variable\" : \"Aucune variable sélectionnée\" }\n    };\n    msg.info = varSelected === \"new\"\n        ? \"Nouvelle variable - définissez d'abord la variable\"\n        : \"Sélectionnez une variable dans le tableau\";\n    return msg;\n}\n\n// Traitement normal pour variable existante\nif (msg.topic == \"initialisePropriete\") {\n    flow.set(\"propSelected\", null);\n}\n\nif (msg.topic == \"refresh\") {\n    flow.set(\"propSelected\", null);\n}\n\nlet proprietes = (variable.proprietes || []).map(p => ({\n    nomP: p.nomP,\n    abbrP: p.abbrP,\n    typeP: p.typeP,\n    schema: p.schema || null,\n    valeurs: p.valeurs || {},\n    defaut: (p.valeurs && p.valeurs['*'] !== undefined) ? p.valeurs['*'] : null,\n    useValueList: p.useValueList || false,\n    valueList: p.valueList || [],\n    _locked: p._locked || false\n}));\n\n// Ajouter une ligne pour nouvelle propriété UNIQUEMENT si variable existe\nif (varSelected && varSelected !== \"new\") {\n    proprietes.push({\n        nomP: 'NouvelleP',\n        abbrP: 'New',\n        typeP: null,\n        schema: null,\n        valeurs: { '*': null },\n        _isNew: true\n    });\n}\n\nmsg.payload = {\n    proprietes: proprietes,\n    propSelected: propSelected,\n    instances: (variable.instances || []).filter(i => i !== '*'),\n    variable: { nomVarG: variable.nomVarG || varSelected }\n};\n\nmsg.info = 'Variable:' + varSelected + ' - ' + infoAction + (propSelected ? propSelected : \"choisir une propriété\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 2180,
        "wires": [
            [
                "dc0f1b1eca510b1e"
            ]
        ]
    },
    {
        "id": "1250d649e84baa3d",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "SauvResultatActions (save / delete handlers)",
        "func": "// Dans le noeud \"SauvResultatActions\" - version COMPLÈTEMENT corrigée\n// gestionnaire pour saveBase, saveBaseWithSchema, saveValues, deleteProperty\nlet enriched = global.get('enrichedVars', 'file') || {};\nlet varSelected = flow.get('varSelected');\nif (!varSelected) return null;\nlet variable = enriched[varSelected] || {};\nlet infoAction = flow.get('infoAction') || \"attente choix d'une action\";\n\nswitch (msg.topic) {\n  case 'saveBase':\n  case 'saveBaseWithSchema': {\n    flow.set(\"infoAction\", \"Modification de la propriété : \");\n    let p = msg.prop;\n\n    // Pour une NOUVELLE propriété, initialiser les valeurs\n    let initialValeurs = {};\n    if (variable.instances && variable.instances.length > 0) {\n      variable.instances.forEach(inst => {\n        initialValeurs[inst] = null;\n      });\n    }\n\n    // CORRECTION : S'assurer que toutes les propriétés sont sauvegardées\n    let propToSave = {\n      nomP: p.nomP,\n      abbrP: p.abbrP,\n      typeP: p.typeP,\n      useValueList: !!p.useValueList,  // ← S'assurer que c'est un booléen\n      valueList: Array.isArray(p.valueList) ? p.valueList : [],  // ← S'assurer que c'est un tableau\n      valeurs: initialValeurs  // ← Initialiser les valeurs\n    };\n\n    // Ajouter le schéma si présent\n    if (p.schema) {\n      propToSave.schema = p.schema;\n      propToSave._locked = true;\n    }\n\n    let idx = (variable.proprietes || []).findIndex(pr => pr.nomP === msg.originalName);\n    if (idx >= 0) {\n      variable.proprietes[idx] = propToSave;\n    } else {\n      (variable.proprietes = variable.proprietes || []).push(propToSave);\n    }\n    break;\n  }\n  case 'saveValues': {\n    flow.set('infoAction', 'Modification des valeurs de :');\n    let pName = msg.prop.nomP;\n    let pIdx = (variable.proprietes || []).findIndex(pr => pr.nomP === pName);\n    if (pIdx >= 0) {\n      variable.proprietes[pIdx].valeurs = msg.prop.valeurs;\n    }\n    break;\n  }\n  case 'delete': {\n    flow.set('infoAction', 'Suppression de la propriété : ');\n    let pName = msg.prop.nomP;\n    variable.proprietes = (variable.proprietes || []).filter(pr => pr.nomP !== pName);\n    break;\n  }\n}\n\n// ✅ CORRIGÉ : protection contre l'écriture vide\nif (!enriched || Object.keys(enriched).length === 0) {\n    node.warn(\"⚠️ SauvResultatActions : enrichedVars vide, écriture annulée\");\n    msg.info = \"❌ Sauvegarde annulée : données vides détectées\";\n    return msg;\n}\n\nglobal.set('enrichedVars', enriched, 'file');\n\nmsg.topic = 'refresh';\nmsg.view = 'tableau';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2990,
        "y": 2560,
        "wires": [
            [
                "35b2c7d1dd5820b6"
            ]
        ]
    },
    {
        "id": "2a5997eb1a50e740",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "gestionSelectAutomatique",
        "func": "// Noeud \"Gestion Sélection Automatique\" - VERSION CORRIGÉE\nlet varSelected = msg.payload;\n\nconsole.log(\"Gestion Sélection Automatique - varSelected:\", varSelected);\n\nif (varSelected && varSelected !== \"new\") {\n    // Variable existante sélectionnée\n    flow.set('varSelected', varSelected);\n    console.log(\"Variable sélectionnée automatiquement:\", varSelected);\n    \n    // Préparer les messages pour les deux composants\n    let formMsg = {\n        topic: \"refresh\",\n        payload: varSelected,\n        info: `✅ Vous êtes sur la variable : ${varSelected}`\n    };\n    \n    let tableauMsg = {\n        topic: 'refresh',\n        view: 'tableau',\n        payload: varSelected\n    };\n    \n    return [formMsg, tableauMsg];\n    \n} else if (varSelected === \"new\") {\n    // Nouvelle variable\n    flow.set('varSelected', \"new\");\n    \n    // Préparer les messages pour les deux composants\n    let formMsg = {\n        topic: \"newVarG\",\n        info: \"➕ Création d'une nouvelle variable.\",\n        payload: {\n            nomVarG: \"\",\n            abbrVarG: \"\",\n            instances: \"*\",\n            descriptionVarG: \"- Objectif(s): - Origine: - Autres : \",\n            dateUpdateVarG: new Date().toISOString()\n        }\n    };\n    \n    let tableauMsg = {\n        topic: 'refresh',\n        view: 'tableau',\n        payload: \"new\"\n    };\n    \n    return [formMsg, tableauMsg];\n    \n} else {\n    // Aucune sélection\n    return [null, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2070,
        "y": 1440,
        "wires": [
            [
                "05e055182859a2af"
            ],
            [
                "35b2c7d1dd5820b6"
            ]
        ]
    },
    {
        "id": "0c708e7b1bd12393",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "initialisePage",
        "func": "// Noeud \"Initialisation Page\"\n// S'exécute au chargement de la page pour reset l'état\n\n// Reset les sélections au chargement\nflow.set('varSelected', null);\nflow.set('propSelected', null);\nflow.set('infoAction', \"Sélectionnez une variable\");\n\n// Préparer un tableau vide\nmsg.payload = {\n    proprietes: [{\n        nomP: 'NouvelleP',\n        abbrP: 'New',\n        typeP: null,\n        schema: null,\n        valeurs: { '*': null },\n        _isNew: true\n    }],\n    propSelected: null,\n    instances: [],\n    variable: { nomVarG: \"Aucune variable sélectionnée\" }\n};\nmsg.info = \"Sélectionnez une variable dans le tableau\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "35b2c7d1dd5820b6"
            ]
        ]
    },
    {
        "id": "3f513dbb19e1ec01",
        "type": "inject",
        "z": "3cc8dfb3b3e5d35c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1430,
        "y": 1600,
        "wires": [
            [
                "4c2dec7ee4b737f1"
            ]
        ]
    },
    {
        "id": "4c2dec7ee4b737f1",
        "type": "function",
        "z": "3cc8dfb3b3e5d35c",
        "name": "function 2",
        "func": "// Voir ce qui existe dans le stockage fichier\nlet fileData = global.get(\"enrichedVars\", \"file\");\nnode.warn(\"Données dans le fichier: \" + JSON.stringify(fileData));\n\n// Voir tous les keys disponibles (si supporté)\ntry {\n    let keys = global.keys(\"file\");\n    node.warn(\"Clés disponibles dans le fichier: \" + JSON.stringify(keys));\n} catch(e) {\n    node.warn(\"keys() non supporté: \" + e.message);\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1580,
        "wires": [
            [
                "fea0b7a5d7639f63"
            ]
        ]
    },
    {
        "id": "fea0b7a5d7639f63",
        "type": "debug",
        "z": "3cc8dfb3b3e5d35c",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 1580,
        "wires": []
    },
    {
        "id": "group-vars",
        "type": "ui-group",
        "name": "Variable selectionnée",
        "page": "page-1",
        "width": 6,
        "height": 4,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "930a8a5e70986346",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ac208ef77b5e8aea",
        "type": "ui-group",
        "name": "Accueil-AdminVarG",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2413c080e8f28938",
        "type": "ui-group",
        "name": "GrpeTableVar",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "/* Bordures fines pour toutes les tables */ .ui-table {     border: 1px solid #e0e0e0 !important;     border-collapse: collapse !important; }  .ui-table th {     border: 1px solid #d0d0d0 !important;     background-color: #f8f9fa !important;     padding: 8px 12px !important;     font-weight: 600 !important; }  .ui-table td {     border: 1px solid #e8e8e8 !important;     padding: 6px 12px !important; }",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "grp1",
        "type": "ui-group",
        "name": "Grpe_Propriete",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "page-1",
        "type": "ui-page",
        "name": "P_admin-VarG",
        "ui": "930a8a5e70986346",
        "path": "/admin_varG",
        "icon": "dashboard",
        "layout": "notebook",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1050ebb74976e9e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "10px"
        }
    }
]