FUTUR-DOC/I - Archive/Archive-SynthèseRZNov2025/divers/ui-VarG11sepV2.json
[
    {
        "id": "99cb7e3a13bcfea9",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "initialisationVarGV4",
        "label": "Initialiser",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "initVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "3067b101e57c3c54"
            ]
        ]
    },
    {
        "id": "4daa4c028ab11d10",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "synchroV4",
        "label": "Synchroniser",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "`refresh`",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "actuEtSauvVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 600,
        "y": 520,
        "wires": [
            [
                "190c3a6de43291e2"
            ]
        ]
    },
    {
        "id": "ed8802fd3286c28f",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "gestion-VarG",
        "links": [
            "16644df1dfd047f1"
        ],
        "x": 205,
        "y": 260,
        "wires": [
            [
                "0978fb7503c67d99",
                "4daa4c028ab11d10",
                "99cb7e3a13bcfea9",
                "4ef989cc05f4298f",
                "4ca410851c12c5d5",
                "8d555467d1468198",
                "b6e0301c268b65ee"
            ]
        ]
    },
    {
        "id": "190c3a6de43291e2",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "synchronisation",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// Supprimer enrichedVars du stockage par défaut\nglobal.set(\"enrichedVars\", undefined, storeDefault);\n\n// Récupération des variables globales du stockage par défaut\nconst allKeys = global.keys(storeDefault) || [];\nlet globalVars = {};\nallKeys.forEach(key => {\n    if (key !== \"enrichedVars\") {\n        const val = global.get(key, storeDefault);\n        globalVars[key] = (typeof val === \"object\") ? JSON.parse(JSON.stringify(val)) : val;\n    }\n});\n\n// Chargement de enrichedVars depuis le stockage fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile (string => typed)\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);\n    }\n}\n\n// 🔄 Conversion utile (typed => string ou JSON)\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// 🧠 Traitement des variables globales existantes\nObject.keys(globalVars).forEach(key => {\n    const val = globalVars[key];\n    const type = typeof val;\n    if (enrichedVars[key] && enrichedVars[key].instances && enrichedVars[key].proprietesByInstance) {\n        const { instances, proprietesByInstance } = enrichedVars[key];\n        const { proprietes } = proprietesByInstance;\n\n        // Initialiser les schémas pour les objets\n        proprietes.forEach(p => {\n            if (p.type === \"object\" && !p.schema) {\n                p.schema = {};\n            }\n        });\n\n        instances.forEach(instance => {\n            if (!proprietesByInstance.valeurs) proprietesByInstance.valeurs = {};\n            if (!proprietesByInstance.valeurs[instance]) proprietesByInstance.valeurs[instance] = {};\n            proprietes.forEach(prop => {\n                const propName = prop.nom;\n                const propType = prop.type;\n                const sourceValue = val?.[instance]?.[propName];\n                if (sourceValue !== undefined) {\n                    proprietesByInstance.valeurs[instance][propName] = convertFromString(sourceValue, propType);\n                } else {\n                    proprietesByInstance.valeurs[instance][propName] = defaultForType(propType);\n                }\n            });\n            // Gérer les abbrProprietes\n            if (val._abbrProprietes) {\n                proprietes.forEach(prop => {\n                    if (val._abbrProprietes[prop.nom]) prop.abbr = val._abbrProprietes[prop.nom];\n                });\n            }\n        });\n\n        // Gérer abbrVarG et indexInstances\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    } else {\n        // Variable simple (pas d’instance)\n        if (!enrichedVars[key]) {\n            enrichedVars[key] = {\n                nomVarG: key,\n                typeVarG: type,\n                instances: [\"*\"],\n                descriptionVarG: \"\",\n                dateUpdateVarG: new Date().toISOString(),\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertFromString(val, type)\n                        }\n                    }\n                }\n            };\n        } else {\n            // Met à jour valeur simple\n            enrichedVars[key].proprietesByInstance.valeurs = {\n                \"*\": {\n                    \"*\": convertFromString(val, type)\n                }\n            };\n        }\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    }\n});\n\n// 🧠 Variables manquantes à restaurer dans default\nObject.keys(enrichedVars).forEach(key => {\n    if (!globalVars.hasOwnProperty(key)) {\n        const e = enrichedVars[key];\n        const instances = e.instances || [];\n        const props = e.proprietesByInstance?.proprietes || [];\n        const valeurs = e.proprietesByInstance?.valeurs || {};\n        let result = {};\n        instances.forEach(instance => {\n            result[instance] = {};\n            props.forEach(prop => {\n                const name = prop.nom;\n                const type = prop.type;\n                const value = valeurs?.[instance]?.[name];\n                result[instance][name] = convertFromString(value, type);\n            });\n            // Restaurer abbrProprietes côté mémoire\n            if (props.some(p => p.abbr)) {\n                result[instance]._abbrProprietes = {};\n                props.forEach(p => {\n                    if (p.abbr) result[instance]._abbrProprietes[p.nom] = p.abbr;\n                });\n            }\n        });\n        // Restaurer abbrVarG et indexInstances côté mémoire\n        if (e.abbrVarG) result._abbrVarG = e.abbrVarG;\n        if (e.indexInstances) result._indexInstances = e.indexInstances;\n        // S’il n’y a qu’une instance \"*\", on peut aplatir\n        if (instances.length === 1 && instances[0] === \"*\") {\n            global.set(key, result[\"*\"], storeDefault);\n        } else {\n            global.set(key, result, storeDefault);\n        }\n    }\n});\n\n// 💾 Enregistrer enrichedVars corrigé\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Synchronisation enrichedVars complète terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 520,
        "wires": [
            [
                "82616735d3556ed1",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "// Ce nœud synchronise les variables globales avec enrichedVars.\r\n// Il met à jour enrichedVars avec les variables globales actuelles\r\n// et s'assure que chaque variable suit la nouvelle structure définie.\r\n// Les variables sont stockées dans deux types de stockage : \"default\" et \"file\".\r\n// Les variables sont structurées avec des propriétés comme nomVarG, typeVarG, instances, detailEtat, etc.\r\n// La fonction gère également la restauration des variables globales manquantes depuis enrichedVars.\r\n// Elle prend en compte les instances et les sous-variables pour une synchronisation cohérente."
    },
    {
        "id": "3067b101e57c3c54",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "initialisation depuis enrichedVars",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// Stores utilisés\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// 1️⃣ - Nettoyer toutes les variables du store \"default\"\n(global.keys(storeDefault) || []).forEach(k => {\n    global.set(k, undefined, storeDefault);\n});\n\n// 2️⃣ - Récupérer enrichedVars depuis le fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\nnode.warn(\"Données chargées depuis le fichier : \" + JSON.stringify(enrichedVars));\n\n// 3️⃣ - Conversion : string → typé\nfunction convertFromString(value, type, defaultVal) {\n    if (value === null || value === undefined) {\n        if (defaultVal !== undefined) {\n            return defaultVal;\n        }\n        return defaultForType(type);\n    }\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        if (defaultVal !== undefined) {\n            return defaultVal;\n        }\n        return defaultForType(type);  // Valeur par défaut en cas d'erreur\n    }\n}\n\n// 4️⃣ - Restaurer toutes les variables dans le store \"default\"\nObject.entries(enrichedVars).forEach(([key, e]) => {\n    const instances = e.instances || [\"*\"];\n    const props = e.proprietesByInstance?.proprietes || [];\n    const valeurs = e.proprietesByInstance?.valeurs || {};\n    let variable = {};\n\n    // Initialiser les valeurs par défaut pour les propriétés\n    props.forEach(p => {\n        if (p.type === \"object\" && !p.defaultVal) {\n            p.defaultVal = {};\n        }\n    });\n\n    // Remplissage des instances\n    instances.forEach(instance => {\n        variable[instance] = {};\n        props.forEach(prop => {\n            const name = prop.nom;\n            const type = prop.type;\n            const rawValue = valeurs?.[instance]?.[name];\n            const defaultVal = prop.defaultVal;\n\n            // Gestion des valeurs par défaut pour les objets\n            if (type === \"object\" && defaultVal) {\n                if (rawValue === undefined) {\n                    variable[instance][name] = JSON.parse(JSON.stringify(defaultVal));\n                } else {\n                    variable[instance][name] = convertFromString(rawValue, type, defaultVal);\n                }\n            } else {\n                variable[instance][name] = convertFromString(rawValue, type, defaultVal?.default);\n            }\n\n            if (prop.abbr) {\n                if (!variable._abbrProprietes) variable._abbrProprietes = {};\n                variable._abbrProprietes[name] = prop.abbr;\n            }\n        });\n    });\n\n    // Ajout des métadonnées globales\n    if (e.abbrVarG) variable._abbrVarG = e.abbrVarG;\n    if (e.indexInstances) variable._indexInstances = e.indexInstances;\n\n    // Sauvegarde dans memoryOnly\n    if (instances.length === 1 && instances[0] === \"*\") {\n        global.set(key, variable[\"*\"], storeDefault);\n    } else {\n        global.set(key, variable, storeDefault);\n    }\n});\n\n// 5️⃣ - Fin\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Initialisation enrichie depuis enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "88e8b278b6dd71f8",
                "2dceb7f5b60430b7",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "b038870d9710cd7e",
        "type": "ui-control",
        "z": "61d8f8019f224437",
        "name": "afficheUiVarG",
        "ui": "930a8a5e70986346",
        "events": "all",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7716c497edc36604",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "order": 7,
        "width": "4",
        "height": "1",
        "name": "Info-GestionV4",
        "label": "Info : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "x": 1980,
        "y": 360,
        "wires": []
    },
    {
        "id": "0978fb7503c67d99",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "info",
                "pt": "msg",
                "to": "Les vars globales sont stockées dans enrichedVars dans un fichier et dans defaut (mémoire vive) après synchronisation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "introAdmin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "0c3bd13bbe17df4b"
            ]
        ]
    },
    {
        "id": "94830ea6ccd60644",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 360,
        "wires": [
            [
                "7716c497edc36604",
                "e20605b372c0414d"
            ]
        ]
    },
    {
        "id": "0c3bd13bbe17df4b",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out msg Info",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1125,
        "y": 260,
        "wires": []
    },
    {
        "id": "c0c9a5d567223063",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "link in msg Info",
        "links": [
            "0c3bd13bbe17df4b",
            "88e8b278b6dd71f8",
            "82616735d3556ed1",
            "40d3af83aa60d68f",
            "1042d5f8975bf72c",
            "92dd8dae04877424"
        ],
        "x": 1305,
        "y": 360,
        "wires": [
            [
                "94830ea6ccd60644"
            ]
        ]
    },
    {
        "id": "4ef989cc05f4298f",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "RetourV4",
        "label": "Retour  ",
        "order": 5,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tab\":\"P_Admin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "grey",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "b038870d9710cd7e",
                "29a9c62c3fce5a67"
            ]
        ]
    },
    {
        "id": "88e8b278b6dd71f8",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link info",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1125,
        "y": 380,
        "wires": []
    },
    {
        "id": "82616735d3556ed1",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1135,
        "y": 500,
        "wires": []
    },
    {
        "id": "4ca410851c12c5d5",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "sauvVarGdepuisDefautV4",
        "label": "Sauvegarder",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "initVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "0759dc296af2c0c0"
            ]
        ]
    },
    {
        "id": "0759dc296af2c0c0",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "sauvVarGdsFile",
        "func": "// 🔄 Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\nconst allKeys = global.keys(storeDefault) || [];\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile : typé → string/JSON\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            case \"boolean\":\n                return value ? \"true\" : \"false\";\n            case \"date\":\n                return new Date(value).toISOString();\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// ⏺️ Export des variables en enrichedVars\nallKeys.forEach(key => {\n    if (key === \"enrichedVars\") return;\n    const val = global.get(key, storeDefault);\n    const type = typeof val;\n\n    // Cas des objets avec instances\n    if (type === \"object\" && val && !Array.isArray(val)) {\n        const instances = Object.keys(val);\n        if (instances.length === 0) return;\n\n        const firstInstance = val[instances[0]];\n        if (typeof firstInstance === \"object\") {\n            const props = Object.keys(firstInstance);\n            const propDefs = props.map(p => {\n                const v = firstInstance[p];\n                const t = Array.isArray(v) ? \"array\" : typeof v;\n                const prop = { nom: p, type: t };\n                if (t === \"object\") prop.schema = {};  // Initialisation du schéma\n                return prop;\n            });\n\n            let valeurs = {};\n            instances.forEach(inst => {\n                valeurs[inst] = {};\n                propDefs.forEach(({ nom, type }) => {\n                    const v = val[inst]?.[nom];\n                    valeurs[inst][nom] = (type === \"object\" || type === \"array\")\n                        ? JSON.stringify(v)\n                        : convertToString(v, type);\n                });\n            });\n\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances,\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: instances.map((_, idx) => String(idx)).join(\",\"),\n                proprietesByInstance: {\n                    proprietes: propDefs,\n                    valeurs,\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        } else {\n            // Cas simple\n            enrichedVars[key] = {\n                nomVarG: key,\n                abbrVarG: val._abbrVarG || \"\",\n                typeVarG: \"object\",\n                instances: [\"*\"],\n                descriptionVarG: \"Auto-export\",\n                dateUpdateVarG: new Date().toISOString(),\n                indexInstances: \"0\",\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertToString(val, type)\n                        }\n                    },\n                    abbrProprietes: val._abbrProprietes || {}\n                }\n            };\n        }\n    } else {\n        // Cas simple (non objet ou tableau)\n        enrichedVars[key] = {\n            nomVarG: key,\n            abbrVarG: val._abbrVarG || \"\",\n            typeVarG: type,\n            instances: [\"*\"],\n            descriptionVarG: \"Auto-export\",\n            dateUpdateVarG: new Date().toISOString(),\n            indexInstances: \"0\",\n            proprietesByInstance: {\n                proprietes: [{ nom: \"*\", type }],\n                valeurs: {\n                    \"*\": {\n                        \"*\": convertToString(val, type)\n                    }\n                },\n                abbrProprietes: val._abbrProprietes || {}\n            }\n        };\n    }\n});\n\n// 💾 Sauvegarde dans storeFile\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"💾 Sauvegarde vers enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "40d3af83aa60d68f"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "40d3af83aa60d68f",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1135,
        "y": 440,
        "wires": []
    },
    {
        "id": "9837eeae36ab98c7",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Prépare tableau enrichedVars",
        "func": "\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nconsole.log(\"Données chargées depuis global.json :\", enrichedVars);\n\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\n\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // Ignore les entrées invalides\n\n    let props = [];\n    let proprieteResume = \"(Aucune propriété définie)\";\n\n    // Vérifie si la structure contient `proprietes` ou `proprietesByInstance`\n    if (e.proprietes) {\n        props = e.proprietes;\n        proprieteResume = props.length > 0\n            ? props.map(p => `${p.nom} (${p.type})`).join(\", \")\n            : \"(Aucune propriété définie)\";\n    } else if (e.proprietesByInstance && e.proprietesByInstance.proprietes) {\n        props = e.proprietesByInstance.proprietes;\n        proprieteResume = props.length > 0\n            ? props.map(p => `${p.nom} (${p.type})`).join(\", \")\n            : \"(Aucune propriété définie)\";\n    }\n\n    const instances = e.instances || [\"*\"];\n\n    tableauPourUI.push({\n        nomVarG,\n        typeVarG: e.typeVarG || \"object\",\n        abbrVarG: e.abbrVarG || \"\",\n        instances: instances.join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 520,
        "wires": [
            [
                "8f78766bfeda5b43",
                "61d78a75a15eb150"
            ]
        ]
    },
    {
        "id": "8f78766bfeda5b43",
        "type": "ui-table",
        "z": "61d8f8019f224437",
        "group": "2413c080e8f28938",
        "name": "Table enrichedVarsV4",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nom",
                "key": "nomVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Type",
                "key": "typeVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Instances",
                "key": "instances",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Propriétés",
                "key": "proprietes",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Description",
                "key": "description",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Détails",
                "key": "action",
                "keyType": "key",
                "type": "button",
                "width": ""
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "01e77fa6dfd28e78"
            ]
        ]
    },
    {
        "id": "01e77fa6dfd28e78",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "RecupVarSelected",
        "func": "let varSelected = null;\n\n// 1) Charger la liste des variables existantes\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet listeVars = Object.keys(enrichedVars);\n\n// 2) Cas bouton \"AjouterUneVarG\"\nif (msg.topic === \"newVarG\") {\n    varSelected = \"new\";\n    msg.topic = \"newVarG\";  // (optionnel)\n}\n// 3) Cas sélection depuis la table\nelse {\n    varSelected = msg.payload?.row?.nomVarG || msg.payload?.nomVarG || null;\n}\n\n// 4) Vérification si aucune sélection\nif (!varSelected) {\n    if (listeVars.length === 0) {\n        msg.info = \"⚠️ Aucune variable existante dans enrichedVars.\";\n    } else {\n        msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n    }\n    return msg; // on arrête ici\n}\n\n// 5) Stocker la variable sélectionnée dans le flow\nflow.set(\"varSelected\", varSelected);\n\n// 6) Construire le message d’info\nif (varSelected === \"new\") {\n    msg.info = \"➕ Création d’une nouvelle variable.\";\n} else {\n    msg.info = `✅ Vous êtes sur la variable : ${varSelected}`;\n}\n\n// 7) Retourner le résultat\nmsg.payload = varSelected;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 660,
        "wires": [
            [
                "2e07ed481887efda",
                "92dd8dae04877424",
                "60713f919559c618",
                "d41690eedf5d284b",
                "f0e1d30feeae35da",
                "cfbbfd49f307f390"
            ]
        ]
    },
    {
        "id": "60713f919559c618",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "prepareFormVarSelected",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\n\n// Cas création d’une nouvelle variable (via bouton \"AjouterUneVarG\")\nif (varSelected === \"new\") {\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: \"*\",\n        descriptionVarG: \"- Objectif(s): - Origine: - Autres : \",\n        dateUpdateVarG: new Date().toISOString()\n    };\n    msg.topic = \"newVarG\";\n}\n// Cas édition d’une variable existante sélectionnée\nelse if (varSelected && enrichedVars[varSelected]) {\n    const selected = enrichedVars[varSelected];\n    msg.payload = {\n        nomVarG: selected.nomVarG || \"\",\n        abbrVarG: selected.abbrVarG || \"\",\n        instances: selected.instances ? selected.instances.join(\", \") : \"\",\n        descriptionVarG: selected.descriptionVarG || \"\",\n        dateUpdateVarG: selected.dateUpdateVarG || new Date().toISOString()\n    };\n}\n// Cas où aucune variable n’est sélectionnée\nelse {\n    if (Object.keys(enrichedVars).length === 0) {\n        msg.info = \"⚠️ Aucune variable définie dans enrichedVars. Utilisez 'AjouterUneVarG' pour commencer.\";\n    } else {\n        msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n    }\n\n    // Payload neutre → évite le crash du formulaire\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: \"\",\n        descriptionVarG: \"\",\n        dateUpdateVarG: new Date().toISOString()\n    };\n\n    return msg; // on stoppe ici pour éviter d'aller plus loin\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 880,
        "wires": [
            [
                "6329f9a751f660fe",
                "b27b922ddbb3fc9b",
                "8be5efb479292256"
            ]
        ],
        "info": "indexInstances généré automatiquement à partir du nombre d’instances, format texte ([\"0\",\"1\",…]).\r\n\r\nabbrProprietes initialisé depuis proprietesByInstance si disponible, sinon objet vide.\r\n\r\nmsg.info est toujours renvoyé pour trace/log."
    },
    {
        "id": "6329f9a751f660fe",
        "type": "ui-form",
        "z": "61d8f8019f224437",
        "name": "Form_Var_Modif",
        "group": "group-vars",
        "label": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nom de la variable (obligatoire)",
                "key": "nomVarG",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Abrev.NomVarG (3 caractères)",
                "key": "abbrVarG",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Instances (séparées par des virgules)",
                "key": "instances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Description (3 lignes)",
                "key": "descriptionVarG",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Date mise à jour",
                "key": "dateUpdateVarG",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nomVarG": "",
            "abbrVarG": "",
            "instances": "",
            "descriptionVarG": "",
            "dateUpdateVarG": ""
        },
        "payload": "",
        "submit": "Enregistrer",
        "cancel": "Annuler",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "",
                "value": "string",
                "label": "String"
            },
            {
                "dropdown": "",
                "value": "array",
                "label": "Array"
            },
            {
                "dropdown": "",
                "value": "object",
                "label": "Object"
            },
            {
                "dropdown": "",
                "value": "number",
                "label": "Number"
            }
        ],
        "x": 790,
        "y": 880,
        "wires": [
            [
                "bbc9eff603a50f2e",
                "8864eebf54dffdf1"
            ]
        ]
    },
    {
        "id": "bbc9eff603a50f2e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Infos générales enrichedVars",
        "func": "let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Formulaire incomplet ou variable non spécifiée.\";\n    return null;\n}\n\n// Nettoyage du nom\nlet newName = formData.nomVarG.trim();\n\n// Vérif des caractères autorisés (A-Z, a-z, 0-9, _)\nif (!/^[A-Za-z0-9_]+$/.test(newName)) {\n    msg.info = `❌ Nom de variable invalide ('${newName}'). Utilise uniquement lettres, chiffres ou '_'`;\n    return null;\n}\n\nlet oldName = varSelected;\n\n// --- Cas création ---\nif (!enrichedVars[oldName]) {\n    if (enrichedVars[newName]) {\n        msg.info = `❌ Impossible de créer '${newName}', une variable existe déjà avec ce nom.`;\n        return null;\n    }\n\n    // Création de la nouvelle variable\n    enrichedVars[newName] = {\n        nomVarG: newName,\n        abbrVarG: formData.abbrVarG || \"\",\n        instances: formData.instances ? formData.instances.split(',').map(e => e.trim()) : [\"*\"],\n        descriptionVarG: formData.descriptionVarG || \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietes: []   // 👉 version simplifiée dès le départ\n    };\n\n    flow.set(\"varSelected\", newName);\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n    msg.payload = newName;\n    msg.info = `✅ Nouvelle variable créée : ${newName}`;\n    return msg;\n}\n\n// --- Cas modification ---\nlet current = enrichedVars[oldName];\n\n// Si le nom a changé\nif (oldName !== newName) {\n    if (enrichedVars[newName]) {\n        msg.info = `⚠️ '${newName}' existe déjà, impossible de renommer '${oldName}'`;\n        return null;\n    }\n\n    // Renommage → déplacer la clé\n    enrichedVars[newName] = current;\n    delete enrichedVars[oldName];\n    flow.set(\"varSelected\", newName);\n}\n\n// Mise à jour des informations\nenrichedVars[newName || oldName] = {\n    ...enrichedVars[newName || oldName],\n    nomVarG: newName,\n    abbrVarG: formData.abbrVarG || enrichedVars[newName || oldName].abbrVarG,\n    instances: formData.instances ? formData.instances.split(',').map(e => e.trim()) : enrichedVars[newName || oldName].instances,\n    descriptionVarG: formData.descriptionVarG || enrichedVars[newName || oldName].descriptionVarG,\n    dateUpdateVarG: new Date().toISOString()\n};\n\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\nmsg.payload = newName || oldName;\nmsg.info = `✅ Variable ${oldName !== newName ? `renommée de '${oldName}' en '${newName}' et ` : ''}mise à jour.`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 880,
        "wires": [
            [
                "f0e1d30feeae35da",
                "898f23bf53c478ba",
                "1042d5f8975bf72c"
            ]
        ],
        "info": "Gère création et modification.\r\n\r\nIntègre correctement les champs abbrVarG, indexInstances, abbrProprietes.\r\n\r\nGénère automatiquement les index à partir du nombre d’instances si nécessaire.\r\n\r\nConserve msg.info pour le log/tracking."
    },
    {
        "id": "87b5dcd3712b7bac",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "order": 6,
        "width": "4",
        "height": "1",
        "name": "NotificationV4",
        "label": "🛠 Paramètres - ",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "",
        "color": "#1100ff",
        "wrapText": false,
        "className": "",
        "x": 2110,
        "y": 1240,
        "wires": []
    },
    {
        "id": "80b5fac4ff99274d",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 1200,
        "wires": [
            [
                "87b5dcd3712b7bac"
            ]
        ]
    },
    {
        "id": "f0e1d30feeae35da",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "editerProprieteV4",
        "label": "🛠️ Éditer les propriétés",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1430,
        "y": 880,
        "wires": [
            [
                "66d8b0c40873677e"
            ]
        ]
    },
    {
        "id": "cb9057b4c08408fe",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "supprimer",
        "func": "if (msg.payload === \"confirm_clicked\") {\n  const varSelected = flow.get(\"varSelected\");\n  if (!varSelected) {\n    msg.info = \"⚠️ Rien à supprimer.\";\n    return msg;\n  }\n  let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n  delete enrichedVars[varSelected];\n  delete enrichedVars[\"\"];//supprime var fantome\n  global.set(\"enrichedVars\", enrichedVars, \"file\");\n  global.set(varSelected, undefined, \"default\");\n  flow.set(\"varSelected\", \"none\");\n  msg.payload = \"none\";\n  msg.info = `✅ Variable \"${varSelected}\" supprimée.`;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 720,
        "wires": [
            [
                "41624c5939f6a592"
            ]
        ]
    },
    {
        "id": "2e07ed481887efda",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "SupprimerVarV4",
        "label": "❌ Supprimer Var",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Cliquez pour supprimer la variable sélectionnée",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "demande-confirmation",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "red",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "2eb6fc9cb7ff04da"
            ]
        ]
    },
    {
        "id": "2eb6fc9cb7ff04da",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "open-dialog",
        "func": "const varSelected = flow.get(\"varSelected\") || null;\n\nif (!varSelected || varSelected === \"none\" || varSelected === \"new\") {\n    msg.info = \"⚠️ Aucune variable sélectionnée à supprimer.\";\n    return msg;\n}\n\n// Préparer un message pour ui-dialog\nmsg.payload = {\n    title: \"⚠️ Confirmation suppression\",\n    message: `Voulez-vous vraiment supprimer la variable \"${varSelected}\" ?`,\n    buttons: [\n        { label: \"❌ Annuler\", value: \"cancel\" },\n        { label: \"✅ Supprimer\", value: \"confirm\", class: \"red\" }\n    ]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 720,
        "wires": [
            [
                "cb9057b4c08408fe"
            ]
        ]
    },
    {
        "id": "15c0c58862aa5479",
        "type": "switch",
        "z": "61d8f8019f224437",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "reloadVar",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "reloadVar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1420,
        "y": 1180,
        "wires": [
            [
                "c31df8e9085018f4"
            ],
            [
                "bc106edb7545f227",
                "235d637e4517551e"
            ]
        ]
    },
    {
        "id": "c31df8e9085018f4",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "Annuler",
        "func": "//recharger l'original des propriétés et instances de la variables\nlet nomVarG=msg.payload;\nflow.set(\"varSelected\", nomVarG);\nmsg.topic=\"annuler\";\nmsg.info= \"Annulation des modifications sur les valeurs de $nomVarG\";\n// Modifications enregistrées pour ${data.nomVarG}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 1140,
        "wires": [
            [
                "80b5fac4ff99274d"
            ]
        ]
    },
    {
        "id": "a176f9f3e358f455",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "notifInModifVarSelected",
        "links": [
            "1042d5f8975bf72c",
            "41624c5939f6a592",
            "92dd8dae04877424",
            "8be5efb479292256"
        ],
        "x": 1925,
        "y": 720,
        "wires": [
            [
                "80b5fac4ff99274d"
            ]
        ]
    },
    {
        "id": "92dd8dae04877424",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "a176f9f3e358f455",
            "c0c9a5d567223063"
        ],
        "x": 1625,
        "y": 720,
        "wires": []
    },
    {
        "id": "1042d5f8975bf72c",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "a176f9f3e358f455",
            "c0c9a5d567223063"
        ],
        "x": 1265,
        "y": 740,
        "wires": []
    },
    {
        "id": "41624c5939f6a592",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1005,
        "y": 720,
        "wires": []
    },
    {
        "id": "8d555467d1468198",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "ajouterUneVarG",
        "label": "➕ New varG ",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "newVarG",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 430,
        "y": 660,
        "wires": [
            [
                "01e77fa6dfd28e78"
            ]
        ]
    },
    {
        "id": "91b31ef2ab20d373",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "TitreEntete",
        "label": "Tableau des variables - Choisir une action, ou selectionner une variable",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "b6e0301c268b65ee",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "91b31ef2ab20d373"
            ]
        ]
    },
    {
        "id": "146ccaf8d971bb6f",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Titre Var modif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "15",
        "color": "#0000ff",
        "wrapText": false,
        "className": "",
        "x": 2030,
        "y": 660,
        "wires": []
    },
    {
        "id": "6897deb55f1b160d",
        "type": "ui-template",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "page": "",
        "ui": "",
        "name": "TemplateProprietes",
        "order": 8,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n<template>\n<div v-if=\"msg && msg.payload\">\n   <div class=\"var-editor\">\n    <h3>Propriétés de : {{ nomVarG || '(nouvelle variable)' }}</h3>\n\n    <div class=\"table-wrap\">\n      <table class=\"properties-table\">\n        <thead>\n          <tr>\n            <th>Nom propriété</th>\n            <th>Abbr</th>\n            <th>Type</th>\n            <th v-for=\"inst in instances\" :key=\"'h-'+inst\" class=\"instance-col\">{{ inst }}</th>\n            <th>Actions</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr v-for=\"(prop, pidx) in proprietes\" :key=\"'prop-'+pidx\">\n            <!-- Nom / Abbr / Type -->\n            <td><input v-model=\"prop.nom\" class=\"edit-input\" /></td>\n            <td><input v-model=\"prop.abbr\" class=\"edit-input\" maxlength=\"6\" /></td>\n            <td>\n              <select v-model=\"prop.type\" class=\"type-select\" @change=\"onTypeChange(prop)\">\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n                <option value=\"date\">date</option>\n              </select>\n            </td>\n\n            <!-- Valeurs par instance -->\n            <td v-for=\"inst in instances\" :key=\"inst + '-' + pidx\" class=\"instance-col\">\n              <template v-if=\"prop.type === 'object' || prop.type === 'array'\">\n                <button class=\"btn-edit-schema small\" @click=\"openPropertyEditor(prop, inst)\">Éditer {{ prop.type }}</button>\n              </template>\n              <template v-else-if=\"prop.type === 'boolean'\">\n                <input type=\"checkbox\" v-model=\"prop.valeurs[inst]\" />\n              </template>\n              <template v-else>\n                <input :type=\"getInputType(prop.type)\" v-model=\"prop.valeurs[inst]\" class=\"edit-input\" />\n              </template>\n            </td>\n\n            <!-- Actions -->\n            <td>\n              <button class=\"btn-schema small\" @click=\"openSchemaModal(prop)\">⚙️ Éditer schéma</button>\n              <button class=\"btn-delete small\" @click=\"deleteProperty(pidx)\">🗑️</button>\n            </td>\n          </tr>\n\n          <!-- Ligne d'ajout -->\n          <tr class=\"add-row\">\n            <td><input v-model=\"newProp.nom\" placeholder=\"Nom\" class=\"edit-input\" /></td>\n            <td><input v-model=\"newProp.abbr\" placeholder=\"Abrév.\" class=\"edit-input\" maxlength=\"6\" /></td>\n            <td>\n              <select v-model=\"newProp.type\" class=\"type-select\">\n                <option value=\"\">-- type --</option>\n                <option value=\"string\">string</option>\n                <option value=\"int\">int</option>\n                <option value=\"number\">number</option>\n                <option value=\"boolean\">boolean</option>\n                <option value=\"array\">array</option>\n                <option value=\"object\">object</option>\n                <option value=\"date\">date</option>\n              </select>\n            </td>\n            <td v-for=\"inst in instances\" :key=\"'new-'+inst\"><input v-model=\"newProp.initialValues[inst]\" placeholder=\"Valeur\" class=\"edit-input\" />\n            </td>\n            <td><button class=\"btn-add small\" @click=\"addProperty\">➕ Ajouter</button></td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- Editeur JSON (pour object/array) -->\n    <div v-if=\"showPropertyEditor\" class=\"modal-inline\">\n      <h4>Éditer {{ editingProperty.nom }} (instance {{ editingInstance }})</h4>\n      <textarea v-model=\"editingPropertyValue\" class=\"object-textarea\"></textarea>\n      <div class=\"modal-actions\">\n        <button @click=\"saveEditedProperty\" class=\"btn-save\">Enregistrer</button>\n        <button @click=\"closePropertyEditor\" class=\"btn-cancel\">Fermer</button>\n      </div>\n    </div>\n\n    <!-- Editeur de schéma -->\n    <div v-if=\"showSchemaModal\" class=\"modal-inline\">\n      <h4>Éditer le schéma pour : {{ schemaEditor.nom }}</h4>\n      <div class=\"schema-fields\">\n        <div v-for=\"(f, idx) in schemaEditor.fields\" :key=\"idx\" class=\"schema-field\">\n          <input v-model=\"f.nom\" class=\"schema-input\" placeholder=\"Champ\" />\n          <select v-model=\"f.type\" class=\"schema-type\">\n            <option value=\"string\">string</option>\n            <option value=\"int\">int</option>\n            <option value=\"number\">number</option>\n            <option value=\"boolean\">boolean</option>\n            <option value=\"array\">array</option>\n            <option value=\"object\">object</option>\n            <option value=\"date\">date</option>\n          </select>\n          <input v-model=\"f.defaut\" class=\"schema-input\" placeholder=\"Défaut\" />\n          <button @click=\"removeSchemaField(idx)\" class=\"btn-del-field\">❌</button>\n        </div>\n      </div>\n      <div class=\"schema-actions\">\n        <input v-model=\"newSchemaField.nom\" placeholder=\"Nouveau champ\" class=\"schema-input\" />\n        <select v-model=\"newSchemaField.type\" class=\"schema-type\">\n          <option value=\"string\">string</option>\n          <option value=\"int\">int</option>\n          <option value=\"number\">number</option>\n          <option value=\"boolean\">boolean</option>\n          <option value=\"array\">array</option>\n          <option value=\"object\">object</option>\n          <option value=\"date\">date</option>\n        </select>\n        <input v-model=\"newSchemaField.defaut\" placeholder=\"Défaut\" class=\"schema-input\" />\n        <button @click=\"addSchemaField\" class=\"btn-add-field\">➕ Ajouter</button>\n      </div>\n      <div class=\"modal-actions\">\n        <button @click=\"saveSchema\" class=\"btn-save\">Enregistrer</button>\n        <button @click=\"cancelSchema\" class=\"btn-cancel\">Annuler</button>\n      </div>\n    </div>\n\n    <!-- Gestion des instances -->\n    <div class=\"instances-box\">\n      <h4>Gestion des instances</h4>\n      <div class=\"instance-controls\">\n        <input v-model=\"newInstanceName\" placeholder=\"Nouvelle instance\" class=\"instance-input\" />\n        <button @click=\"addInstance\" class=\"btn-add\">➕ Ajouter</button>\n        <button v-if=\"instances.length>0\" @click=\"confirmDeleteInstance\" class=\"btn-del\">🗑️ Suppr. dernière</button>\n      </div>\n    </div>\n\n    <!-- Enregistrer / Annuler -->\n    <div class=\"action-buttons\">\n      <button @click=\"saveAllChanges\" class=\"btn-save-big\">💾 Enregistrer</button>\n      <button @click=\"resetChanges\" class=\"btn-cancel-big\">🔁 Annuler</button>\n    </div>\n  </div>\n</div>\n<div v-else>\n  <p v-if=\"msg && msg.info\" style=\"color:red; font-weight:bold;\">\n    ⚠️ {{ msg.info }}\n  </p>\n  <p v-else style=\"color:red; font-weight:bold;\">\n    ⚠️ Aucune variable sélectionnée ou disponible\n  </p>\n</div>\n</template>\n\n\n<script>\n  export default {\n  data() {\n    return {\n      nomVarG: \"\",\n      abbrVarG: \"\",\n      instances: [],\n      proprietes: [],\n      descriptionVarG: \"\",\n      dateUpdateVarG: \"\",\n      // pour la ligne ajout\n      newProp: { nom: \"\", abbr: \"\", type: \"\", initialValues: {} },\n      // property editor (object/array)\n      showPropertyEditor: false,\n      editingProperty: null,\n      editingInstance: null,\n      editingPropertyValue: \"\",\n      // schema editor\n      showSchemaModal: false,\n      schemaEditor: { ref: null, nom: \"\", fields: [] },\n      newSchemaField: { nom: \"\", type: \"int\", defaut: \"\" },\n      // instances\n      newInstanceName: \"\"\n    };\n  },\n  methods: {\n    getInputType(type) {\n      if (type === \"boolean\") return \"checkbox\";\n      if (type === \"int\" || type === \"number\") return \"number\";\n      return \"text\";\n    },\n    defaultForType(type) {\n      switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0,10);\n        default: return \"\";\n      }\n    },\n\n    // ajout d'une propriété depuis la ligne \"add\"\n    addProperty() {\n      if (!this.newProp.nom || !this.newProp.type) {\n        alert(\"Nom et type obligatoires\");\n        return;\n      }\n      const p = {\n        nom: this.newProp.nom,\n        abbr: this.newProp.abbr || \"\",\n        type: this.newProp.type,\n        schema: (this.newProp.type === \"object\" || this.newProp.type === \"array\") ? {} : null,\n        valeurs: {}\n      };\n        // 🔧 Correction ici → remplir pour toutes les instances existantes\n        this.instances.forEach(i => {\n        let v = this.newProp.initialValues?.[i];\n        if (v === undefined || v === \"\") {\n        v = this.defaultForType(p.type);\n        }\n        this.$set(p.valeurs, i, v);\n        });\n        \n        this.proprietes.push(p);\n        \n        // reset ligne d’ajout\n        this.newProp = { nom: \"\", abbr: \"\", type: \"\", initialValues: {} };\n        this.instances.forEach(i => { this.$set(this.newProp.initialValues, i, \"\"); });\n    },\n\n    deleteProperty(idx) {\n      if (!confirm(\"Supprimer cette propriété ?\")) return;\n      this.proprietes.splice(idx, 1);\n    },\n\n    // Éditeur JSON pour object/array\n    openPropertyEditor(prop, instance) {\n      this.editingProperty = prop;\n      this.editingInstance = instance;\n      let current = prop.valeurs?.[instance];\n      try {\n        // si c'est un string qui contient JSON, l'afficher JSON formaté\n        if (typeof current === \"string\") {\n          this.editingPropertyValue = JSON.stringify(JSON.parse(current), null, 2);\n        } else {\n          this.editingPropertyValue = JSON.stringify(current, null, 2);\n        }\n      } catch (e) {\n        // si parse échoue, afficher tel quel\n        this.editingPropertyValue = typeof current === \"string\" ? current : JSON.stringify(current, null, 2);\n      }\n      this.showPropertyEditor = true;\n    },\n\n    saveEditedProperty() {\n      try {\n        const parsed = JSON.parse(this.editingPropertyValue);\n        this.$set(this.editingProperty.valeurs, this.editingInstance, parsed);\n        this.closePropertyEditor();\n      } catch (e) {\n        alert(\"JSON invalide : \" + e.message);\n      }\n    },\n    closePropertyEditor() {\n      this.showPropertyEditor = false;\n      this.editingProperty = null;\n      this.editingInstance = null;\n      this.editingPropertyValue = \"\";\n    },\n\n    // Schéma\n    openSchemaModal(prop) {\n      this.schemaEditor.ref = prop;\n      this.schemaEditor.nom = prop.nom;\n      // convertir schema object -> array fields pour edition\n      const fields = [];\n      if (prop.schema && typeof prop.schema === \"object\") {\n        Object.entries(prop.schema).forEach(([k, v]) => {\n          fields.push({ nom: k, type: (v.type || \"string\"), defaut: (v.defaut !== undefined ? v.defaut : \"\") });\n        });\n      }\n      this.schemaEditor.fields = fields;\n      this.showSchemaModal = true;\n    },\n    addSchemaField() {\n      if (!this.newSchemaField.nom) return;\n      this.schemaEditor.fields.push({ nom: this.newSchemaField.nom, type: this.newSchemaField.type, defaut: this.newSchemaField.defaut });\n      this.newSchemaField = { nom: \"\", type: \"int\", defaut: \"\" };\n    },\n    removeSchemaField(idx) {\n      this.schemaEditor.fields.splice(idx, 1);\n    },\n    saveSchema() {\n      const schemaObj = {};\n      this.schemaEditor.fields.forEach(f => {\n        schemaObj[f.nom] = { type: f.type, defaut: f.defaut };\n      });\n      this.schemaEditor.ref.schema = schemaObj;\n      this.showSchemaModal = false;\n      this.schemaEditor = { ref: null, nom: \"\", fields: [] };\n    },\n    cancelSchema() {\n      this.showSchemaModal = false;\n      this.schemaEditor = { ref: null, nom: \"\", fields: [] };\n    },\n\n    // Instances\n    addInstance() {\n      let name = this.newInstanceName && this.newInstanceName.trim() ? this.newInstanceName.trim() : (\"ARG\" + this.instances.length);\n      if (!name) return;\n      if (this.instances.includes(name)) { alert(\"Instance existe déjà\"); this.newInstanceName = \"\"; return; }\n      this.instances.push(name);\n      // initialiser les valeurs pour chaque propriété\n      this.proprietes.forEach(p => {\n        this.$set(p.valeurs, name, this.defaultForType(p.type));\n      });\n      this.newInstanceName = \"\";\n    },\n    confirmDeleteInstance() {\n      if (this.instances.length === 0) return;\n      const last = this.instances[this.instances.length - 1];\n      if (!confirm(`Supprimer l'instance ${last} ?`)) return;\n      this.instances.pop();\n      this.proprietes.forEach(p => {\n        this.$delete(p.valeurs, last);\n      });\n    },\n\n    // lorsqu'on change le type d'une propriété\n    onTypeChange(prop) {\n      if ((prop.type === \"object\" || prop.type === \"array\") && !prop.schema) {\n        this.$set(prop, \"schema\", {});\n      }\n      // normaliser valeurs existantes selon nouveau type (optionnel)\n      this.instances.forEach(inst => {\n        if (prop.valeurs[inst] === undefined || prop.valeurs[inst] === null || prop.valeurs[inst] === \"\") {\n          this.$set(prop.valeurs, inst, this.defaultForType(prop.type));\n        }\n      });\n    },\n\n    // Sérialisation cohérente avant envoi (même règle que SaveEnrichedVars)\n    serializeValue(value, type) {\n      try {\n        switch (type) {\n          case \"object\":\n          case \"array\":\n            return JSON.stringify(value);\n          case \"boolean\":\n            return (value === true || value === \"true\") ? \"true\" : \"false\";\n          case \"int\":\n            return String(parseInt(value || 0, 10));\n          case \"number\":\n            return String(parseFloat(value || 0));\n          case \"date\":\n            return new Date(value).toISOString();\n          case \"string\":\n          default:\n            return String(value ?? \"\");\n        }\n      } catch (e) {\n        // fallback\n        return String(value ?? \"\");\n      }\n    },\n\n    // Sauvegarder -> envoie msg.topic = \"saveChanges\"\n    saveAllChanges() {\n      // construire proprietes sérialisées\n      const serialisedProps = this.proprietes.map(p => {\n        const vals = {};\n        this.instances.forEach(inst => {\n          vals[inst] = this.serializeValue(p.valeurs[inst], p.type);\n        });\n        return {\n          nom: p.nom,\n          abbr: p.abbr,\n          type: p.type,\n          schema: p.schema,\n          valeurs: vals\n        };\n      });\n\n      const enrichedVar = {\n        nomVarG: this.nomVarG,\n        abbrVarG: this.abbrVarG,\n        instances: this.instances,\n        descriptionVarG: this.descriptionVarG,\n        dateUpdateVarG: new Date().toISOString(),\n        proprietes: serialisedProps\n      };\n\n      // envoi à Node-RED\n      this.send({ topic: \"saveChanges\", payload: enrichedVar });\n    },\n\n    resetChanges() {\n      // recharger via msg (trigger un reload depuis flow)\n      this.send({ topic: \"reloadVar\", payload: this.nomVarG });\n    }\n  },\n\n  watch: {\n    // déclenché quand msg arrive dans template\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (newMsg && newMsg.topic === \"newVarG\") {\n            // Cas création d’une nouvelle variable\n            this.nomVarG = \"\";\n            this.abbrVarG = \"\";\n            this.instances = [\"*\"];\n            this.descriptionVarG = \"- Objectif(s): - Origine: - Autres : \";\n            this.dateUpdateVarG = new Date().toISOString();\n            this.proprietes = [];\n            this.newProp = { nom: \"\", abbr: \"\", type: \"\", initialValues: { \"*\": \"\" } };\n            return;\n          }\n\n        if (!newMsg || !newMsg.payload) return;\n        const data = newMsg.payload;\n        this.nomVarG = data.nomVarG || \"\";\n        this.abbrVarG = data.abbrVarG || \"\";\n        this.instances = Array.isArray(data.instances) && data.instances.length>0 ? data.instances.slice() : [\"*\"];\n        this.descriptionVarG = data.descriptionVarG || \"\";\n        this.dateUpdateVarG = data.dateUpdateVarG || new Date().toISOString();\n\n        // normaliser proprietes : s'assurer que chaque prop a valeurs pour chaque instance\n        this.proprietes = (data.proprietes || []).map(p => {\n          const valeurs = {};\n          this.instances.forEach(inst => {\n            let raw = (p.valeurs && p.valeurs[inst] !== undefined) ? p.valeurs[inst] : undefined;\n            // essayer de parser les strings JSON (cas stocké en file)\n            try {\n              if (typeof raw === \"string\") {\n                // booleans stockés \"true\"/\"false\"\n                if (raw === \"true\") raw = true;\n                else if (raw === \"false\") raw = false;\n                else {\n                  // tenter JSON.parse\n                  const parsed = JSON.parse(raw);\n                  raw = parsed;\n                }\n              }\n            } catch (e) {\n              // leave raw as-is (string/number)\n            }\n            // si undefined -> default selon type\n            const val = (raw === undefined) ? (p.type ? this.defaultForType(p.type) : \"\") : raw;\n            valeurs[inst] = val;\n          });\n          return {\n            nom: p.nom || \"\",\n            abbr: p.abbr || \"\",\n            type: p.type || \"string\",\n            schema: p.schema || (p.type === \"object\" || p.type === \"array\" ? {} : null),\n            valeurs\n          };\n        });\n\n        // préparer la ligne d'ajout newProp initialValues\n        this.newProp = { nom: \"\", abbr: \"\", type: \"\", initialValues: {} };\n        this.instances.forEach(i => { this.$set(this.newProp.initialValues, i, \"\"); });\n      }\n    }\n  }\n};\n</script>\n\n<style scoped>\n  .var-editor {\n    padding: 12px;\n    font-family: Arial, sans-serif;\n  }\n\n  .table-wrap {\n    overflow-x: auto;\n    margin-bottom: 12px;\n  }\n\n  .properties-table {\n    border-collapse: collapse;\n    width: 100%;\n    min-width: 800px;\n  }\n\n  .properties-table th,\n  .properties-table td {\n    border: 1px solid #ddd;\n    padding: 6px;\n    text-align: center;\n  }\n\n  .properties-table th {\n    background: #f4f4f4;\n    position: sticky;\n    top: 0;\n  }\n\n  .edit-input {\n    width: 100%;\n    padding: 4px;\n    box-sizing: border-box;\n  }\n\n  .type-select {\n    width: 100%;\n    padding: 4px;\n  }\n\n  .instance-col {\n    min-width: 120px;\n  }\n\n  .add-row {\n    background: #fafafa;\n  }\n\n  .modal-inline {\n    margin: 12px 0;\n    padding: 12px;\n    border: 1px solid #ccc;\n    border-radius: 6px;\n    background: #fff;\n  }\n\n  .object-textarea {\n    width: 100%;\n    min-height: 80px;\n    font-family: monospace;\n    padding: 6px;\n  }\n\n  .schema-fields {\n    margin-bottom: 8px;\n  }\n\n  .schema-field {\n    display: flex;\n    gap: 8px;\n    align-items: center;\n    margin-bottom: 6px;\n  }\n\n  .schema-input {\n    padding: 4px;\n  }\n\n  .schema-type {\n    padding: 4px;\n  }\n\n  .schema-actions {\n    display: flex;\n    gap: 8px;\n    align-items: center;\n    margin: 8px 0;\n  }\n\n  .instances-box {\n    margin-top: 12px;\n    padding: 8px;\n    border: 1px solid #007BFF;\n    border-radius: 6px;\n    background: #f8fbff;\n  }\n\n  .instance-controls {\n    display: flex;\n    gap: 8px;\n    align-items: center;\n  }\n\n  .instance-input {\n    padding: 6px;\n    flex: 1;\n  }\n\n  .action-buttons {\n    margin-top: 12px;\n    display: flex;\n    gap: 8px;\n  }\n\n  .btn-add,\n  .btn-add-field,\n  .btn-save-big,\n  .btn-save {\n    background: #2e7d32;\n    color: white;\n    border: none;\n    padding: 6px 10px;\n    border-radius: 4px;\n    cursor: pointer;\n  }\n\n  .btn-delete,\n  .btn-del-field,\n  .btn-cancel,\n  .btn-cancel-big {\n    background: #d32f2f;\n    color: white;\n    border: none;\n    padding: 6px 10px;\n    border-radius: 4px;\n    cursor: pointer;\n  }\n\n  .btn-schema {\n    background: #ffb300;\n    padding: 4px 6px;\n    border-radius: 4px;\n    border: none;\n    cursor: pointer;\n  }\n\n  .btn-edit-schema {\n    background: #fff3e0;\n    border: 1px solid #e65100;\n    padding: 4px 6px;\n    border-radius: 4px;\n    cursor: pointer;\n  }\n\n  .small {\n    font-size: 0.85em;\n    padding: 4px 6px;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1450,
        "y": 1120,
        "wires": [
            [
                "15c0c58862aa5479"
            ]
        ]
    },
    {
        "id": "235d637e4517551e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "💾 SaveEnrichedVars",
        "func": "// === SaveEnrichedVars ===\n// Objectif : sauvegarder une variable enrichie dans enrichedVars (contexte global)\n// en nettoyant les données avant écriture.\n\nif (!msg.payload || !msg.payload.nomVarG) {\n  node.warn(\"SaveEnrichedVars: payload invalide\");\n  return null;\n}\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet v = JSON.parse(JSON.stringify(msg.payload)); // clone profond\n\n// 1) Nettoyage des instances\nv.instances = (Array.isArray(v.instances) ? v.instances : [])\n  .filter(i => (typeof i === \"string\") && i && !i.startsWith(\"_\"));\n\nif (v.instances.length === 0) v.instances = [\"*\"];\n\n// 2) Normalisation des propriétés\nv.proprietes = (v.proprietes || []).map(p => {\n  const valeurs = {};\n  v.instances.forEach(inst => {\n    valeurs[inst] = (p.valeurs && p.valeurs[inst] !== undefined) ? p.valeurs[inst] : \"\";\n  });\n  return {\n    nom: p.nom,\n    abbr: p.abbr || \"\",\n    type: p.type || \"string\",\n    schema: p.schema || null,\n    valeurs\n  };\n});\n\n// 3) Mise à jour de la date\nv.dateUpdateVarG = new Date().toISOString();\n\n// 4) Écriture dans enrichedVars\nenrichedVars[v.nomVarG] = v;\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\nglobal.set(\"enrichedVars\", enrichedVars, \"default\");\nnode.warn(\"Variables de test sauvegardées : \" + JSON.stringify(global.get(\"enrichedVars\", \"file\")));\nnode.status({ fill:\"green\", shape:\"dot\", text:\"Saved \" + v.nomVarG });\nreturn { payload: v };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1200,
        "wires": [
            [
                "80b5fac4ff99274d"
            ]
        ],
        "info": "abbrVarG intégré à la création et à la modification.\r\n\r\nindexInstances généré automatiquement à partir du nombre d’instances (texte).\r\n\r\nabbrProprietes toujours défini pour éviter les [object][object].\r\n\r\nGestion correcte du renommage et des collisions.\r\n\r\nmsg.info conservé pour le retour.\r\nTa fonction actuelle de sauvegarde est déjà bien structurée et couvre tous les cas nécessaires (y compris la gestion des abbrProprietes, des indexInstances, et la purification des propriétés supprimées). Pas besoin de la remplacer : elle est compatible avec le template que je t'ai fourni.\r\nVoici pourquoi elle est adaptée et comment elle fonctionne avec le template :\r\n\r\n1. Points Forts de Ta Fonction Actuelle\r\na. Gestion des Instances\r\n\r\ntoArray : Convertit les instances en tableau (même si c'est une chaîne).\r\nindexInstances : Généré automatiquement à partir des instances.\r\n\r\nb. Nettoyage des Propriétés\r\n\r\nFiltrage : Supprime les propriétés invalides (sans nom ou type).\r\nNormalisation : Convertit nom et type en chaînes (String).\r\n\r\nc. Gestion des Abréviations\r\n\r\nConservation : Copie les abbrProprietes existantes.\r\nNettoyage : Supprime les abréviations des propriétés supprimées.\r\n\r\nd. Valeurs par Instance\r\n\r\nConservation : Garde uniquement les valeurs des propriétés existantes.\r\n\r\nSérialisation des Objets/Tableaux\r\n"
    },
    {
        "id": "29a9c62c3fce5a67",
        "type": "debug",
        "z": "61d8f8019f224437",
        "name": "debug zazaz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "687783768b9592c1",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "fctiontemporaire",
        "func": "\n// debug_prepareTemplate (temporaire)\nnode.warn(\"prepareTemplate -> msg.payload reçu :\");\nnode.warn(JSON.stringify(msg.payload, null, 2));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1040,
        "wires": [
            [
                "6897deb55f1b160d"
            ]
        ]
    },
    {
        "id": "66d8b0c40873677e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "prepareTemplate",
        "func": "// === prepareTemplate ===\n// Objectif : transformer la variable enrichie stockée en contexte\n// en une structure cohérente et nettoyée pour le template d’édition.\n// === prepareTemplate ===\n// Objectif : transformer la variable enrichie stockée en contexte\n// en une structure cohérente et nettoyée pour le template d’édition.\n\nlet varName = flow.get(\"varSelected\") || msg.payload || null;\nif (!varName) {\n    node.warn(\"prepareTemplate: aucune variable sélectionnée !\");\n    msg.payload = null;\n    return msg;\n}\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet variable = enrichedVars[varName];\n\n// Cas variable non trouvée\nif (!variable) {\n    msg.payload = null;\n    msg.info = \"❌ Variable non trouvée\";\n    return msg;\n}\n\n// Helpers\nfunction defaultForType(t) {\n    switch (t) {\n        case \"boolean\": return false;\n        case \"int\":\n        case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// 1) Construire la liste des instances\nlet instances = Array.isArray(variable.instances) && variable.instances.length > 0\n    ? variable.instances.filter(i => (typeof i === \"string\") && i && !i.startsWith(\"_\"))\n    : [\"*\"];\n\n// 2) Construire les propriétés\nlet proprietes = [];\n\n// Vérifie si la variable a des propriétés\nif (variable.proprietes) {\n    proprietes = variable.proprietes.map(p => {\n        const type = p.type || \"string\";\n        const valeurs = {};\n        instances.forEach(inst => {\n            valeurs[inst] = p.valeurs && p.valeurs[inst] !== undefined ? p.valeurs[inst] : defaultForType(type);\n        });\n        return {\n            nom: p.nom || \"\",\n            abbr: p.abbr || \"\",\n            type: type,\n            valeurs: valeurs\n        };\n    });\n} else if (variable.proprietesByInstance && variable.proprietesByInstance.proprietes) {\n    proprietes = variable.proprietesByInstance.proprietes.map(p => {\n        const type = p.type || \"string\";\n        const valeurs = {};\n        instances.forEach(inst => {\n            valeurs[inst] = p.valeurs && p.valeurs[inst] !== undefined ? p.valeurs[inst] : defaultForType(type);\n        });\n        return {\n            nom: p.nom || \"\",\n            abbr: p.abbr || \"\",\n            type: type,\n            valeurs: valeurs\n        };\n    });\n} else {\n    node.warn(`Aucune propriété définie pour la variable ${varName}, tableau vide initialisé.`);\n}\n\n// 3) Préparer le payload final\nmsg.payload = {\n    nomVarG: variable.nomVarG || varName,\n    abbrVarG: variable.abbrVarG || \"\",\n    instances: instances,\n    proprietes: proprietes,\n    descriptionVarG: variable.descriptionVarG || \"\",\n    dateUpdateVarG: variable.dateUpdateVarG || new Date().toISOString()\n};\n\n// Ajouter les informations pour une nouvelle propriété\nmsg.newProp = {\n    nom: \"\",\n    abbr: \"\",\n    type: \"\",\n    initialValues: {}\n};\ninstances.forEach(i => {\n    msg.newProp.initialValues[i] = \"\";\n});\n\nmsg.info = \"✅ prepareTemplate terminé\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 960,
        "wires": [
            [
                "687783768b9592c1",
                "220d6b22e41612eb"
            ]
        ],
        "info": "Vérifie que la variable existe.\r\n\r\nAssure que abbrProprietes est toujours défini.\r\n\r\nGénère indexInstances automatiquement si absent ou incohérent.\r\n\r\nRenvoie un payload complet et prêt pour le template, avec tous les trois champs intégrés.\r\n\r\nConserve msg.info pour le log."
    },
    {
        "id": "cfbbfd49f307f390",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "valVarSelectInfo",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 660,
        "wires": [
            [
                "146ccaf8d971bb6f"
            ]
        ]
    },
    {
        "id": "8be5efb479292256",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 645,
        "y": 840,
        "wires": []
    },
    {
        "id": "b5f8f810a57b7547",
        "type": "function",
        "z": "61d8f8019f224437",
        "d": true,
        "name": "OldPrépare tableau enrichedVars",
        "func": "\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n// Verification provisoire\nconsole.log(\"Données chargées depuis global.json :\", enrichedVars);\n\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\n\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // Ignore les entrées invalides\n    if (!e.proprietesByInstance) return; // Ignore les objets incomplets\n\n    const props = e.proprietesByInstance?.proprietes || [];\n    const proprieteResume = props.length > 0\n        ? props.map(p => `${p.nom} (${p.type})`).join(\", \")\n        : \"(Aucune propriété définie)\";\n\n    const instances = e.instances || [\"*\"];\n\n    tableauPourUI.push({\n        nomVarG,\n        abbrVarG: e.abbrVarG || \"\",\n        instances: instances.join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ef8babf07b5794d7",
        "type": "function",
        "z": "61d8f8019f224437",
        "d": true,
        "name": "oldprepareTemplate",
        "func": "// === prepareTemplate ===\n// Objectif : transformer la variable enrichie stockée en contexte\n// en une structure cohérente et nettoyée pour le template d’édition.\n//\n// Entrée : flow.get(\"varSelected\")\n// Sortie : msg.payload = { nomVarG, abbrVarG, instances, proprietes, descriptionVarG, dateUpdateVarG }\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\n\n// Cas création d’une nouvelle variable\nif (varSelected === \"new\") {\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: [\"*\"],            // toujours au moins une instance\n        proprietes: [],              // vide au départ\n        descriptionVarG: \"- Objectif(s): - Origine: - Autres : \",\n        dateUpdateVarG: new Date().toISOString()\n    };\n    msg.info = \"➕ Nouvelle variable à définir.\";\n    return msg;\n}\n\n// Cas aucune variable sélectionnée\nif (!varSelected || !enrichedVars[varSelected]) {\n    if (Object.keys(enrichedVars).length === 0) {\n        msg.info = \"⚠️ Aucune variable définie dans enrichedVars.\";\n    } else {\n        msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n    }\n    msg.payload = null; // évite de polluer l’UI\n    return msg;\n}\n\n// Cas édition d’une variable existante\nlet variable = enrichedVars[varSelected];\n\n// Helpers\nfunction defaultForType(t) {\n    switch(t) {\n        case \"boolean\": return false;\n        case \"int\":\n        case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0,10);\n        default: return \"\";\n    }\n}\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch(type) {\n            case \"int\": return parseInt(value,10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch(e) {\n        return defaultForType(type);\n    }\n}\n\n// Construire la liste des instances\nlet instances = Array.isArray(variable.instances) \n    ? variable.instances.filter(i => typeof i === \"string\" && i && !i.startsWith(\"_\"))\n    : [];\n\nif (instances.length === 0) instances = [\"*\"];\n\n// Construire les propriétés\nlet proprietes = [];\nif (Array.isArray(variable.proprietes) && variable.proprietes.length > 0) {\n    proprietes = variable.proprietes.map(p => {\n        const type = p.type || \"string\";\n        const schema = p.schema || (type === \"object\" || type === \"array\" ? {} : null);\n        const valeurs = {};\n        instances.forEach(inst => {\n            const raw = (p.valeurs && p.valeurs[inst] !== undefined) ? p.valeurs[inst] : undefined;\n            valeurs[inst] = convertFromString(raw, type);\n        });\n        return {\n            nom: p.nom || \"\",\n            abbr: p.abbr || \"\",\n            type,\n            schema,\n            valeurs\n        };\n    });\n}\n\n// Payload final\nmsg.payload = {\n    nomVarG: variable.nomVarG || varSelected,\n    abbrVarG: variable.abbrVarG || \"\",\n    instances,\n    proprietes,\n    descriptionVarG: variable.descriptionVarG || \"\",\n    dateUpdateVarG: variable.dateUpdateVarG || new Date().toISOString()\n};\n\nmsg.info = `✅ Variable chargée : ${varSelected}`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 880,
        "wires": [
            []
        ],
        "info": "Vérifie que la variable existe.\r\n\r\nAssure que abbrProprietes est toujours défini.\r\n\r\nGénère indexInstances automatiquement si absent ou incohérent.\r\n\r\nRenvoie un payload complet et prêt pour le template, avec tous les trois champs intégrés.\r\n\r\nConserve msg.info pour le log."
    },
    {
        "id": "ac208ef77b5e8aea",
        "type": "ui-group",
        "name": "Accueil-AdminVarG",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "930a8a5e70986346",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2413c080e8f28938",
        "type": "ui-group",
        "name": "Grpe_Table",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group-vars",
        "type": "ui-group",
        "name": "Variable selectionnée",
        "page": "page-1",
        "width": 6,
        "height": 4,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "page-1",
        "type": "ui-page",
        "name": "P_admin-VarG",
        "ui": "930a8a5e70986346",
        "path": "/admin_varG",
        "icon": "dashboard",
        "layout": "notebook",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "1050ebb74976e9e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "10px"
        }
    }
]