FUTUR-DOC/I - Archive/Archive-SynthèseRZNov2025/code-provisoire/LastVersionProvisoire/codeflowsUI_VarG.json
[
    {
        "id": "61d8f8019f224437",
        "type": "tab",
        "label": "ui-VarG",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "845912dfc7f52350",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "IMP - Gestions des vars - Gestion enrichedVArs",
        "info": "",
        "x": 200,
        "y": 20,
        "wires": [],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "99cb7e3a13bcfea9",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "initialisationVarG",
        "label": "Initialiser",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "initVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "3067b101e57c3c54"
            ]
        ]
    },
    {
        "id": "4daa4c028ab11d10",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "synchro",
        "label": "Synchroniser",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "`refresh`",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "actuEtSauvVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "190c3a6de43291e2"
            ]
        ]
    },
    {
        "id": "ed8802fd3286c28f",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "gestion-VarG",
        "links": [
            "16644df1dfd047f1"
        ],
        "x": 145,
        "y": 200,
        "wires": [
            [
                "0978fb7503c67d99",
                "4daa4c028ab11d10",
                "99cb7e3a13bcfea9",
                "4ef989cc05f4298f",
                "4ca410851c12c5d5",
                "8d555467d1468198",
                "b6e0301c268b65ee"
            ]
        ]
    },
    {
        "id": "190c3a6de43291e2",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "synchronisation",
        "func": "// 🔄 synchronisation Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// Supprimer enrichedVars du stockage par défaut\nglobal.set(\"enrichedVars\", undefined, storeDefault);\n\n// Récupération des variables globales du stockage par défaut\nconst allKeys = global.keys(storeDefault) || [];\nlet globalVars = {};\nallKeys.forEach(key => {\n    if (key !== \"enrichedVars\") {\n        const val = global.get(key, storeDefault);\n        globalVars[key] = (typeof val === \"object\") ? JSON.parse(JSON.stringify(val)) : val;\n    }\n});\n\n// Chargement de enrichedVars depuis le stockage fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\n\n// 🔄 Conversion utile (string => typed)\nfunction convertFromString(value, type) {\n    if (value === null || value === undefined) return defaultForType(type);\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        return defaultForType(type);\n    }\n}\n\n// 🔄 Conversion utile (typed => string ou JSON)\nfunction convertToString(value, type) {\n    if (value === null || value === undefined) return \"\";\n    try {\n        switch (type) {\n            case \"array\":\n            case \"object\":\n                return JSON.stringify(value);\n            default:\n                return String(value);\n        }\n    } catch (err) {\n        return String(value);\n    }\n}\n\n// 🧠 Traitement des variables globales existantes\nObject.keys(globalVars).forEach(key => {\n    const val = globalVars[key];\n    const type = typeof val;\n    if (enrichedVars[key] && enrichedVars[key].instances && enrichedVars[key].proprietesByInstance) {\n        const { instances, proprietesByInstance } = enrichedVars[key];\n        const { proprietes } = proprietesByInstance;\n\n        // Initialiser les schémas pour les objets\n        proprietes.forEach(p => {\n            if (p.type === \"object\" && !p.schema) {\n                p.schema = {};\n            }\n        });\n\n        instances.forEach(instance => {\n            if (!proprietesByInstance.valeurs) proprietesByInstance.valeurs = {};\n            if (!proprietesByInstance.valeurs[instance]) proprietesByInstance.valeurs[instance] = {};\n            proprietes.forEach(prop => {\n                const propName = prop.nom;\n                const propType = prop.type;\n                const sourceValue = val?.[instance]?.[propName];\n                if (sourceValue !== undefined) {\n                    proprietesByInstance.valeurs[instance][propName] = convertFromString(sourceValue, propType);\n                } else {\n                    proprietesByInstance.valeurs[instance][propName] = defaultForType(propType);\n                }\n            });\n            // Gérer les abbrProprietes\n            if (val._abbrProprietes) {\n                proprietes.forEach(prop => {\n                    if (val._abbrProprietes[prop.nom]) prop.abbr = val._abbrProprietes[prop.nom];\n                });\n            }\n        });\n\n        // Gérer abbrVarG et indexInstances\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    } else {\n        // Variable simple (pas d’instance)\n        if (!enrichedVars[key]) {\n            enrichedVars[key] = {\n                nomVarG: key,\n                typeVarG: type,\n                instances: [\"*\"],\n                descriptionVarG: \"\",\n                dateUpdateVarG: new Date().toISOString(),\n                proprietesByInstance: {\n                    proprietes: [{ nom: \"*\", type }],\n                    valeurs: {\n                        \"*\": {\n                            \"*\": convertFromString(val, type)\n                        }\n                    }\n                }\n            };\n        } else {\n            // Met à jour valeur simple\n            enrichedVars[key].proprietesByInstance.valeurs = {\n                \"*\": {\n                    \"*\": convertFromString(val, type)\n                }\n            };\n        }\n        if (val._abbrVarG) enrichedVars[key].abbrVarG = val._abbrVarG;\n        if (val._indexInstances) enrichedVars[key].indexInstances = val._indexInstances;\n    }\n});\n\n// 🧠 Variables manquantes à restaurer dans default\nObject.keys(enrichedVars).forEach(key => {\n    if (!globalVars.hasOwnProperty(key)) {\n        const e = enrichedVars[key];\n        const instances = e.instances || [];\n        const props = e.proprietesByInstance?.proprietes || [];\n        const valeurs = e.proprietesByInstance?.valeurs || {};\n        let result = {};\n        instances.forEach(instance => {\n            result[instance] = {};\n            props.forEach(prop => {\n                const name = prop.nom;\n                const type = prop.type;\n                const value = valeurs?.[instance]?.[name];\n                result[instance][name] = convertFromString(value, type);\n            });\n            // Restaurer abbrProprietes côté mémoire\n            if (props.some(p => p.abbr)) {\n                result[instance]._abbrProprietes = {};\n                props.forEach(p => {\n                    if (p.abbr) result[instance]._abbrProprietes[p.nom] = p.abbr;\n                });\n            }\n        });\n        // Restaurer abbrVarG et indexInstances côté mémoire\n        if (e.abbrVarG) result._abbrVarG = e.abbrVarG;\n        if (e.indexInstances) result._indexInstances = e.indexInstances;\n        // S’il n’y a qu’une instance \"*\", on peut aplatir\n        if (instances.length === 1 && instances[0] === \"*\") {\n            global.set(key, result[\"*\"], storeDefault);\n        } else {\n            global.set(key, result, storeDefault);\n        }\n    }\n});\n\n// 💾 Enregistrer enrichedVars corrigé\nglobal.set(\"enrichedVars\", enrichedVars, storeFile);\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Synchronisation enrichedVars complète terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "82616735d3556ed1",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "// Les variables sont stockées dans deux types de stockage : \"default\" et \"file\".\r\n// Ce nœud synchronise les variables globales avec enrichedVars.\r\n// Il met à jour enrichedVars avec les variables globales actuelles\r\n// et s'assure que chaque variable suit la nouvelle structure définie.\r\n\r\n// Les variables sont structurées avec des propriétés comme nomVarG, instances, propriétés, etc.\r\n// La fonction gère également la restauration des variables globales manquantes depuis enrichedVars.\r\n// Elle prend en compte les instances et les sous-variables pour une synchronisation cohérente."
    },
    {
        "id": "3067b101e57c3c54",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "initialisationViaEnrichedVars",
        "func": "// 🔄 fonction initialisationViaEnrichedVars,  Fonction utilitaire pour les valeurs par défaut selon le type\nfunction defaultForType(type) {\n    switch (type) {\n        case \"boolean\": return false;\n        case \"int\": case \"number\": return 0;\n        case \"array\": return [];\n        case \"object\": return {};\n        case \"date\": return new Date().toISOString().slice(0, 10);\n        default: return \"\";\n    }\n}\n\n// Stores utilisés\nconst storeDefault = \"default\";\nconst storeFile = \"file\";\n\n// 1️⃣ - Nettoyer toutes les variables du store \"default\"\n(global.keys(storeDefault) || []).forEach(k => {\n    global.set(k, undefined, storeDefault);\n});\n\n// 2️⃣ - Récupérer enrichedVars depuis le fichier\nlet enrichedVars = global.get(\"enrichedVars\", storeFile) || {};\nnode.warn(\"Données chargées depuis le fichier : \" + JSON.stringify(enrichedVars));\n\n// 3️⃣ - Conversion : string → typé\nfunction convertFromString(value, type, defaultVal) {\n    if (value === null || value === undefined) {\n        if (defaultVal !== undefined) {\n            return defaultVal;\n        }\n        return defaultForType(type);\n    }\n    try {\n        switch (type) {\n            case \"int\": return parseInt(value, 10);\n            case \"number\": return parseFloat(value);\n            case \"boolean\": return (value === true || value === \"true\");\n            case \"string\": return String(value);\n            case \"array\": return Array.isArray(value) ? value : JSON.parse(value);\n            case \"object\": return typeof value === \"object\" ? value : JSON.parse(value);\n            case \"date\": return new Date(value);\n            default: return value;\n        }\n    } catch (err) {\n        if (defaultVal !== undefined) {\n            return defaultVal;\n        }\n        return defaultForType(type);  // Valeur par défaut en cas d'erreur\n    }\n}\n\n// 4️⃣ - Restaurer toutes les variables dans le store \"default\"\nObject.entries(enrichedVars).forEach(([key, e]) => {\n    const instances = e.instances || [\"*\"];\n    const props = e.proprietesByInstance?.proprietes || [];\n    const valeurs = e.proprietesByInstance?.valeurs || {};\n    let variable = {};\n\n    // Initialiser les valeurs par défaut pour les propriétés\n    props.forEach(p => {\n        if (p.type === \"object\" && !p.defaultVal) {\n            p.defaultVal = {};\n        }\n    });\n\n    // Remplissage des instances\n    instances.forEach(instance => {\n        variable[instance] = {};\n        props.forEach(prop => {\n            const name = prop.nom;\n            const type = prop.type;\n            const rawValue = valeurs?.[instance]?.[name];\n            const defaultVal = prop.defaultVal;\n\n            // Gestion des valeurs par défaut pour les objets\n            if (type === \"object\" && defaultVal) {\n                if (rawValue === undefined) {\n                    variable[instance][name] = JSON.parse(JSON.stringify(defaultVal));\n                } else {\n                    variable[instance][name] = convertFromString(rawValue, type, defaultVal);\n                }\n            } else {\n                variable[instance][name] = convertFromString(rawValue, type, defaultVal?.default);\n            }\n\n            if (prop.abbr) {\n                if (!variable._abbrProprietes) variable._abbrProprietes = {};\n                variable._abbrProprietes[name] = prop.abbr;\n            }\n        });\n    });\n\n    // Ajout des métadonnées globales\n    if (e.abbrVarG) variable._abbrVarG = e.abbrVarG;\n    if (e.indexInstances) variable._indexInstances = e.indexInstances;\n\n    // Sauvegarde dans memoryOnly\n    if (instances.length === 1 && instances[0] === \"*\") {\n        global.set(key, variable[\"*\"], storeDefault);\n    } else {\n        global.set(key, variable, storeDefault);\n    }\n});\n\n// 5️⃣ - Fin\nmsg.payload = enrichedVars;\nmsg.info = \"✅ Initialisation enrichie depuis enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 320,
        "wires": [
            [
                "88e8b278b6dd71f8",
                "9837eeae36ab98c7"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "b038870d9710cd7e",
        "type": "ui-control",
        "z": "61d8f8019f224437",
        "name": "afficheUiVarG",
        "ui": "930a8a5e70986346",
        "events": "all",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7716c497edc36604",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "order": 8,
        "width": "6",
        "height": "1",
        "name": "Info-1",
        "label": "Info : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "x": 2130,
        "y": 300,
        "wires": []
    },
    {
        "id": "0978fb7503c67d99",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "info",
                "pt": "msg",
                "to": "Les vars globales sont stockées dans enrichedVars dans un fichier et dans defaut (mémoire vive) après synchronisation",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "introAdmin",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "0c3bd13bbe17df4b"
            ]
        ]
    },
    {
        "id": "94830ea6ccd60644",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 300,
        "wires": [
            [
                "7716c497edc36604"
            ]
        ]
    },
    {
        "id": "0c3bd13bbe17df4b",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out msg Info",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1065,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0c9a5d567223063",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "link in msg Info",
        "links": [
            "0c3bd13bbe17df4b",
            "88e8b278b6dd71f8",
            "82616735d3556ed1",
            "40d3af83aa60d68f",
            "1042d5f8975bf72c",
            "92dd8dae04877424"
        ],
        "x": 1845,
        "y": 300,
        "wires": [
            [
                "94830ea6ccd60644"
            ]
        ]
    },
    {
        "id": "4ef989cc05f4298f",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "Retour",
        "label": "Retour  ",
        "order": 6,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tab\":\"P_Admin\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "grey",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "b038870d9710cd7e"
            ]
        ]
    },
    {
        "id": "f581b3778196453f",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "Retour ",
        "info": "",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a04fceb5191e187",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "Info",
        "info": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "88e8b278b6dd71f8",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link info",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1015,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ee913e5f49f6880",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "charge var G defaut depuis enrichedVars",
        "info": "",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "0c1608198b049142",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "Gestion Memoire",
        "info": "",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "82616735d3556ed1",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1015,
        "y": 440,
        "wires": []
    },
    {
        "id": "4ca410851c12c5d5",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "name": "sauvVarGdepuisDefaut",
        "label": "Sauvegarder",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "sauvVarG",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "0759dc296af2c0c0"
            ]
        ]
    },
    {
        "id": "0759dc296af2c0c0",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "sauvVarGlobalInFile",
        "func": "//function sauvVarGlobalInFile sauvegarde les variables du store default -> enrichedVars (file)\nfunction defaultForType(type) {\n  switch(type) {\n    case \"boolean\": return false;\n    case \"int\": case \"number\": return 0;\n    case \"array\": return [];\n    case \"object\": return {};\n    case \"date\": return new Date().toISOString().slice(0,10);\n    default: return \"\";\n  }\n}\nconst storeDefault = \"default\";\nconst allKeys = global.keys(storeDefault) || [];\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n\nfunction serializeForStore(value) {\n  if (value === null || value === undefined) return \"\";\n  if (Array.isArray(value) || typeof value === \"object\") return JSON.stringify(value);\n  if (typeof value === \"boolean\") return value ? \"true\" : \"false\";\n  return String(value);\n}\n\nallKeys.forEach(key => {\n  if (key === \"enrichedVars\") return;\n  const val = global.get(key, storeDefault);\n  if (val === undefined) return;\n\n  // si objet d'instances\n  if (val && typeof val === \"object\" && !Array.isArray(val)) {\n    const instances = Object.keys(val);\n    if (instances.length === 0) return;\n    const first = val[instances[0]];\n\n    // si first est objet -> propriétés\n    if (first && typeof first === \"object\") {\n      const props = Object.keys(first);\n      const propDefs = props.map(p => {\n        const v = first[p];\n        const t = Array.isArray(v) ? \"array\" : typeof v;\n        return { nom:p, type:t, schema: (t===\"object\")?{}:null };\n      });\n      const valeurs = {};\n      instances.forEach(inst => {\n        valeurs[inst] = {};\n        propDefs.forEach(({nom,type}) => {\n          const v = val[inst]?.[nom];\n          valeurs[inst][nom] = (type===\"object\"||type===\"array\") ? JSON.stringify(v) : serializeForStore(v);\n        });\n      });\n      enrichedVars[key] = {\n        nomVarG: key,\n        abbrVarG: val._abbrVarG || \"\",\n        typeVarG: \"object\",\n        instances,\n        descriptionVarG: \"Auto-export\",\n        dateUpdateVarG: new Date().toISOString(),\n        indexInstances: instances.map((_,i)=>String(i)).join(\",\"),\n        proprietesByInstance: {\n          proprietes: propDefs,\n          valeurs,\n          abbrProprietes: val._abbrProprietes || {}\n        }\n      };\n    } else {\n      // cas valeur simple\n      enrichedVars[key] = {\n        nomVarG: key,\n        abbrVarG: val._abbrVarG || \"\",\n        typeVarG: typeof val,\n        instances: [\"*\"],\n        descriptionVarG: \"Auto-export\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietesByInstance: {\n          proprietes: [{ nom:\"*\", type: typeof val }],\n          valeurs: { \"*\": { \"*\": serializeForStore(val) } },\n          abbrProprietes: val._abbrProprietes || {}\n        }\n      };\n    }\n  } else {\n    // autres cas : simple\n    enrichedVars[key] = {\n      nomVarG: key,\n      abbrVarG: \"\",\n      typeVarG: typeof val,\n      instances: [\"*\"],\n      descriptionVarG: \"Auto-export\",\n      dateUpdateVarG: new Date().toISOString(),\n      proprietesByInstance: {\n        proprietes: [{ nom:\"*\", type: typeof val }],\n        valeurs: { \"*\": { \"*\": serializeForStore(val) } },\n        abbrProprietes: {}\n      }\n    };\n  }\n});\n\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\nmsg.payload = enrichedVars;\nmsg.info = \"💾 Sauvegarde vers enrichedVars (file) terminée.\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 400,
        "wires": [
            [
                "40d3af83aa60d68f"
            ]
        ],
        "info": "♻️ Variables globales reconstruites à partir du fichier enrichedVars,\r\nen excluant enriched vars et d'autres si besoins\r\nrésultat toutes les autres sont envoyées dans le globale mémory (defaut) \r\navec leur nom, leur valeur typé correctement."
    },
    {
        "id": "40d3af83aa60d68f",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "c0c9a5d567223063"
        ],
        "x": 1015,
        "y": 400,
        "wires": []
    },
    {
        "id": "9837eeae36ab98c7",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "prepareTableauVars",
        "func": "//function prepareTableauVars\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nconsole.log(\"Données chargées depuis global.json :\", enrichedVars);\n\nlet tableauPourUI = [];\nflow.set(\"varSelected\", \"\");\n\nObject.entries(enrichedVars).forEach(([nomVarG, e]) => {\n    if (!nomVarG || !e || typeof e !== \"object\") return;  // Ignore les entrées invalides\n\n    let props = [];\n    let proprieteResume = \"(Aucune propriété définie)\";\n\n    // Vérifie si la structure contient `proprietes` ou `proprietesByInstance`\n    if (e.proprietes) {\n        props = e.proprietes;\n        proprieteResume = props.length > 0\n            ? props.map(p => `${p.nom} (${p.type})`).join(\", \")\n            : \"(Aucune propriété définie)\";\n    } else if (e.proprietesByInstance && e.proprietesByInstance.proprietes) {\n        props = e.proprietesByInstance.proprietes;\n        proprieteResume = props.length > 0\n            ? props.map(p => `${p.nom} (${p.type})`).join(\", \")\n            : \"(Aucune propriété définie)\";\n    }\n\n    const instances = e.instances || [\"*\"];\n\n    tableauPourUI.push({\n        nomVarG,\n        typeVarG: e.typeVarG || \"object\",\n        abbrVarG: e.abbrVarG || \"\",\n        instances: instances.join(\", \"),\n        proprietes: proprieteResume,\n        description: e.descriptionVarG || \"\"\n    });\n});\n\nmsg.payload = tableauPourUI;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 440,
        "wires": [
            [
                "8f78766bfeda5b43"
            ]
        ]
    },
    {
        "id": "8f78766bfeda5b43",
        "type": "ui-table",
        "z": "61d8f8019f224437",
        "group": "2413c080e8f28938",
        "name": "Table enrichedVars",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "",
        "autocols": true,
        "showSearch": true,
        "deselect": false,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nom",
                "key": "nomVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Type",
                "key": "typeVarG",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Instances",
                "key": "instances",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Propriétés",
                "key": "proprietes",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Description",
                "key": "description",
                "keyType": "key",
                "type": "text",
                "width": ""
            },
            {
                "title": "Détails",
                "key": "action",
                "keyType": "key",
                "type": "button",
                "width": ""
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "x": 1610,
        "y": 440,
        "wires": [
            [
                "01e77fa6dfd28e78"
            ]
        ]
    },
    {
        "id": "01e77fa6dfd28e78",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "recupVarSelected",
        "func": "// function recupVarSelected\nlet varSelected = null;\n\n// 1) Charger la liste des variables existantes\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet listeVars = Object.keys(enrichedVars);\n\n// 2) Cas bouton \"AjouterUneVarG\"\nif (msg.topic === \"newVarG\") {\n    varSelected = \"new\";\n    msg.topic = \"newVarG\";  // (optionnel)\n}\n// 3) Cas sélection depuis la table\nelse {\n    varSelected = msg.payload?.row?.nomVarG || msg.payload?.nomVarG || null;\n}\n\n// 4) Vérification si aucune sélection\nif (!varSelected) {\n    if (listeVars.length === 0) {\n        msg.info = \"⚠️ Aucune variable existante dans enrichedVars.\";\n    } else {\n        msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n    }\n    return msg; // on arrête ici\n}\n\n// 5) Stocker la variable sélectionnée dans le flow\nflow.set(\"varSelected\", varSelected);\n\n// 6) Construire le message d’info\nif (varSelected === \"new\") {\n    msg.info = \"➕ Création d’une nouvelle variable.\";\n} else {\n    msg.info = `✅ Vous êtes sur la variable : ${varSelected}`;\n}\n\n// 7) Retourner le résultat\nmsg.payload = varSelected;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 520,
        "wires": [
            [
                "92dd8dae04877424",
                "60713f919559c618",
                "cfbbfd49f307f390"
            ]
        ]
    },
    {
        "id": "60713f919559c618",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "prepareFormVarSelected",
        "func": "// function prepareFormVarSelected \nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\n\n// Cas création d’une nouvelle variable (via bouton \"AjouterUneVarG\")\nif (varSelected === \"new\") {\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: \"*\",\n        descriptionVarG: \"- Objectif(s): - Origine: - Autres : \",\n        dateUpdateVarG: new Date().toISOString()\n    };\n    msg.topic = \"newVarG\";\n}\n// Cas édition d’une variable existante sélectionnée\nelse if (varSelected && enrichedVars[varSelected]) {\n    const selected = enrichedVars[varSelected];\n    msg.payload = {\n        nomVarG: selected.nomVarG || \"\",\n        abbrVarG: selected.abbrVarG || \"\",\n        instances: selected.instances ? selected.instances.join(\", \") : \"\",\n        descriptionVarG: selected.descriptionVarG || \"\",\n        dateUpdateVarG: selected.dateUpdateVarG || new Date().toISOString()\n    };\n}\n// Cas où aucune variable n’est sélectionnée\nelse {\n    if (Object.keys(enrichedVars).length === 0) {\n        msg.info = \"⚠️ Aucune variable définie dans enrichedVars. Utilisez 'AjouterUneVarG' pour commencer.\";\n    } else {\n        msg.info = \"⚠️ Aucune variable sélectionnée pour édition.\";\n    }\n\n    // Payload neutre → évite le crash du formulaire\n    msg.payload = {\n        nomVarG: \"\",\n        abbrVarG: \"\",\n        instances: \"\",\n        descriptionVarG: \"\",\n        dateUpdateVarG: new Date().toISOString()\n    };\n\n    return msg; // on stoppe ici pour éviter d'aller plus loin\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 600,
        "wires": [
            [
                "6329f9a751f660fe",
                "8be5efb479292256"
            ]
        ],
        "info": "indexInstances généré automatiquement à partir du nombre d’instances, format texte ([\"0\",\"1\",…]).\r\n\r\nabbrProprietes initialisé depuis proprietesByInstance si disponible, sinon objet vide.\r\n\r\nmsg.info est toujours renvoyé pour trace/log."
    },
    {
        "id": "6329f9a751f660fe",
        "type": "ui-form",
        "z": "61d8f8019f224437",
        "name": "Form_Var_Modif",
        "group": "group-vars",
        "label": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nom de la variable (obligatoire)",
                "key": "nomVarG",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Abrev.NomVarG (3 caractères)",
                "key": "abbrVarG",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Instances (séparées par des virgules)",
                "key": "instances",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Description (3 lignes)",
                "key": "descriptionVarG",
                "type": "multiline",
                "required": false,
                "rows": 3
            },
            {
                "label": "Date mise à jour",
                "key": "dateUpdateVarG",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nomVarG": "",
            "abbrVarG": "",
            "instances": "",
            "descriptionVarG": "",
            "dateUpdateVarG": ""
        },
        "payload": "",
        "submit": "Enregistrer",
        "cancel": "Annuler",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [
            {
                "dropdown": "",
                "value": "string",
                "label": "String"
            },
            {
                "dropdown": "",
                "value": "array",
                "label": "Array"
            },
            {
                "dropdown": "",
                "value": "object",
                "label": "Object"
            },
            {
                "dropdown": "",
                "value": "number",
                "label": "Number"
            }
        ],
        "x": 680,
        "y": 660,
        "wires": [
            [
                "bbc9eff603a50f2e"
            ]
        ]
    },
    {
        "id": "bbc9eff603a50f2e",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "sauvVarSelected",
        "func": "//function sauvVarSelected\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\nlet formData = msg.payload;\n\nif (!formData || !formData.nomVarG) {\n    msg.info = \"❌ Formulaire incomplet ou variable non spécifiée.\";\n    return null;\n}\n\n// --- Normalisation du nom ---\nlet newName = formData.nomVarG.trim();\n\n// Vérification caractères autorisés (A-Z, a-z, 0-9, _)\nif (!/^[A-Za-z0-9_]+$/.test(newName)) {\n    msg.info = `❌ Nom de variable invalide ('${newName}'). Utilise uniquement lettres, chiffres ou '_'`;\n    return null;\n}\n\nlet oldName = varSelected;\n\n// --- Cas création ---\nif (!enrichedVars[oldName]) {\n    if (enrichedVars[newName]) {\n        msg.info = `❌ Impossible de créer '${newName}', une variable existe déjà avec ce nom.`;\n        return null;\n    }\n\n    enrichedVars[newName] = {\n        nomVarG: newName,\n        abbrVarG: formData.abbrVarG || \"\",\n        instances: formData.instances\n            ? formData.instances.split(\",\").map(e => e.trim())\n            : [\"*\"],\n        descriptionVarG: formData.descriptionVarG || \"\",\n        dateUpdateVarG: new Date().toISOString(),\n        proprietes: []\n    };\n\n    flow.set(\"varSelected\", newName);\n    global.set(\"enrichedVars\", enrichedVars, \"file\");\n\n    msg.payload = newName;\n    msg.info = `✅ Nouvelle variable créée : ${newName}`;\n    return msg;\n}\n\n// --- Cas modification ---\nlet current = enrichedVars[oldName];\n\n// Si le nom change\nif (oldName !== newName) {\n    if (enrichedVars[newName]) {\n        msg.info = `⚠️ '${newName}' existe déjà, impossible de renommer '${oldName}'`;\n        return null;\n    }\n\n    enrichedVars[newName] = current;\n    delete enrichedVars[oldName];\n    flow.set(\"varSelected\", newName);\n}\n\n// Instances actuelles et nouvelles\nlet newInstances = formData.instances\n    ? formData.instances.split(\",\").map(e => e.trim())\n    : current.instances;\n\nlet oldInstances = current.instances || [];\n\n// Synchronisation des propriétés\n(current.proprietes || []).forEach(prop => {\n    prop.valeurs = prop.valeurs || {};\n\n    // Ajouter les nouvelles instances avec valeur par défaut\n    newInstances.forEach(inst => {\n        if (!(inst in prop.valeurs)) {\n            // valeur par défaut dépend du type\n            switch (prop.type) {\n                case \"boolean\":\n                    prop.valeurs[inst] = false;\n                    break;\n                case \"int\":\n                case \"number\":\n                    prop.valeurs[inst] = 0;\n                    break;\n                case \"array\":\n                    prop.valeurs[inst] = [];\n                    break;\n                case \"object\":\n                    prop.valeurs[inst] = {};\n                    break;\n                case \"date\":\n                    prop.valeurs[inst] = new Date().toISOString().slice(0, 10);\n                    break;\n                default:\n                    prop.valeurs[inst] = \"\";\n            }\n        }\n    });\n\n    // Supprimer les valeurs des instances disparues\n    oldInstances.forEach(inst => {\n        if (!newInstances.includes(inst)) {\n            delete prop.valeurs[inst];\n        }\n    });\n});\n\n// Mise à jour de la variable\nenrichedVars[newName || oldName] = {\n    ...enrichedVars[newName || oldName],\n    nomVarG: newName,\n    abbrVarG: formData.abbrVarG || enrichedVars[newName || oldName].abbrVarG,\n    instances: newInstances,\n    descriptionVarG:\n        formData.descriptionVarG ||\n        enrichedVars[newName || oldName].descriptionVarG,\n    dateUpdateVarG: new Date().toISOString()\n};\n\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\nmsg.payload = newName || oldName;\nmsg.info = `✅ Variable ${\n    oldName !== newName ? `renommée de '${oldName}' en '${newName}' et ` : \"\"\n}mise à jour.`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 660,
        "wires": [
            [
                "1042d5f8975bf72c"
            ]
        ],
        "info": "Gère création et modification.\r\n\r\nIntègre correctement les champs abbrVarG, indexInstances, abbrProprietes.\r\n\r\nGénère automatiquement les index à partir du nombre d’instances si nécessaire.\r\n\r\nConserve msg.info pour le log/tracking."
    },
    {
        "id": "87b5dcd3712b7bac",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ef6d5c69e6fb27fa",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "info3Notification",
        "label": "🛠 Paramètres - ",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#1100ff",
        "wrapText": false,
        "className": "",
        "x": 2160,
        "y": 680,
        "wires": []
    },
    {
        "id": "80b5fac4ff99274d",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 680,
        "wires": [
            [
                "87b5dcd3712b7bac"
            ]
        ]
    },
    {
        "id": "f0e1d30feeae35da",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ef6d5c69e6fb27fa",
        "name": "editerPropriete",
        "label": "🛠️ Éditer les propriétés",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "editPropriete",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "7c87fcf7cc12a44f"
            ]
        ]
    },
    {
        "id": "cb9057b4c08408fe",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "supprimerVarG",
        "func": "// function : supprimerVarG\nif (msg.payload === \"confirm_clicked\") {\n  const varSelected = flow.get(\"varSelected\");\n  if (!varSelected) {\n    msg.info = \"⚠️ Rien à supprimer.\";\n    return msg;\n  }\n  let enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\n  delete enrichedVars[varSelected];\n  delete enrichedVars[\"\"];//supprime var fantome\n  global.set(\"enrichedVars\", enrichedVars, \"file\");\n  global.set(varSelected, undefined, \"default\");\n  flow.set(\"varSelected\", \"none\");\n  msg.payload = \"none\";\n  msg.info = `✅ Variable \"${varSelected}\" supprimée.`;\n}\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 600,
        "wires": [
            [
                "41624c5939f6a592"
            ]
        ]
    },
    {
        "id": "2e07ed481887efda",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "supprimerVarG",
        "label": "❌ Supprimer Var",
        "order": 3,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "Cliquez pour supprimer la variable sélectionnée",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "demande-confirmation",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "red",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 540,
        "y": 600,
        "wires": [
            [
                "2eb6fc9cb7ff04da"
            ]
        ]
    },
    {
        "id": "2eb6fc9cb7ff04da",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "open-dialog",
        "func": "const varSelected = flow.get(\"varSelected\") || null;\n\nif (!varSelected || varSelected === \"none\" || varSelected === \"new\") {\n    msg.info = \"⚠️ Aucune variable sélectionnée à supprimer.\";\n    return msg;\n}\n\n// Préparer un message pour ui-dialog\nmsg.payload = {\n    title: \"⚠️ Confirmation suppression\",\n    message: `Voulez-vous vraiment supprimer la variable \"${varSelected}\" ?`,\n    buttons: [\n        { label: \"❌ Annuler\", value: \"cancel\" },\n        { label: \"✅ Supprimer\", value: \"confirm\", class: \"red\" }\n    ]\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 600,
        "wires": [
            [
                "cb9057b4c08408fe"
            ]
        ]
    },
    {
        "id": "a176f9f3e358f455",
        "type": "link in",
        "z": "61d8f8019f224437",
        "name": "notifInModifVarSelected",
        "links": [
            "1042d5f8975bf72c",
            "41624c5939f6a592",
            "92dd8dae04877424",
            "8be5efb479292256",
            "3f98a1c96e0e2589",
            "6e2afabb1df4f7e3",
            "fee6d3933944f914"
        ],
        "x": 1835,
        "y": 680,
        "wires": [
            [
                "80b5fac4ff99274d"
            ]
        ]
    },
    {
        "id": "92dd8dae04877424",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "a176f9f3e358f455",
            "c0c9a5d567223063"
        ],
        "x": 1835,
        "y": 460,
        "wires": []
    },
    {
        "id": "1042d5f8975bf72c",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "a176f9f3e358f455",
            "c0c9a5d567223063"
        ],
        "x": 1085,
        "y": 660,
        "wires": []
    },
    {
        "id": "41624c5939f6a592",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1085,
        "y": 600,
        "wires": []
    },
    {
        "id": "8d555467d1468198",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "name": "ajouterUneVarG",
        "label": "➕ New varG ",
        "order": 2,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "newVarG",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "01e77fa6dfd28e78"
            ]
        ]
    },
    {
        "id": "91b31ef2ab20d373",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "ac208ef77b5e8aea",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "TitreEntete",
        "label": "Tableau des variables - Choisir une action, ou selectionner une variable",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#0000ff",
        "wrapText": true,
        "className": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "b6e0301c268b65ee",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "91b31ef2ab20d373"
            ]
        ]
    },
    {
        "id": "146ccaf8d971bb6f",
        "type": "ui-text",
        "z": "61d8f8019f224437",
        "group": "group-vars",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "info2TitreVarModif",
        "label": "🛠Variable slectionnée",
        "format": "{{msg.info}}",
        "layout": "row-left",
        "style": true,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#0000ff",
        "wrapText": false,
        "className": "",
        "x": 2130,
        "y": 520,
        "wires": []
    },
    {
        "id": "cfbbfd49f307f390",
        "type": "change",
        "z": "61d8f8019f224437",
        "name": "valVarSelectInfo",
        "rules": [
            {
                "t": "move",
                "p": "info",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 520,
        "wires": [
            [
                "146ccaf8d971bb6f"
            ]
        ]
    },
    {
        "id": "8be5efb479292256",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1445,
        "y": 600,
        "wires": []
    },
    {
        "id": "e59988c48f192389",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "saveSchemaOrRow",
        "func": "// === saveSchemaOrRow ===\n// Sauvegarde cohérente d’une propriété (ajout ou édition) \n// Ne touche PAS à la liste des instances (gérée par Form_Var_Modif)\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\");\n\nif (!varSelected || !enrichedVars[varSelected]) {\n    node.warn(\"❌ Aucune variable sélectionnée pour sauvegarde propriété.\");\n    return null;\n}\n\n// Récupération de la variable concernée\nlet currentVar = enrichedVars[varSelected];\n\n// Normalisation : s’assurer que proprietes existe\nif (!Array.isArray(currentVar.proprietes)) {\n    currentVar.proprietes = [];\n}\n\n// Données venant du formulaire (Form Edit Prop ou Schéma)\nlet form = msg.payload;\nif (!form || !form.nom) {\n    node.warn(\"❌ Propriété invalide ou incomplète\");\n    return null;\n}\n\n// Construction de la propriété normalisée\nlet newProp = {\n    nom: form.nom,\n    abbr: form.abbr || \"\",\n    type: form.type || \"string\",\n    schema: form.schema || null,\n    valeurs: {}\n};\n\n// Initialisation des valeurs pour CHAQUE instance existante\n(currentVar.instances || [\"*\"]).forEach(inst => {\n    if (form.instanceValues && form.instanceValues[inst] !== undefined) {\n        // On garde la valeur transmise si dispo\n        newProp.valeurs[inst] = form.instanceValues[inst];\n    } else if (form.defaut !== undefined && form.defaut !== null) {\n        // Sinon on copie la valeur défaut\n        newProp.valeurs[inst] = form.defaut;\n    } else {\n        // Sinon fallback en fonction du type\n        switch (newProp.type) {\n            case \"boolean\": newProp.valeurs[inst] = false; break;\n            case \"int\":\n            case \"number\": newProp.valeurs[inst] = 0; break;\n            case \"array\": newProp.valeurs[inst] = []; break;\n            case \"object\": newProp.valeurs[inst] = {}; break;\n            case \"date\": newProp.valeurs[inst] = new Date().toISOString(); break;\n            default: newProp.valeurs[inst] = \"\";\n        }\n    }\n});\n\n// Recherche si la propriété existe déjà\nlet idx = currentVar.proprietes.findIndex(p => p.nom === newProp.nom);\n\nif (idx >= 0) {\n    // --- Mise à jour d’une propriété existante ---\n    currentVar.proprietes[idx] = newProp;\n    msg.info = `✅ Propriété '${newProp.nom}' mise à jour pour '${varSelected}'.`;\n} else {\n    // --- Ajout d’une nouvelle propriété ---\n    currentVar.proprietes.push(newProp);\n    msg.info = `✅ Nouvelle propriété '${newProp.nom}' ajoutée à '${varSelected}'.`;\n}\n\n// Mise à jour date\ncurrentVar.dateUpdateVarG = new Date().toISOString();\n\n// Sauvegarde globale\nenrichedVars[varSelected] = currentVar;\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\n// Renvoi du contenu mis à jour\nmsg.payload = currentVar;\nmsg.topic = \"savePropertyDone\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 900,
        "wires": [
            [
                "fee6d3933944f914"
            ]
        ]
    },
    {
        "id": "7c87fcf7cc12a44f",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "prepareTable",
        "func": "// prepareTable (version robuste pour FlowFuse ui-table - Dashboard2)\n// Lit global.enrichedVars (file) et flow.varSelected,\n// construit msg.ui_control.columns et msg.payload (array of rows).\n\nlet enriched = global.get(\"enrichedVars\",\"file\") || {};\nlet varSelected = flow.get(\"varSelected\") || null;\n\nnode.warn(\"prepareTable -> varSelected = \" + String(varSelected));\n\nif (!varSelected || !enriched[varSelected]) {\n  msg.payload = [];\n  msg.info = \"⚠️ Aucune variable sélectionnée / variable introuvable.\";\n  return msg;\n}\n\nlet V = enriched[varSelected];\nlet instances = Array.isArray(V.instances) && V.instances.length ? V.instances.slice() : [\"*\"];\n\n// Colonnes : nom, abbr, type, defaut, puis une colonne par instance, puis actions\nlet cols = [\n  { field: \"nom\", title: \"Nom propriété\" },\n  { field: \"abbr\", title: \"Abbr\" },\n  { field: \"type\", title: \"Type\" },\n  { field: \"defaut\", title: \"Valeur défaut (JSON)\" }\n];\ninstances.forEach(inst => {\n  cols.push({ field: \"inst_\" + inst, title: inst });\n});\n// Colonne action = bouton (formatter button)\ncols.push({\n  field: \"edit\",\n  title: \"Actions\",\n  formatter: \"button\",\n  formatterParams: { label: \"✏️ Edit\" }\n});\n\n// Envoyer les colonnes dynamiquement au ui-table\nmsg.ui_control = {\n  columns: cols,\n  options: {\n    layout: \"fitData\",\n    rowHeight: 36,\n    resizableColumns: true\n  }\n};\n\n// Construire les lignes : forcer tout en string lisible (JSON pour objets/arrays)\nlet rows = (V.proprietes || []).map(p => {\n  const row = {\n    _propName: p.nom,\n    nom: p.nom,\n    abbr: p.abbr || \"\",\n    type: p.type || \"\"\n  };\n\n  // valeur par défaut : priorité prop.valeurs[\"*\"] sinon prop.defaut\n  let defaultVal = (p.valeurs && p.valeurs[\"*\"] !== undefined) ? p.valeurs[\"*\"]\n                  : (p.defaut !== undefined ? p.defaut : null);\n\n  row.defaut = (defaultVal === null || defaultVal === undefined)\n                ? \"\"\n                : (typeof defaultVal === \"object\" ? JSON.stringify(defaultVal) : String(defaultVal));\n\n  // valeurs par instance\n  instances.forEach(inst => {\n    let v;\n    if (p.valeurs && p.valeurs[inst] !== undefined) v = p.valeurs[inst];\n    else v = \"*\"; // hérite du défaut\n\n    row[\"inst_\" + inst] = (v === \"*\" ? \"*\" : (typeof v === \"object\" ? JSON.stringify(v) : String(v)));\n  });\n\n  // valeur arbitraire pour activer le bouton\n  row.edit = \"edit\";\n  return row;\n});\n\nmsg.payload = rows;\nmsg.info = `ℹ️ Variable : ${V.nomVarG || varSelected} — ${rows.length} propriété(ies) — instances: ${instances.join(\",\")}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 840,
        "wires": [
            [
                "5cfd5f349af60c24",
                "6e2afabb1df4f7e3"
            ]
        ]
    },
    {
        "id": "25138c8bf86d9db4",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "onTableEvent",
        "func": "// On ne traite que les clics sur bouton \"edit\"\nif (msg.topic !== \"editProperty\" || !msg.payload) {\n    return null;\n}\n\nlet row = msg.payload;\n\n// Préparer le message attendu par ton ui-form\nmsg.topic = \"editProperty\";\nmsg.payload = {\n    nom: row.nom || row._propName || \"\",\n    abbr: row.abbr || \"\",\n    type: row.type || \"string\",\n    defaut: row.defaut !== undefined ? row.defaut : \"\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 860,
        "wires": [
            [
                "6f398e6e1c8feb1c"
            ]
        ]
    },
    {
        "id": "6f398e6e1c8feb1c",
        "type": "ui-form",
        "z": "61d8f8019f224437",
        "name": "formEditProp",
        "group": "9a6725a5d72b9f2a",
        "label": "",
        "order": 3,
        "width": "20",
        "height": "8",
        "options": [
            {
                "label": "NomP",
                "key": "nom",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "AbréviationP",
                "key": "abbr",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "TypeP",
                "key": "type",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "Valeur défaut (JSON)",
                "key": "defaut",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nom": "",
            "abbr": "",
            "type": "",
            "defaut": ""
        },
        "payload": "",
        "submit": "ok",
        "cancel": "",
        "resetOnSubmit": false,
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [
            {
                "dropdown": "type",
                "value": "boolean",
                "label": "boolean"
            },
            {
                "dropdown": "type",
                "value": "string",
                "label": "texte"
            },
            {
                "dropdown": "type",
                "value": "number",
                "label": "nombre"
            },
            {
                "dropdown": "type",
                "value": "int",
                "label": "entier"
            },
            {
                "dropdown": "type",
                "value": "array",
                "label": "tableau"
            },
            {
                "dropdown": "type",
                "value": "object",
                "label": "objet"
            }
        ],
        "x": 1450,
        "y": 900,
        "wires": [
            [
                "e59988c48f192389"
            ]
        ]
    },
    {
        "id": "5cfd5f349af60c24",
        "type": "ui-template",
        "z": "61d8f8019f224437",
        "group": "ef6d5c69e6fb27fa",
        "page": "",
        "ui": "",
        "name": "templateTablePropriete",
        "order": 5,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div>\n    <h3>Table propriétés</h3>\n    <table class=\"props-table\">\n      <thead>\n        <tr>\n          <th v-for=\"col in columns\" :key=\"col.field\">\n            {{ col.title }}\n          </th>\n        </tr>\n      </thead>\n      <tbody>\n        <tr v-for=\"(row, idx) in rows\" :key=\"idx\">\n          <td v-for=\"col in columns\" :key=\"col.field\">\n            <!-- Cas particulier pour \"edit\" -->\n            <button v-if=\"col.field === 'edit'\" @click=\"onEdit(row)\">✏️</button>\n            <span v-else>{{ row[col.field] }}</span>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      columns: [],\n      rows: []\n    };\n  },\n  methods: {\n    onEdit(row) {\n      this.send({topic:\"editProperty\", payload: row});\n    }\n  },\n  watch: {\n    msg: {\n      immediate: true,\n      handler(newMsg) {\n        if (!newMsg) return;\n        this.columns = (newMsg.ui_control && newMsg.ui_control.columns) || [];\n        this.rows = newMsg.payload || [];\n      }\n    }\n  }\n};\n</script>\n\n<style>\n.props-table {\n  border-collapse: collapse;\n  width: 100%;\n}\n.props-table th, .props-table td {\n  border: 1px solid #ccc;\n  padding: 6px;\n  text-align: left;\n}\n</style>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1050,
        "y": 860,
        "wires": [
            [
                "25138c8bf86d9db4"
            ]
        ]
    },
    {
        "id": "e45e8733995e6785",
        "type": "function",
        "z": "61d8f8019f224437",
        "name": "deleteProperty",
        "func": "// === deleteProperty ===\n// Supprime une propriété d’une variable enrichie\n// ⚠️ Ne touche PAS aux instances (gérées par Form_Var_Modif)\n\nlet enrichedVars = global.get(\"enrichedVars\", \"file\") || {};\nlet varSelected = flow.get(\"varSelected\");\n\nif (!varSelected || !enrichedVars[varSelected]) {\n    node.warn(\"❌ Aucune variable sélectionnée pour suppression propriété.\");\n    return null;\n}\n\n// Récupération de la variable courante\nlet currentVar = enrichedVars[varSelected];\n\n// Normalisation\nif (!Array.isArray(currentVar.proprietes)) {\n    currentVar.proprietes = [];\n}\n\n// Nom de la propriété à supprimer\nlet propName = msg.payload?.propName || msg.payload?.nom;\nif (!propName) {\n    node.warn(\"❌ Aucun nom de propriété fourni pour suppression.\");\n    return null;\n}\n\n// Recherche de la propriété\nlet idx = currentVar.proprietes.findIndex(p => p.nom === propName);\n\nif (idx >= 0) {\n    // Suppression\n    currentVar.proprietes.splice(idx, 1);\n    msg.info = `🗑️ Propriété '${propName}' supprimée de '${varSelected}'.`;\n} else {\n    msg.info = `⚠️ Propriété '${propName}' introuvable dans '${varSelected}'.`;\n}\n\n// Mise à jour de la date\ncurrentVar.dateUpdateVarG = new Date().toISOString();\n\n// Sauvegarde globale\nenrichedVars[varSelected] = currentVar;\nglobal.set(\"enrichedVars\", enrichedVars, \"file\");\n\n// Renvoi du contenu mis à jour\nmsg.payload = currentVar;\nmsg.topic = \"deletePropertyDone\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 740,
        "wires": [
            [
                "3f98a1c96e0e2589"
            ]
        ]
    },
    {
        "id": "a25837a076ac648b",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ef6d5c69e6fb27fa",
        "name": "supprimerPropriete",
        "label": "❌ Supprimer une propriété",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "red",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "e45e8733995e6785"
            ]
        ]
    },
    {
        "id": "2513b7e468166584",
        "type": "ui-button",
        "z": "61d8f8019f224437",
        "group": "ef6d5c69e6fb27fa",
        "name": "ajouterPropriete",
        "label": "➕ Ajouter une propriété",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "\"\"",
        "payloadType": "str",
        "topic": "newPropriete",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 520,
        "y": 900,
        "wires": [
            [
                "6f398e6e1c8feb1c"
            ]
        ]
    },
    {
        "id": "3f98a1c96e0e2589",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1035,
        "y": 740,
        "wires": []
    },
    {
        "id": "6e2afabb1df4f7e3",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1035,
        "y": 820,
        "wires": []
    },
    {
        "id": "fee6d3933944f914",
        "type": "link out",
        "z": "61d8f8019f224437",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "a176f9f3e358f455"
        ],
        "x": 1855,
        "y": 900,
        "wires": []
    },
    {
        "id": "b32de77ebefdd6e8",
        "type": "comment",
        "z": "61d8f8019f224437",
        "name": "manque un dropdown",
        "info": "",
        "x": 700,
        "y": 780,
        "wires": []
    },
    {
        "id": "ac208ef77b5e8aea",
        "type": "ui-group",
        "name": "Accueil-AdminVarG",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "930a8a5e70986346",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "2413c080e8f28938",
        "type": "ui-group",
        "name": "GrpeTableVar",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group-vars",
        "type": "ui-group",
        "name": "Variable selectionnée",
        "page": "page-1",
        "width": 6,
        "height": 4,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ef6d5c69e6fb27fa",
        "type": "ui-group",
        "name": "Grpe_Propriete",
        "page": "page-1",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9a6725a5d72b9f2a",
        "type": "ui-group",
        "name": "Vue et Gestion Globale",
        "page": "45a216767c8e24b3",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "page-1",
        "type": "ui-page",
        "name": "P_admin-VarG",
        "ui": "930a8a5e70986346",
        "path": "/admin_varG",
        "icon": "dashboard",
        "layout": "notebook",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "45a216767c8e24b3",
        "type": "ui-page",
        "name": "P_admin-Regles",
        "ui": "930a8a5e70986346",
        "path": "/admin-Regles",
        "icon": "home",
        "layout": "tabs",
        "theme": "1050ebb74976e9e1",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 7,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1050ebb74976e9e1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "4px",
            "groupBorderRadius": "4px",
            "widgetGap": "10px"
        }
    }
]